@font-face {
    font-family: "SamsungSans_th";
    src: url("../fonts/SamsungSans_Th.ttf") format("truetype");
}

.press #content {
    width: 960px!important;
}
.pt_aboutus #mainCtnt #content {
    padding: 0;
    width: 720px;
}
.pt_aboutus #mainCtnt #leftcolumn {
    padding: 0;
    width: 240px;
}
#mainCtnt #leftcolumn ul.mainCtntMenu li, #mainCtnt_left_title_link {
    padding: 8px;
    border-bottom: 1px solid #d9d9d9;
    font-size: 14px;
    line-height: 14px;
    text-transform: uppercase;
    font-family: SamsungSans,  sans-serif;
    font-weight: 400;
}
.pt_aboutus #mainCtnt #leftcolumn ul.mainCtntMenu {
    width: 204px;
}
#mainCtnt {
    margin: 20px auto auto;
    overflow: hidden;
    position: relative;
    top: 0;
    width: 1200px;
}
#mainCtnt #leftcolumn {
    width: 190px;
    padding: 0 20px;
    float: left;
    overflow: hidden;
    border: 0;
    margin: 0;
}
#mainCtnt #leftcolumn ul.mainCtntMenu {
    overflow: hidden;

    border: 1px solid #d9d9d9;
    padding: 0;
}
#mainCtnt #leftcolumn ul.mainCtntMenu li {
    color: #535353;
}
#mainCtnt #leftcolumn ul.mainCtntMenu li .headerlink {
    font-size: 14px;
    line-height: 14px;
    color: #2B2B2B;
}
#mainCtnt_left_title_link {
    color: #535353;
}
#mainCtnt #leftcolumn ul.mainCtntMenu li.subMenu {
    padding: 0 8px 0 15px;
}
#mainCtnt #leftcolumn ul.mainCtntMenu li.selectedMenu {
    border-bottom: none;
    padding: 10px 8px 10px 16px;
    background: url(../images/arrowopen.gif) 7px center no-repeat;
    cursor: pointer;
    font-size: 11px;
    line-height: 14px;
    color: #646464;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
}
#mainCtnt #leftcolumn ul.mainCtntMenu li.subMenu a {
    padding: 0 8px;
    background: 0 0;
    cursor: pointer;
    font-size: 11px;
    line-height: 12px;
    color: #646464;
    font-weight: 400;
    text-transform: none;
    text-decoration: none;
}
#mainCtnt #leftcolumn ul.mainCtntMenu li.subMenu a:hover {
    text-decoration: underline;
    color: #646464;
}
#mainCtnt #leftcolumn ul.mainCtntMenu li a {
    
    background: url(../images/arrow.gif) center left no-repeat;
    cursor: pointer;
    font-size: 11px;
    line-height: 14px;
    color: #2B2B2B;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
}
#mainCtnt #leftcolumn ul.mainCtntMenu li a:hover {
    text-decoration: none;
    color: #535353;
}
#mainCtnt #content .aboutContentWrapper h2, #mainCtnt #content .aboutUsHeader h2 {
    font-size: 23px;
    line-height: 23px;
    color: #5a5a5a;
    text-transform: uppercase;
    font-weight: 400;
}
#mainCtnt #content {
    width: 725px;
    padding: 0 0 0 5px;
    float: left;
    overflow: hidden;
    border: 0;
    margin: 0;
}
#mainCtnt #content .aboutUsHeader {
    overflow: hidden;
    width: auto;
    margin: 20px 0;
}
#mainCtnt #content .aboutUsHeader h2 {
    border-bottom: 1px solid #d9d9d9;
    padding: 0 0 5px 30px;
    margin: 0 0 1px;
    overflow: hidden;
    width: auto;
    display: block;
}
#mainCtnt #content .aboutContentWrapper {
    width: 720px;
    overflow: hidden;
    margin: 0 auto 20px;
    font-family: SamsungSans, sans-serif;
}
#mainCtnt #content .aboutContentWrapper h2 {
    padding: 0 0 10px;
    margin: 0;
}
#mainCtnt #content .aboutContentWrapper p {
    line-height: 25px;
    color: #2B2B2B;
    margin-bottom: 0;
    text-transform: none;
    font-size: 14px !important;
}
#mainCtnt #content .aboutContentWrapper a {
    color: #606061;
    text-decoration: none;
}
#mainCtnt #content .aboutContentWrapper a:hover {
    text-decoration: underline;
}
#mainCtnt #content .aboutContentWrapper a.learnMore {
    background: url(../images/orangearrow.jpg) center right no-repeat;
    padding-right: 8px;
    font-size: 12px;
    line-height: 12px;
    text-transform: uppercase;
    margin-bottom: 15px;
}
#mainCtnt #content .aboutContentWrapper h2 .h2italic, #mainCtnt #content .aboutUsHeader h2 .h2italic {
    text-transform: lowercase;
    font-style: italic;
}
#mainCtnt #content .aboutContentWrapper .aboutSubContent .bordered {
    width: auto;
    border: 1px solid #d9d9d9;
    padding: 15px;
    overflow: hidden;
}
#mainCtnt #content .aboutContentWrapper .aboutSubContent .nonBordered {
    width: auto;
    padding: 0;
    overflow: hidden;
    text-align: left;
}
#mainCtnt #content .aboutContentWrapper .aboutSubContent .nonBordered h2 {
    padding: 15px;
}
#mainCtnt #content .aboutContentWrapper .aboutSubContent .nonBordered a, #mainCtnt #content .aboutContentWrapper .aboutSubContent .nonBordered a.learnMore, #mainCtnt #content .aboutContentWrapper .aboutSubContent .nonBordered p {
    width: auto;
    padding: 0 15px;
    margin-bottom: 15px;
}
#mainCtnt #content .aboutContentWrapper .aboutSubContent .bordered .borderedContent {
    float: left;
    width: 410px;
}
#mainCtnt #content .aboutContentWrapper .aboutSubContent .bordered .borderedContent h2 {
    margin-top: 50px;
}
#mainCtnt #content .aboutContentWrapper .aboutSubContent .bordered img {
    float: right;
}
#mainCtnt #content .aboutContentWrapper .aboutSubContentFooter {
    width: 725px;
    height: 33px;
    background: url(../images/aboutcontentbottombk.jpg) top left no-repeat;
}
#mainCtnt #content .aboutContentWrapper .pinSubContentTop {
    width: 725px;
    height: 33px;
    background: url(../images/pinbktop.jpg) bottom left no-repeat;
}
#mainCtnt #content .aboutContentWrapper .pinSubContentBot {
    width: 725px;
    height: 59px;
    background: url(../images/pinbkbot.jpg) bottom left no-repeat;
}
#mainCtnt #content .aboutContentWrapper .pinSubContentMid {
    width: auto;
    text-align: center;
    overflow: hidden;
    padding: 20px 130px;
    background: url(../images/pinbkmid.jpg) top left repeat-y;
}
#mainCtnt #content .aboutContentWrapper .pinSubContentMid h3 {
    padding: 10px 0;
    margin: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #5a5a5a;
    text-transform: uppercase;
    background: 0 0;
}
#mainCtnt #content .aboutContentWrapper .pinSubContentMid p {
    line-height: 21px;
}
#mainCtnt #content .aboutContentWrapper .pinSubContentMid .em1 {
    font-size: 18px;
}
#mainCtnt #content .aboutContentWrapper .pinSubContentMid .em2 {
    font-size: 24px;
}
#mainCtnt #content .aboutContentWrapper .pinSubContentMid h3 .h3italic {
    text-transform: lowercase;
    font-style: italic;
}
#mainCtnt #content .aboutContentWrapper .subContentCareer img {
    float: left;
}
#mainCtnt #content .aboutContentWrapper .subContentCareer ul.news {
    float: left;
    margin-left: 20px;
    overflow: hidden;
    width: 260px;
}
#mainCtnt #content .aboutContentWrapper .subContentCareer ul.news li.year {
    margin-top: 35px;
    font-size: 21px;
    color: #7f7f7f;
}
#mainCtnt #content .aboutContentWrapper .subContentCareer ul.news li.title {
    margin-top: 18px;
    font-size: 12px;
    line-height: 12px;
    color: #7f7f7f;
    text-transform: uppercase;
}
#mainCtnt #content .aboutContentWrapper .subContentCareer ul.news li.content {
    margin: 5px 0 0;
    font-size: 11px;
    line-height: 14px;
    color: #b5b5b5;
    padding: 0;
}
#mainCtnt #content .aboutContentWrapper .subContentCareer ul.news li.link a {
    font-size: 11px;
    line-height: 14px;
    color: #b5b5b5;
    padding: 0;
    font-style: italic;
    text-transform: none;
    text-decoration: none;
}
#mainCtnt #content .aboutContentWrapper .subContentCareer ul.news li.link a:hover {
    text-decoration: underline;
}
#mainCtnt #content .aboutContentWrapper .aboutLeftAlign {
    text-align: left;
}
#mainCtnt #content .aboutContentWrapper .careersSubContentTop {
    width: 725px;
    height: 26px;
    background: url(../images/careerstopbk.jpg) top left no-repeat;
}
#mainCtnt #content .aboutContentWrapper .careersSubContentBot {
    width: 725px;
    height: 21px;
    background: url(../images/careersbotbk.jpg) bottom left no-repeat;
}
#mainCtnt #content .aboutContentWrapper .careersSubContentMid {
    width: 685px;
    text-align: left;
    overflow: hidden;
    padding: 20px;
    background: url(../images/careersmidbk.jpg) top left repeat-y;
}
#mainCtnt #content .aboutContentWrapper .careersSubContentMid h2, #mainCtnt #content .aboutContentWrapper .careersSubContentMid p {
    padding-left: 10px;
}
#mainCtnt #content .aboutContentWrapper .careersSubContentMid img {
    display: block;
    text-align: center;
}
#mainCtnt #content .aboutContentWrapper .pageHeader {
    border-bottom: 1px solid #d5d5d5;
    margin-bottom: 10px;
    padding: 0 0px 18px;
    text-align: center;
    font-size: 14px;
}
#mainCtnt #content .aboutContentWrapper h1 {
    font-size: 33px;
}
#mainCtnt #content .aboutContentWrapper ul.thirdColumns {
    border-bottom: 1px solid #d5d5d5;
    text-align: center;
    margin-bottom: 10px;
}
#mainCtnt #content .aboutContentWrapper ul.thirdColumns.topborder {
    border-bottom: 0 none;
    border-top: 1px solid #d5d5d5;
    padding-top: 10px;
}
#mainCtnt #content .aboutContentWrapper ul.thirdColumns li {
    width: 200px;
    max-width: 226px;
    margin-bottom: 10px;
    padding: 0 10px;
}
#mainCtnt #content .aboutContentWrapper ul.thirdColumns li.alignleft {
    padding-left: 0;
    border-right: 1px solid #D5D5D5;
}
#mainCtnt #content .aboutContentWrapper ul.thirdColumns li.alignright {
    padding-right: 0;
    border-left: 1px solid #D5D5D5;
}
#mainCtnt #content .aboutContentWrapper ul.thirdColumns li p {
    text-align: center;
    font-size: 17px;
    line-height: 22px;
    padding: 0 15px;
}
#mainCtnt #content .aboutContentWrapper .thirdColumns a {
    text-decoration: none;
    margin-bottom: 3px;
}
#mainCtnt #content .aboutContentWrapper .nostyleborder {
    border: 0!important;
}
#mainCtnt #content .aboutContentWrapper.timelineWrapper {
    font-size: 14px;
}
#mainCtnt #content .aboutContentWrapper.timelineWrapper h1 {
    text-align: center;
}
#mainCtnt #content .aboutContentWrapper.timelineWrapper .pageSection {
    width: 642px;
    overflow: hidden;
    margin: 0 auto;
}
#mainCtnt #content .aboutContentWrapper.timelineWrapper .pageSection .floatleft {
    width: 320px;
    border-right: 2px solid #323232;
    text-align: right;
}
#mainCtnt #content .aboutContentWrapper.timelineWrapper .pageSection .floatright {
    float: left;
    width: 320px;
    border-left: 2px solid #323232;
    margin-left: -2px;
    text-align: left;
}
#mainCtnt #content .aboutContentWrapper.timelineWrapper .pageSection ul {
    list-style-type: none;
    padding: 0 30px 20px;
}
#mainCtnt #content .aboutContentWrapper.timelineWrapper .pageSection ul li {
    padding-bottom: 10px;
}
#mainCtnt #content .aboutContentWrapper.timelineWrapper .pageSection ul.slides {
    padding: 0;
}
#mainCtnt #content .aboutContentWrapper.timelineWrapper .pageSection ul.slides li {
    padding-bottom: 0;
}
#mainCtnt #content .aboutContentWrapper.timelineWrapper .year-header {
    font-size: 46px;
    padding: 10px 30px;
    display: block;
}
#mainCtnt #content .aboutContentWrapper.timelineWrapper .pageSection img {
    display: block;
}
#mainCtnt #content .aboutContentWrapper.timelineWrapper .overlay2010 {
    position: absolute;
    right: 0;
    top: 120px;
}
#mainCtnt #content .aboutStoresWrapper .flex-direction-nav .flex-prev {
    left: 0;
    opacity: 1;
    width: 42px;
    height: 43px;
    background-image: url(../../../images/slider/retreat.jpg);
}
#mainCtnt #content .aboutStoresWrapper .flex-direction-nav .flex-next {
    right: 0;
    opacity: 1;
    width: 42px;
    height: 43px;
    background-image: url(../../../images/slider/advance.jpg);
}
#mainCtnt #content .aboutStoresWrapper .linkarrows {
    background: url(../images/about_arrow.gif) left center no-repeat;
    padding-left: 10px;
}
#mainCtnt #content .aboutSocialMedia .pageSection {
    display: table;
    border-bottom: 1px solid #d5d5d5;
    margin-bottom: 10px;
    padding: 0 0 10px;
    text-align: center;
    font-size: 14px;
}
#mainCtnt #content .aboutSocialMedia .pageSection .floatleft {
    display: table-cell;
    vertical-align: middle;
    float: none;
}
#mainCtnt #content .aboutSocialMedia .follow-header {
    display: block;
    font-size: 18px;
    padding: 10px 0 2px;
}
#mainCtnt #content .aboutSocialMedia .follow-subheader {
    display: block;
    font-size: 14px;
    line-height: 19px;
}
#mainCtnt #content .aboutSocialMedia .pageSection .header {
    display: block;
    font-size: 18px;
    padding: 0 0 5px;
}
#mainCtnt #content .aboutSocialMedia .pageSection .caption-dek {
    font-size: 14px;
    line-height: 19px;
}
#mainCtnt #content .aboutSocialMedia .pageSection .caption-dek:hover {
    text-decoration: none;
}
#mainCtnt #content .pressContentWrapper {
    width: 960px;
    overflow: hidden;
    margin-bottom: 20px;
}
#mainCtnt #content .pressContentWrapper h2 {
    padding: 0 0 10px;
    margin: 0;
    font-weight: 400;
    font-size: 23px;
    line-height: 23px;
    color: #5a5a5a;
    text-transform: uppercase;
}
#mainCtnt #content .pressContentWrapper h2 .h2italic {
    text-transform: lowercase;
    font-style: italic;
}
#mainCtnt #content .pressContentWrapper p {
    font-size: 12px;
    line-height: 18px;
    color: #474747;
}
#mainCtnt #content .pressContentWrapper a {
    font-size: 12px;
    line-height: 18px;
    text-transform: uppercase;
    text-decoration: none;
    color: #2b2b2b;
}
#mainCtnt #content .pressContentWrapper .pressSubContentTop {
    width: 960px;
    text-align: left;
    overflow: hidden;
}
#mainCtnt #content .pressContentWrapper .pressSubContentTop .pressSubContentTopHeader {
    width: 960px;
    height: 54px;
    border-bottom: 2px solid orange;
}
#mainCtnt #content .pressContentWrapper .pressSubContentTop .pressSubContentTopHeader h2 {
    float: left;
    margin-top: 11px;
    margin-left: 20px;
    display: none;
}
#mainCtnt #content .pressContentWrapper .pressSubContentTop .pressSubContentTopHeader a {
    float: right;
    line-height: 16px;
    margin-top: 8px;
    margin-right: 10px;
    background-color: #fff;
    border: 1px solid #bfbfbf;
    text-transform: uppercase;
    color: #2b2b2b;
    padding: 5px 15px;
    font-size: 12px;
    text-decoration: none;
}
#mainCtnt #content .pressContentWrapper .pressSubContentTop .pressSubContentTopHeader a:hover {
    background: url(../images/buttonbk.png) bottom left repeat-x;
    text-decoration: none;
}
#mainCtnt #content .pressContentWrapper .pressSubContentBot {
    width: 725px;
    height: 21px;
    background: url(../images/careersbotbk.jpg) bottom left no-repeat;
    margin: 0 auto;
}
#mainCtnt #content .pressContentWrapper .pressSubContentMid {
    width: 960px;
    text-align: left;
    overflow: hidden;
    padding: 0 12px 20px;
}
#mainCtnt #content .pressContentWrapper .pressSubContentMid .pressWhoWoreItSlider {
    overflow: hidden;
    width: 960px;
    height: 408px;
}
#mainCtnt #content .pressContentWrapper .pressSubContentMid .pressImagesSlider {
    overflow: hidden;
    width: 701px;
    height: 368px;
}
#mainCtnt #content .pressContentWrapper .pressSubContentMid .pressImagesSlider .leftArrow {
    width: 14px;
    float: left;
    text-align: left;
    margin-top: 130px;
}
#mainCtnt #content .pressContentWrapper .pressSubContentMid .pressWhoWoreItSlider ul.currentSlide {
    width: 681px;
    height: 15px;
    float: left;
    text-align: right;
    overflow: hidden;
    margin-right: 20px;
}
#mainCtnt #content .pressContentWrapper .pressSubContentMid .pressWhoWoreItSlider ul.currentSlide li {
    width: 9px;
    height: 9px;
    display: inline;
    margin: 0 11px;
    background: url(../images/pressGreyDot.jpg) 50% center no-repeat;
    padding: 3px;
    cursor: pointer;
}
#mainCtnt #content .pressContentWrapper .pressSubContentMid .pressWhoWoreItSlider ul.currentSlide li.current, #mainCtnt #content .pressContentWrapper .pressSubContentMid .pressWhoWoreItSlider ul.currentSlide li:hover {
    background: url(../images/pressOrangeDot.jpg) 50% center no-repeat;
    cursor: pointer;
}
#mainCtnt #content .pressContentWrapper .pressSubContentMid .pressWhoWoreItSlider .slider {
    width: 649px;
    height: 356px;
    padding: 21px 12px;
    overflow: hidden;
    margin: 0 auto;
}
#mainCtnt #content .pressContentWrapper .pressSubContentMid .pressImagesSlider .slider {
    width: 672px;
    height: 380px;
    padding: 0;
    overflow: hidden;
    float: left;
}
#mainCtnt #content .pressContentWrapper .pressSubContentMid .pressImagesSlider .slider .slide {
    width: 672px;
    height: 380px;
    overflow: hidden;
}
#mainCtnt #content .pressContentWrapper .pressSubContentMid .pressImagesSlider .rightArrow {
    width: 14px;
    float: right;
    text-align: right;
    margin-top: 130px;
}
#mainCtnt #content .pressContentWrapper .pressSubContentMid .pressWhoWoreItSlider .leftContent {
    width: 270px;
    height: 356px;
    overflow: hidden;
    float: left;
    padding: 0;
    margin: 0 0 0 64px;
    font-size: 12px;
}
#mainCtnt #content .pressContentWrapper .pressSubContentMid .pressWhoWoreItSlider .leftContent .uppercase {
    text-transform: uppercase;
}
#mainCtnt #content .pressContentWrapper .pressSubContentMid .pressWhoWoreItSlider .leftContent .italic {
    font-style: italic;
}
#mainCtnt #content .pressContentWrapper .pressSubContentMid .pressWhoWoreItSlider .leftContent h1 {
    margin: 60px 0 15px;
    padding: 0 0 18px;
    color: #444;
    font-size: 30px;
    font-weight: 400;
    text-transform: none;
    background: url(../images/pressh1shadow.jpg) bottom left no-repeat;
}
#mainCtnt #content .pressContentWrapper .pressSubContentMid .pressWhoWoreItSlider .rightContent {
    width: 266px;
    height: 376px;
    padding: 0;
    margin: 0 20px 0 0;
    overflow: hidden;
    float: right;
}
#mainCtnt #content .pressContentWrapper .pressSubContentMid .pressImagesSlider .slider .slide .imageContainer {
    background: url(../images/pressimgsliderbk.jpg) top center no-repeat;
    width: 224px;
    height: 360px;
    text-align: center;
    padding-top: 20px;
    float: left;
}
#mainCtnt #content .pressContentWrapper .pressSubContentMid .pressImagesSlider .slider .slide .imageContainer p {
    margin-top: 25px;
    display: block;
}
#mainCtnt #content .pressContentWrapper .pressSubContentMid .pressImagesSlider .slider .slide .imageContainer a {
    margin-top: 0;
    text-transform: none;
    display: block;
    text-decoration: none;
}
#mainCtnt #content .pressContentWrapper .pressWhoWoreItSlider .slider .slide .leftContent a.button {
    float: left;
    line-height: 16px;
    margin: 0;
    background-color: #2b2b2b;
    border: 1px solid #c9c9c9;
    text-transform: uppercase;
    color: #fff;
    padding: 5px 15px;
    font-size: 12px;
    text-decoration: none;
}
.leftTitle, .navgroup .navlink, .navgroup a {
    color: #2b2b2b;
}
.aboutUsTitle, .leftTitle {
    font-size: 1.8em;
}
#mainCtnt #content .pressContentWrapper .pressWhoWoreItSlider .slider .slide a.button:hover {
    background: url(../images/blackbuttonbk.png) top left repeat-x #bebebe;
    text-decoration: none;
}
#mainCtnt #content .pressContentWrapper .pressSubContentMid .pressImagesContent {
    overflow: hidden;
    width: 960px;
    height: auto;
    text-align: center;
}
#mainCtnt #content .pressContentWrapper .pressSubContentMid .pressImagesContent .imageContainer {
    background: url(../images/pressimgsliderbk.jpg) top center no-repeat;
    width: 224px;
    height: 300px;
    text-align: center;
    padding-top: 20px;
    float: left;
    margin-left: 7px;
}
.navgroup h3, .navgroup h3.collapsed {
    background: 0 0;
}
#mainCtnt #content .pressContentWrapper .pressSubContentMid .pressImagesContent .imageContainer p {
    display: block;
    margin-top: 22px;
}
.leftTitle {
    padding: 3px 12px;
    text-transform: uppercase;
    border-top: 1px solid #CCC;
}
.navgroup a {
    text-decoration: none;
}
.navgroup h3 {
    border-bottom: none;
}
.aboutUsTitle, .navgroup .borderLastNav {
    border-bottom: 1px solid #CCC;
}
.aboutUsTitle .lowerName {
    text-transform: lowercase;
    padding-left: 25px;
}
.aboutUsTitle .upperName, .aboutus .assetName {
    text-transform: uppercase;
    font-style: normal;
}
.aboutus .toryLogo {
    background: url(../images/tory.jpg) no-repeat;
    width: 108px;
    height: 93px;
    margin-left: auto;
    margin-right: auto;
}
.aboutus .down, .aboutus .up {
    width: 308px;
    height: 13px;
    margin-left: auto;
    margin-right: auto;
}
.aboutus .up {
    background: url(../images/up_aboutus.jpg) no-repeat;
}
.aboutus .down {
    background: url(../images/down_aboutus.jpg) no-repeat;
}
.aboutus .assetName {
    font-size: 1.8em;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}
.aboutus {
    padding: 0 16px;
}
.aboutus .assetBody {
    text-align: center;
    width: 450px;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.3em;
}
.aboutus .assetBodyLeft {
    text-align: left;
    font-size: 1.3em;
}
.aboutus .assetBodyLeft p {
    padding-left: 15px;
}
.aboutus .careersimg {
    background: url(../images/careers.png) no-repeat;
    width: 668px;
    height: 400px;
}
.aboutusMain .torycompany {
    background: url(../images/tory_company.png) no-repeat;
    width: 231px;
    height: 287px;
    float: right;
}
.aboutusMain .torytimeline {
    background: url(../images/tory_timeline.png) no-repeat;
    width: 668px;
    height: 400px;
    float: left;
}
.aboutusMain .torycareers {
    background: url(../images/tory_careers.png) no-repeat;
    width: 668px;
    height: 500px;
    float: left;
}
.aboutusMain .leftasset {
    text-align: left;
    float: left;
    width: 400px;
}
.aboutusMain .bottomBar, .aboutusMain .bottomBarBottom, .aboutusMain .bottomBarMiddle {
    background: url(../images/bottom_bar.png) no-repeat;
    width: 730px;
    height: 34px;
    right: 18px;
    position: absolute;
}
.aboutusMain .leftassetMiddle {
    text-align: left;
    float: left;
}
.aboutusMain .bottomBar {
    bottom: 1037px;
}
.aboutusMain .bottomBarMiddle {
    bottom: 544px;
}
.aboutusMain .bottomBarBottom {
    bottom: 0;
}
.aboutusMain .leftBarBottom {
    background: url(../images/left_bar.png) no-repeat;
    width: 10px;
    height: 520px;
    bottom: 20px;
    left: 205px;
    position: absolute;
}
.aboutusMain .rightBarBottom {
    background: url(../images/right_bar.png) no-repeat;
    width: 13px;
    height: 520px;
    bottom: 20px;
    position: absolute;
    right: 10px;
}
.aboutusMain .leftBarMiddle {
    background: url(../images/left_bar.png) no-repeat;
    width: 10px;
    height: 480px;
    bottom: 544px;
    left: 205px;
    position: absolute;
}
.aboutusMain .rightBarMiddle {
    background: url(../images/right_bar.png) no-repeat;
    width: 13px;
    height: 480px;
    bottom: 544px;
    position: absolute;
    right: 10px;
}
.aboutusMain .leftBarTop {
    background: url(../images/left_bar.png) no-repeat;
    width: 10px;
    height: 360px;
    bottom: 1038px;
    left: 205px;
    position: absolute;
}
.aboutus .pin, .aboutus .pin_left {
    left: 215px;
}
.aboutusMain .rightBarTop {
    background: url(../images/right_bar.png) no-repeat;
    width: 13px;
    height: 360px;
    bottom: 1038px;
    position: absolute;
    right: 10px;
}
.aboutusMain .bord {
    border: 1px solid #CCC;
    height: 290px;
    padding: 5px;
}
.aboutus, .aboutus .cover {
    border: 1px solid #F2F2F2;
}
.aboutusMain .bordMiddle {
    height: 440px;
    padding: 5px;
}
.aboutusMain .title {
    font-size: 1.8em;
    width: 200px;
}
.aboutus .pin, .aboutus .pin_left, .aboutus .pin_right {
    position: absolute;
    top: 45px;
    background: url(../images/pin.gif) no-repeat;
    width: 25px;
    height: 21px;
}
.aboutus .assetName i {
    text-transform: lowercase;
}
.aboutus .assetNameLeft {
    font-size: 1.8em;
    text-transform: uppercase;
    font-style: normal;
    padding-left: 25px;
    padding-bottom: 5px;
    text-align: left;
}
.aboutus .pin_right {
    right: 22px;
}
.aboutus {
    padding-bottom: 20px;
}
.aboutus .cover {
    padding: 3px 3px 50px;
    border-bottom: 2px solid #CCC;
    border-top: none;
    margin-top: 10px;
}
.mainAbout {
    margin-top: 25px;
}
.assetBody .tbsignature {
    margin-left: 180px;
}
.aboutus .bottomBar {
    background: url(../images/bottom_bar.png) no-repeat;
    width: 730px;
    height: 34px;
    bottom: 0;
    position: absolute;
    right: 18px;
}
.aboutus .leftBar, .aboutus .rightBar {
    height: 660px;
    bottom: 20px;
    position: absolute;
}
.aboutus .leftBar {
    background: url(../images/left_bar.png) no-repeat;
    width: 10px;
    left: 205px;
}
.aboutus .rightBar {
    background: url(../images/right_bar.png) no-repeat;
    width: 13px;
    right: 10px;
}
.timeline .leftimg {
    background: url(../images/timeline.png) no-repeat;
    height: 482px;
    width: 434px;
    float: left;
}
.timeline .titles {
    color: #6b6b6b;
    font-size: 1.2em;
    font-weight: 700;
    text-transform: uppercase;
}
.timeline .assetBody {
    float: right;
    width: 260px;
    font-size: 1.1em;
    color: #6b6b6b;
}
.timeline a {
    color: #6b6b6b;
    text-decoration: none;
}
.timeline .year_title {
    font-size: 1.8em;
    color: #6b6b6b;
    padding-bottom: 10px;
}
.timeline .year, .timeline .yearContent {
    height: 450px;
    color: #6B6B6B;
    overflow: hidden;
}
.timeline .assetName {
    text-transform: uppercase;
    font-size: 1.8em;
    font-style: normal;
    padding-left: 25px;
    padding-bottom: 5px;
}
.timeline {
    width: 725px;
    height: 450px;
    overflow: hidden;
}
.timelineContent {
    width: 5000px;
}
.timeline .year {
    float: left;
    width: 0;
    margin: 0!important;
    padding: 0!important;
}
.timeline .yearContent {
    width: 480px;
}
.timeline .yearContent img {
    float: left;
    width: 200px;
}
.timeline .yearContent .yearinfo {
    float: left;
    width: 262px;
    padding-left: 10px;
}
.timeline .yearContent h4, .timeline .yearContent h5 {
    background-color: transparent;
    color: #6B6B6B;
    font-family: SamsungSans, sans-serif;
    margin: 0;
    padding: 5px 0;
}
.timeline .yearContent h4 {
    font-size: 28px;
    line-height: 28px;
    font-weight: 400;
}
.timeline .yearContent h5 {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
}
.timeline .hdr2004, .timeline h3 {
    background-color: #f3821a;
}
.timeline .yearContent p {
    color: #6B6B6B!important;
    font-size: 12px!important;
    line-height: 16px!important;
    margin: 0!important;
    padding-bottom: 15px;
    font-family: "Times New Roman", Serif;
}
.timeline .yearContent .italics {
    font-style: italic;
}
.timeline .yearContent a {
    color: #F88017;
    text-transform: none!important;
    font-size: 12px;
}
.timeline h3 {
    float: left;
    width: 35px;
    overflow: hidden;
    height: 590px;
    border: 0;
    margin: 0!important;
}
.timeline .hdr2005 {
    background-color: #e96e2a;
}
.timeline .hdr2006 {
    background-color: #e15c39;
}
.timeline .hdr2007 {
    background-color: #d94747;
}
.timeline .hdr2008 {
    background-color: #d03555;
}
.timeline .hdr2009 {
    background-color: #aa0d51;
}
.timeline .hdr2010 {
    background-color: #aa0d87;
}
.timeline h3 span {
    display: block;
    text-indent: -9999px;
    background: url(../images/timeline_years.png) no-repeat;
    height: 60px;
    width: 22px;
    margin: 380px 0 0 7px;
}
.aboutusMain .pin, .aboutusMain .pin_right {
    position: absolute;
    top: 67px;
    width: 25px;
    height: 21px;
}
.timeline h3.selected span, .timeline h3:hover span {
    color: #FFF;
}
.timeline .hdr2004 span {
    background-position: 0 -584px;
}
.timeline .hdr2005 span {
    background-position: 0 -512px;
}
.timeline .hdr2006 span {
    background-position: 0 -440px;
}
.timeline .hdr2007 span {
    background-position: 0 -367px;
}
.timeline .hdr2008 span {
    background-position: 0 -295px;
}
.timeline .hdr2009 span {
    background-position: 0 -223px;
}
.timeline .hdr2010 span {
    background-position: 0 -151px;
}
.timeline .hdr2011 span {
    background-position: 0 -78px;
}
.timeline .hdr2004.selected span, .timeline .hdr2004:hover span {
    background-position: -22px -584px;
}
.timeline .hdr2005.selected span, .timeline .hdr2005:hover span {
    background-position: -22px -512px;
}
.timeline .hdr2006.selected span, .timeline .hdr2006:hover span {
    background-position: -22px -440px;
}
.timeline .hdr2007.selected span, .timeline .hdr2007:hover span {
    background-position: -22px -367px;
}
.timeline .hdr2008.selected span, .timeline .hdr2008:hover span {
    background-position: -22px -295px;
}
.timeline .hdr2009.selected span, .timeline .hdr2009:hover span {
    background-position: -22px -223px;
}
.timeline .hdr2010.selected span, .timeline .hdr2010:hover span {
    background-position: -22px -151px;
}
.timeline .hdr2011.selected span, .timeline .hdr2011:hover span {
    background-position: -22px -78px;
}
.aboutusMain .button1 {
    padding: 2px 10px;
    border: 1px solid #CCC;
    background: #FFF;
    color: #2b2b2b;
    text-transform: uppercase;
    margin-right: 10px;
    margin-top: -47px;
    float: right;
    font-size: 1.1em;
}
.aboutusMain .pin_right {
    left: 215px;
    background: url(../images/pin.gif) no-repeat;
}
.aboutusMain .pin {
    right: 22px;
    background: url(../images/pin_right.gif) no-repeat;
}
.aboutusMain .corner {
    left: 228px;
    position: absolute;
    top: 78px;
    background: url(../images/corner.png) no-repeat;
    width: 75px;
    height: 84px;
}
.aboutusMain .leftBar, .aboutusMain .leftBar1, .aboutusMain .leftBar2, .aboutusMain .leftBar3, .aboutusMain .leftBar5, .aboutusMain .leftBar6 {
    left: 203px;
    position: absolute;
}
.aboutusMain .whoworeit {
    font-size: 22px;
    padding-left: 87px;
    padding-top: 66px;
    text-transform: capitalize;
}
.aboutusMain .up {
    background: url(../images/up_aboutus.jpg) no-repeat;
    width: 308px;
    height: 13px;
    margin-left: 60px;
}
.aboutusMain .text {
    float: left;
    margin-left: 60px;
    font-size: 1em;
    width: 350px;
}
.aboutusMain .topimg {
    background: url(../images/press_1.png) no-repeat;
    width: 269px;
    height: 359px;
    float: right;
    margin-top: -95px;
}
.aboutusMain .bord1 {
    border: 1px solid #CCC;
    margin-top: 25px;
    height: 370px;
    padding: 5px;
}
.aboutusMain .facebook1 {
    float: left;
    background: url(../images/facebookicon.gif) no-repeat;
    width: 25px;
    height: 25px;
}
.aboutusMain .twitter1 {
    clear: both;
    float: left;
    background: url(../images/twittericon.gif) no-repeat;
    width: 25px;
    height: 25px;
}
.aboutusMain .bottom1 {
    background: url(../images/bottom_bar.png) no-repeat;
    width: 730px;
    height: 34px;
    bottom: 520px;
    position: absolute;
    right: 18px;
}
.aboutusMain .leftBar {
    background: url(../images/left_bar.png) no-repeat;
    width: 10px;
    bottom: 536px;
    height: 450px;
}
.aboutusMain .rightBar {
    background: url(../images/right_bar.png) no-repeat;
    width: 13px;
    bottom: 536px;
    height: 450px;
    position: absolute;
    right: 7px;
}
.aboutusMain .whowear {
    float: left;
    border-top: 1px solid #CCC;
    font-size: 22px;
    margin-top: -52px;
    padding: 5px;
    background: #fcfcfc;
    width: 690px;
}
.aboutusMain .whowearImg {
    background: url(../images/underline_img.png) no-repeat;
    width: 700px;
    height: 12px;
    float: left;
    margin-top: -25px;
    border-bottom: 2px solid #F88017;
}
.aboutusMain .arrowLeft {
    background: url(../images/lookbook-arrows.gif) no-repeat;
    width: 10px;
    height: 30px;
    margin-left: -19px;
    margin-top: 75px;
}
.aboutusMain .arrowRight {
    background: url(../images/arrow_right.png) no-repeat;
    height: 18px;
    margin-left: 695px;
    margin-top: -30px;
    width: 12px;
}
.aboutusMain .bottom2 {
    background: url(../images/bottom_bar.png) no-repeat;
    width: 730px;
    height: 34px;
    bottom: -35px;
    position: absolute;
    right: 18px;
}
.aboutusMain .asseeninImage {
    background: url(../images/asseenin.png) no-repeat;
    width: 671px;
    height: 281px;
}
.aboutusMain .toryFeaturedImage {
    background: url(../images/toryfeatures.png) no-repeat;
    width: 670px;
    height: 281px;
}
.aboutusMain .bord2 {
    margin-top: 25px;
    height: 370px;
    padding: 5px;
}
.aboutusMain .button2, .aboutusMain .button3 {
    padding: 2px 10px;
    border: 1px solid #CCC;
    background: #FFF;
    color: #2b2b2b;
    text-transform: uppercase;
    margin-top: -47px;
    float: right;
    font-size: 1.1em;
}
.aboutusMain .button2 {
    margin-right: 100px;
}
.aboutusMain .button3 {
    margin-right: 10px;
}
.aboutusMain .leftBar1 {
    background: url(../images/left_bar.png) no-repeat;
    width: 10px;
    bottom: -18px;
    height: 460px;
}
.aboutusMain .rightBar1 {
    background: url(../images/right_bar.png) no-repeat;
    width: 13px;
    bottom: -18px;
    height: 460px;
    position: absolute;
    right: 7px;
}
.aboutusMain .whowear1 {
    float: left;
    font-size: 22px;
    margin-top: -55px;
    padding: 5px;
    background: #fcfcfc;
    width: 690px;
}
.aboutusMain .arrowLeft1 {
    background: url(../images/lookbook-arrows.gif) no-repeat;
    width: 10px;
    height: 30px;
    margin-left: -19px;
    margin-top: -16px;
}
.aboutusMain .arrowRight1 {
    background: url(../images/arrow_right.png) no-repeat;
    height: 18px;
    margin-left: 695px;
    margin-top: -120px;
    width: 12px;
}
.aboutusMain .text1 {
    float: left;
    margin-left: 60px;
    font-size: 1em;
    font-style: normal;
}
.aboutusMain .bottom3 {
    background: url(../images/bottom_bar.png) no-repeat;
    width: 730px;
    height: 700px;
    bottom: 389px;
    position: absolute;
    right: 18px;
}
.aboutusMain .leftBar2 {
    background: url(../images/left_bar.png) no-repeat;
    width: 10px;
    bottom: 1077px;
    height: 480px;
}
.aboutusMain .rightBar2 {
    background: url(../images/right_bar.png) no-repeat;
    width: 13px;
    bottom: 1077px;
    height: 480px;
    position: absolute;
    right: 7px;
}
.aboutusMain .leftBar3 {
    background: url(../images/left_bar.png) no-repeat;
    width: 10px;
    bottom: 2px;
    height: 470px;
}
.aboutusMain .rightBar3 {
    background: url(../images/right_bar.png) no-repeat;
    width: 13px;
    bottom: 2px;
    height: 470px;
    position: absolute;
    right: 7px;
}
.aboutusMain .bottom4 {
    background: url(../images/bottom_bar.png) no-repeat;
    width: 730px;
    height: 700px;
    bottom: -673px;
    position: absolute;
    right: 18px;
}
.aboutusMain .topimgAsSeen {
    background: url(../images/asseenin2.png) no-repeat;
    width: 269px;
    height: 359px;
    float: right;
    margin-top: -95px;
}
.aboutusMain .bultes {
    background: url(../images/bulets.png) no-repeat;
    width: 154px;
    height: 22px;
}
.aboutusMain .toryNov {
    background: url(../images/nov.png) no-repeat;
    width: 678px;
    height: 285px;
}
.aboutusMain .toryNov1 {
    background: url(../images/nov1.png) no-repeat;
    width: 678px;
    height: 285px;
}
.aboutusMain .all1 {
    background: url(../images/all1.png) no-repeat;
    width: 670px;
    height: 282px;
}
.aboutusMain .all2 {
    background: url(../images/all2.png) no-repeat;
    width: 670px;
    height: 282px;
}
.aboutusMain .all3 {
    background: url(../images/all3.png) no-repeat;
    width: 670px;
    height: 282px;
}
.aboutusMain .leftBar5 {
    background: url(../images/left_bar.png) repeat-y;
    width: 10px;
    bottom: 9px;
    height: 999px;
}
.aboutusMain .rightBar5 {
    background: url(../images/right_bar.png) repeat-y;
    width: 13px;
    bottom: 9px;
    height: 999px;
    position: absolute;
    right: 7px;
}
.aboutusMain .bottom5 {
    background: url(../images/bottom_bar.png) no-repeat;
    width: 730px;
    height: 700px;
    bottom: -673px;
    position: absolute;
    right: 18px;
}
.aboutusMain .whowear5 {
    float: left;
    font-size: 22px;
    margin-top: -52px;
    padding: 5px;
    background: #fcfcfc;
    width: 690px;
}
.aboutusMain .leftBar6 {
    background: url(../images/left_bar.png) repeat-y;
    width: 10px;
    bottom: 9px;
    height: 2333px;
}
.aboutusMain .rightBar6 {
    background: url(../images/right_bar.png) repeat-y;
    width: 13px;
    bottom: 9px;
    height: 2333px;
    position: absolute;
    right: 7px;
}
@media screen and (max-width:768px) {
    .aboutSubContent .follows-us-caption {
    font-size: 17px;
    line-height: 22px;
    text-align: center;
    width: 70%;
    margin: 0 auto;
}
#mainCtnt #content .aboutContentWrapper p.follow-us-dek {
    font-size: 13px;
    margin-bottom: 12px;
}
#mainCtnt #content .aboutContentWrapper h1 {
    padding-bottom: 10px;
}
.aboutSubContent img {
    margin: 0 auto;
    display: block;
}
#mainCtnt #content .aboutContentWrapper .pageHeader {
    border-bottom: none;
    margin-bottom: 0;
}
.social-media-img {
    padding-top: 30px;
}
#mainCtnt #content .aboutContentWrapper .follows-us-subcaption {
    text-align: center;
    font-size: 14px;
    line-height: 22px;
    width: 80%;
    margin: 0 auto 5px;
    text-decoration: none;
}
#mainCtnt #content .aboutContentWrapper .follows-us-caption {
    padding-top: 15px;
    font-weight: 700;
    letter-spacing: .05em;
    text-decoration: none;
}
#mainCtnt #content .aboutSubContent a:hover {
    text-decoration: none;
}
}@media screen and (min-width:768px) and (max-width:1024px) and (orientation:portrait) {
    .pt_aboutus #mainCtnt #content {
    width: 100%}
}