.page-container {
    max-width: 1400px;
    margin: 0 auto;
}
@keyframes processing-primary {
    0%, to {
    box-shadow: -18px 0 0 1px #fff, -6px 0 0 1px hsla(0, 0%, 100%, .6), 6px 0 0 1px hsla(0, 0%, 100%, .3), 18px 0 0 1px hsla(0, 0%, 100%, .3);
}
33% {
    box-shadow: -18px 0 0 1px hsla(0, 0%, 100%, .6), -6px 0 0 1px #fff, 6px 0 0 1px hsla(0, 0%, 100%, .6), 18px 0 0 1px hsla(0, 0%, 100%, .3);
}
50% {
    box-shadow: -18px 0 0 1px hsla(0, 0%, 100%, .3), -6px 0 0 1px hsla(0, 0%, 100%, .6), 6px 0 0 1px #fff, 18px 0 0 1px hsla(0, 0%, 100%, .6);
}
75% {
    box-shadow: -18px 0 0 1px hsla(0, 0%, 100%, .3), -6px 0 0 1px hsla(0, 0%, 100%, .3), 6px 0 0 1px hsla(0, 0%, 100%, .6), 18px 0 0 1px #fff;
}
}@keyframes processing-secondary {
    0%, to {
    box-shadow: -18px 0 0 1px #000, -6px 0 0 1px rgba(0, 0, 0, .6), 6px 0 0 1px rgba(0, 0, 0, .3), 18px 0 0 1px rgba(0, 0, 0, .3);
}
33% {
    box-shadow: -18px 0 0 1px rgba(0, 0, 0, .6), -6px 0 0 1px #000, 6px 0 0 1px rgba(0, 0, 0, .6), 18px 0 0 1px rgba(0, 0, 0, .3);
}
50% {
    box-shadow: -18px 0 0 1px rgba(0, 0, 0, .3), -6px 0 0 1px rgba(0, 0, 0, .6), 6px 0 0 1px #000, 18px 0 0 1px rgba(0, 0, 0, .6);
}
75% {
    box-shadow: -18px 0 0 1px rgba(0, 0, 0, .3), -6px 0 0 1px rgba(0, 0, 0, .3), 6px 0 0 1px rgba(0, 0, 0, .6), 18px 0 0 1px #000;
}
}.animated.faster {
    animation-duration: .3s;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}
.header, .pricing, .title {
    text-transform: uppercase;
    font-variant-numeric: lining-nums;
}
.header, .title {
    font-family: SamsungSans_th, sans-serif;
    font-weight: 700;
}
.header--xxl {
    font-size: 38px;
}
.header--xl, .header--xxl {
    line-height: 1.18em;
    letter-spacing: .04em;
}
.header--xl {
    font-size: 30px;
}
.header--l {
    font-size: 24px;
    line-height: 1.25em;
    letter-spacing: .04em;
}
.header--m {
    font-size: 20px;
    line-height: 1.25em;
    letter-spacing: .0375em;
}
.header--s {
    font-size: 18px;
    line-height: 1.38em;
    letter-spacing: .04em;
}
.header--xs {
    font-size: 16px;
    line-height: 1.25em;
    letter-spacing: .047em;
}
.header--xxs {
    font-size: 14px;
    line-height: 1.08em;
    letter-spacing: .053em;
}
.title--xl {
    font-size: 18px;
}
.title--l, .title--xl {
    line-height: 1.25em;
    letter-spacing: .047em;
}
.title--l {
    font-size: 16px;
}
.title--m {
    font-size: 14px;
    line-height: 1.08em;
    letter-spacing: .053em;
}
.title--s {
    font-size: 12px;
    line-height: 1.25em;
    letter-spacing: .0625em;
}
.title--xs {
    font-size: 10px;
    line-height: 1.5em;
    letter-spacing: .075em;
}
.pricing {
    font-family: SweetSans, sans-serif;
    font-weight: 400;
    color: #6e6e6e;
}
.pricing--l {
    font-size: 14px;
    line-height: 1.08em;
    letter-spacing: .053em;
}
.pricing--m {
    font-size: 12px;
    line-height: 1.25em;
    letter-spacing: .0625em;
}
.pricing--s {
    font-size: 10px;
    line-height: 1.5em;
    letter-spacing: .075em;
}
.pricing .strikethrough {
    text-decoration: line-through;
}
.pricing .price--sale {
    color: #f77800;
}
.body-copy, .caption {
    font-family: SamsungSans;
}
.body-copy--em, .caption--em {
    font-style: italic;
    letter-spacing: normal;
}
.caption {
    font-size: 30px;
    line-height: 1.17em;
    letter-spacing: -.002em;
}
.body-copy--xxl {
    font-size: 30px;
    line-height: 1.38em;
}
.body-copy--xl {
    font-size: 22px;
    line-height: 1.38em;
}
.body-copy--l {
    font-size: 18px;
    line-height: 1.38em;
}
.body-copy--m {
    font-size: 16px;
    line-height: 1.56em;
}
.body-copy--s {
    font-size: 14px;
    line-height: 1.78em;
}
@media screen and (max-width:770px) {
    .body-copy--s {
    font-size: 16px;
    line-height: 1.56em;
}
}.link--underline {
    text-decoration: none;
    color: #0c2340;
}
.link--underline span {
    border-bottom: 1px solid #dbdee3;
    line-height: 12px;
    display: inline-block;
}
.link--underline:hover {
    color: #191919;
}
.link--underline:hover span {
    border-bottom: 1px solid #191919;
}
.tooltip-index-slash {
    color: #979797;
}
.v-offset-xxxl {
    margin: 120px 0;
}
.v-offset-top-xxxl {
    margin-top: 120px;
}
.v-offset-bottom-xxxl {
    margin-bottom: 120px;
}
.v-offset-xxl {
    margin: 80px 0;
}
.v-offset-top-xxl {
    margin-top: 80px;
}
.v-offset-bottom-xxl {
    margin-bottom: 80px;
}
.v-offset-xl {
    margin: 60px 0;
}
.v-offset-top-xl {
    margin-top: 60px;
}
.v-offset-bottom-xl {
    margin-bottom: 60px;
}
.v-offset-l {
    margin: 40px 0;
}
.v-offset-top-l {
    margin-top: 40px;
}
.v-offset-bottom-l {
    margin-bottom: 40px;
}
.v-offset-m {
    margin: 30px 0;
}
.v-offset-top-m {
    margin-top: 30px;
}
.v-offset-bottom-m {
    margin-bottom: 30px;
}
.v-offset-s {
    margin: 20px 0;
}
.v-offset-top-s {
    margin-top: 20px;
}
.v-offset-bottom-s {
    margin-bottom: 20px;
}
.v-offset-xs {
    margin: 15px 0;
}
.v-offset-top-xs {
    margin-top: 15px;
}
.v-offset-bottom-xs {
    margin-bottom: 15px;
}
.v-offset-xxs {
    margin: 10px 0;
}
.v-offset-top-xxs {
    margin-top: 10px;
}
.v-offset-bottom-xxs {
    margin-bottom: 10px;
}
.v-offset-xxxs {
    margin: 5px 0;
}
.v-offset-top-xxxs {
    margin-top: 5px;
}
.v-offset-bottom-xxxs {
    margin-bottom: 5px;
}
.h-offset-xxxl {
    margin: 0 120px;
}
.h-offset-left-xxxl {
    margin-left: 120px;
}
.h-offset-right-xxxl {
    margin-right: 120px;
}
.h-offset-xxl {
    margin: 0 80px;
}
.h-offset-left-xxl {
    margin-left: 80px;
}
.h-offset-right-xxl {
    margin-right: 80px;
}
.h-offset-xl {
    margin: 0 60px;
}
.h-offset-left-xl {
    margin-left: 60px;
}
.h-offset-right-xl {
    margin-right: 60px;
}
.h-offset-l {
    margin: 0 40px;
}
.h-offset-left-l {
    margin-left: 40px;
}
.h-offset-right-l {
    margin-right: 40px;
}
.h-offset-m {
    margin: 0 30px;
}
.h-offset-left-m {
    margin-left: 30px;
}
.h-offset-right-m {
    margin-right: 30px;
}
.h-offset-s {
    margin: 0 20px;
}
.h-offset-left-s {
    margin-left: 20px;
}
.h-offset-right-s {
    margin-right: 20px;
}
.h-offset-xs {
    margin: 0 15px;
}
.h-offset-left-xs {
    margin-left: 15px;
}
.h-offset-right-xs {
    margin-right: 15px;
}
.h-offset-xxs {
    margin: 0 10px;
}
.h-offset-left-xxs {
    margin-left: 10px;
}
.h-offset-right-xxs {
    margin-right: 10px;
}
.h-offset-xxxs {
    margin: 0 5px;
}
.h-offset-left-xxxs {
    margin-left: 5px;
}
.h-offset-right-xxxs {
    margin-right: 5px;
}
.new-breadcrumb {
    position: absolute;
    text-transform: none;
    border: 0;
    width: auto;
    padding: 0;
    z-index: 100;
    margin: 40px 0 0 30px!important;
    font: 14px adobe-garamond-pro, serif;
}
.new-breadcrumb ol, .new-breadcrumb ol li {
    display: inline;
    list-style: none;
}
.new-breadcrumb .divider {
    color: #d3d4d5;
    margin: 0 5px;
}
.new-breadcrumb a {
    color: #0c2340;
}
.new-breadcrumb a span {
    display: inline-block;
    line-height: 12px;
    border-bottom: 1px solid #dbdee3;
}
@media screen and (max-width:960px) {
    .new-breadcrumb {
    margin: 20px 0 0 30px!important;
}
}@media screen and (max-width:770px) {
    .new-breadcrumb {
    display: none;
}
}.main_grid .new-breadcrumb a.last {
    color: #979797;
    border-bottom: none;
    pointer-events: none;
}
.main_grid .new-breadcrumb a.last span {
    border-bottom: none;
}
.button {
    font-family: SamsungSans_th, sans-serif;
    font-weight: 600;
    font-size: 10px;
    line-height: 1;
    letter-spacing: 1px;
    text-transform: uppercase;
    outline: none;
    border: none;
    text-align: center;
    position: relative;
}
.button--large {
    height: 50px;
    width: 270px;
}
.button--medium {
    height: 40px;
    width: 200px;
}
.button--small {
    height: 30px;
    width: 100px;
}
.button--primary {
    background-color: #0c2340;
    color: #fff;
}
.button--primary.button--is-completed, .button--primary.button--is-loading, .button--primary.mobile-click, .button--primary:not(.no-hover):hover {
    background-color: #191919;
}
.button--secondary {
    color: #0c2340;
    border: 1px solid #0c2340;
    box-sizing: border-box;
    background: transparent;
}
.button--secondary.button--is-completed, .button--secondary.button--is-loading, .button--secondary:not(.no-hover):hover {
    color: #191919;
    border-color: #191919;
    background: #fcfcfc;
}
.button--secondary.button--is-loading {
    color: #fff;
}
.button--secondary.button--is-loading:before {
    animation: processing-secondary 1.6s infinite;
}
.button--secondary.button--is-completed:before {
    background-color: #191919;
    color: #fff;
    font-weight: 400;
}
.button--secondary a {
    color: #0c2340;
    line-height: 48px;
    text-decoration: none;
    display: block;
}
.button--secondary a:hover {
    color: #191919;
}
.button--light {
    background-color: #fff;
    color: #191919;
}
.button--light:hover {
    opacity: .8;
}
.button--is-loading {
    color: #191919;
}
.button--is-loading:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    height: 2px;
    width: 2px;
    border-radius: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    animation: processing-primary 1.6s infinite;
}
.button--is-completed .button--msg-container {
    position: relative;
}
.button--is-completed .button--msg {
    padding-left: 10px;
}
.button--is-completed .check-mark {
    background: url(../imgs/icons/down.png);
    height: 10px;
    width: 10px;
    color: #191919;
    border-radius: 50%;
    background-color: #000;
    position: absolute;
    left: -5px;
}
.select {
    width: 100%;
    position: relative;
    font-family: adobe-garamond-pro, serif;
    font-size: 14px;
    color: #6e6e6e;
}
@media screen and (max-width:770px) {
    .select {
    font-size: 16px;
}
}.select--no-change .select__list {
    transition: opacity .3s ease-out, visibility 0s linear .3s;
}
.select--active .select__list {
    visibility: visible;
    opacity: 1;
    transition: opacity .3s ease-out;
}
.select--scrollable .select__shade {
    visibility: visible;
}
.select__label {
    color: #979797;
}
.select__shade {
    position: absolute;
    top: 0;
    left: 1px;
    z-index: 5;
    height: 30px;
    width: calc(100% - 20px);
    visibility: hidden;
    display: block;
    background-image: linear-gradient(180deg, hsla(0, 0%, 100%, .05), #fff);
}
@media screen and (max-width:770px) {
    .select__shade {
    display: none;
}
}.select__native {
    display: none;
}
@media screen and (max-width:550px), screen and (orientation:landscape) and (max-width:740px) {
    .select__native {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    display: block;
    height: 42px;
    width: 100%;
    max-width: none;
    opacity: 0;
}
}.select__error-message {
    color: #f4301e;
    display: none;
}
.select__list, .select__value {
    border: 1px solid #d3d4d5;
}
.select__list {
    background: #fff;
    width: 100%;
    max-height: 385px;
    box-sizing: border-box;
    list-style: none;
    visibility: hidden;
    opacity: 0;
    transition: opacity .2s ease-out;
    overflow-y: auto;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
}
.select__option, .select__option-title, .select__value {
    cursor: default;
    height: 40px;
    line-height: 40px;
    padding: 0 0 0 20px;
    text-transform: capitalize;
}
.select__option-title {
    color: #191919;
}
.select__option a {
    color: #6e6e6e;
    text-decoration: none;
}
.select__option:not(.select__option--disabled):hover {
    color: #191919;
    background: #f6f6f8;
    transition: all .1s ease-out;
}
.select__option.unselectable, .select__option.unselectable:hover {
    background-color: #979797;
}
.select__option--disabled {
    color: #979797;
    text-transform: capitalize;
}
.select__option--disabled:not(.letter-option) {
    text-decoration: line-through;
}
.select__option--disabled:not(.letter-option):after {
    content: attr(data-sold-out);
}
.select__option--disabled:after {
    display: inline-block;
    text-decoration: none;
    margin: 0 0 0 2px;
}
.select__option .select__color-swatch {
    margin-right: 6.5px;
}
.select__with-swatch .select__option, .select__with-swatch .select__value {
    padding: 0 0 0 15px;
}
.select__value {
    position: relative;
    background: #fff;
}
.select__value--dirty {
    color: #191919;
}
.select__value--erred {
    border-color: #f4301e;
}
.select__value:before {
    content: "";
    position: absolute;
    right: 15px;
    top: 50%;
    height: 7px;
    width: 11px;
    /*background-image: url(../../images/new_design/svg/tb-drop-down-arrow-blue-2.svg);*/
    background-repeat: no-repeat;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
@media screen and (max-width:550px), screen and (orientation:landscape) and (max-width:740px) {
    .select__value {
    pointer-events: none;
}
}.select__color-swatch {
    margin-right: 10px;
}
.select__color-swatch img {
    padding: 0;
    float: none;
    border-radius: 50%;
    height: 10px;
    width: 10px;
}
.select__widget-disabled {
    pointer-events: none;
}
.select__widget-disabled .select__value:before {
    background-image: none;
}
.quickshop-view {
    opacity: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: default;
    width: 100%;
    height: calc(100% - 20px);
    padding: 10px;
    box-sizing: border-box;
    background: rgba(0, 0, 0, .3);
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
}
@media screen and (max-width:770px) {
    .quickshop-view {
    display: none;
}
}.quickshop-view__pad {
    background: #fff;
    position: relative;
    width: 100%;
    max-width: 330px!important;
    height: 100%;
    max-height: 380px;
    padding: 15px 15px 50px;
    box-sizing: border-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
}
.quickshop-view__close {
    height: 11px;
    width: 11px;
    /*background: url(../../images/new_design/svg/tb-xxx-m.svg) no-repeat;*/
    position: absolute;
    z-index: 1;
    top: 15px;
    right: 15px;
    cursor: pointer;
}
.quickshop-view__button {
    height: 40px;
    line-height: 40px;
    width: calc(100% - 30px);
    position: absolute;
    z-index: 1;
    left: 15px;
    bottom: 15px;
    opacity: 0;
    pointer-events: none;
}
.quickshop-view__button--visible {
    opacity: 1;
    pointer-events: auto;
}
.quickshop-view__color-name {
    text-transform: capitalize;
}
.quickshop-view__swatches {
    text-align: center;
    overflow: hidden;
}
.quickshop-view__swatches .quickshop-view__swatch--selected {
    border-color: #191919;
}
.quickshop-view__swatches .swatches__list {
    margin: 5px 0 0;
}
.quickshop-view__swatches .swatches__label {
    margin: 0 5px 0 0;
    color: #979797;
}
.quickshop-view__swatches .swatches__item, .quickshop-view__swatches .swatches__item:first-child {
    margin: 0 2px;
}
.quickshop-view__select-label {
    height: 25px;
    line-height: 25px;
    display: block;
    color: #979797;
}
.quickshop-view__select {
    margin: 20px 0 0;
}
.quickshop-view__message {
    line-height: 20px;
    height: 20px;
    color: #191919;
    opacity: 0;
    transform: translate3d(0, 100%, 0);
    margin: 10px 0 0;
}
.quickshop-view__message--visible {
    opacity: 1;
    -ms-transform: none;
    transform: none;
    transition: opacity .6s ease-out, transform .7s ease-out;
}
.quickshop-view__message--error {
    color: #f4301e;
}
.quickshop-view__message span {
    color: #6e6e6e;
}
.quickshop-view .select__value {
    padding: 0;
}
.quickshop-view .select__option, .quickshop-view .select__option-title {
    text-align: left;
}
.swatches__list {
    margin-top: 0;
    list-style: none;
    font-size: 0;
}
.swatches__disp-name {
    display: none;
}
.swatches__label {
    color: #6e6e6e;
}
.swatches__label .value {
    color: #191919;
}
.swatches.initialLetter, .swatches.initialLetter .swatches__label {
    margin-bottom: 10px;
}
.swatches.initialLetter .selectedvarval {
    margin-left: 10px;
    font-size: 12px;
    text-transform: uppercase;
    color: #6e6e6e;
}
.swatches a.select__anchor {
    width: 100%;
    display: block;
    text-decoration: none;
    color: #6e6e6e;
}
.swatches__value {
    color: #191919;
}
.swatches__label, .swatches__value {
    display: inline-block;
}
.swatches__image {
    border-radius: 50%;
    width: 100%;
    border: 2px solid #fff;
    box-sizing: border-box;
}
.swatches__item {
    overflow: hidden;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    margin: 0 0 0 4px;
    height: 21px;
    width: 21px;
    box-sizing: border-box;
    font-size: 12px;
    border-radius: 50%;
    border: 1px solid #d3d4d5;
}
.swatches__item:first-child {
    margin-left: 0;
}
.swatches__item--lg {
    margin: 0 10px 5px 0;
    height: 27px;
    width: 27px;
}
.swatches__item--lg .swatches__image {
    border: 2px solid #fff;
}
.swatches__item--sm {
    margin: 0 2px;
    height: 11px;
    width: 11px;
}
.swatches__item--sm .swatches__image {
    border: 1px solid #fff;
    display: block;
}
.swatches__item.selected {
    border: 1px solid #191919;
}
.filtersort {
    padding: 0 30px;
    z-index: 9;
    min-height: 30px;
}
.filtersort, .filtersort__container {
    position: relative;
}
.filtersort__filters-container {
    float: left;
    width: 100%}
.filtersort__sort-container {
    right: 30px;
    position: absolute;
    top: 0;
}
.filtersort__button {
    height: 30px;
    width: auto;
    min-width: 100px;
    outline: 0;
    border: 1px solid #d3d4d5;
    text-align: left;
    padding: 0 15px;
    position: relative;
    background-color: #fff;
    color: #191919;
}
.filtersort__button .body-copy {
    margin-right: 20px;
}
.filtersort__button:before {
    content: "";
    position: absolute;
    right: 15px;
    top: 50%;
    height: 7px;
    width: 11px;
    /*background-image: url(../../images/new_design/svg/tb-drop-down-arrow-blue-2.svg);*/
    background-repeat: no-repeat;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.filtersort__button.open {
    background-color: #0c2340;
    color: #fff;
    border: none;
}
.filtersort__button.open:before {
    /*background-image: url(../../images/new_design/svg/tb-drop-down-arrow-white.svg);*/
}
.filtersort__button-mobile-counter {
    display: none;
}
.filtersort__item-count {
    color: #6e6e6e;
    margin-right: 15px;
}
.selected-refinements {
    display: inline-block;
}
.selected-refinements__name {
    display: none;
}
.selected-refinements__value {
    margin: 0 10px 0 30px;
}
.selected-refinements__value a {
    position: relative;
}
.selected-refinements__value a:after {
    content: "";
    position: absolute;
    right: -10px;
    top: 50%;
    height: 8px;
    width: 8px;
    margin-top: 0;
    /*background-image: url(../../img/new_design/tb-xxx-s.svg);*/
    background-repeat: no-repeat;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    background-size: 8px;
}
.selected-refinements__count {
    color: #6e6e6e;
    margin-right: 0;
    display: none;
}
.selected-refinements__clear-all {
    margin-left: 30px;
}
.filters-menu {
    border: 1px solid #d3d4d5;
    position: absolute;
    background: #fff;
    z-index: 101;
    padding: 30px 0;
    display: none;
    min-width: 175px;
}
.filters-menu .refinement {
    padding: 0 40px 0 20px;
    text-indent: 20px;
}
.filters-menu__button-container {
    width: calc(100% - 80px);
    margin: 0 auto;
    clear: both;
}
.filters-menu__button {
    width: 100%;
    height: 40px;
    margin-top: 40px;
}
.filters-menu__refinement-list-column {
    float: left;
}
.filters-menu__refinement-list-column:not(:last-child) {
    margin-right: 60px;
}
.filters-menu__refinement-list {
    list-style: none;
    column-count: 1;
    column-gap: 40px;
    column-fill: auto;
    height: 266px;
    line-height: 2.1em;
}
.filters-menu__refinement-list.two-column {
    column-count: 2;
}
.filters-menu__refinement-list.three-column {
    column-count: 3;
}
.filters-menu__refinement-list.four-column {
    column-count: 4;
}
.filters-menu__refinement-list.five-column {
    column-count: 5;
}
.filters-menu__refinement-list.six-column {
    column-count: 6;
}
.filters-menu__refinement-list.long {
    height: 266px;
}
.filters-menu__refinement-list.short {
    height: 236px;
}
.filters-menu__refinement-list.xshort {
    height: auto;
}
.filters-menu__refinement-list li a {
    color: #6e6e6e;
    text-decoration: none;
}
.filters-menu__refinement-list li a:hover {
    text-decoration: underline;
    color: #0c2340;
}
.filters-menu__refinement-list li.selected {
    position: relative;
}
.filters-menu__refinement-list li.selected a {
    color: #191919;
}
.filters-menu__refinement-list li.selected a:hover {
    text-decoration: underline;
    color: #0c2340;
}
.filters-menu__refinement-list li.selected:before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    height: 10px;
    width: 10px;
    background-image: url(../imgs/icons/down.png);
    background-repeat: no-repeat;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    background-size: 10px;
    margin-top: 2px;
}
.filters-menu__refinement-list .hide-size {
    display: none;
}
.filters-menu h3 {
    color: #191919;
}
.filters-menu .refinement.static-refinements {
    float: left;
}
.sort-menu {
    border: 1px solid #d3d4d5;
    position: absolute;
    background: #fff;
    z-index: 99;
    padding: 20px 30px;
    right: 0;
}
.sort-menu, .sort-menu__select {
    display: none;
}
.sort-menu__refinement-list {
    list-style: none;
    line-height: 2.1em;
}
.sort-menu__refinement-list li.selected {
    position: relative;
    list-style: none;
}
.sort-menu__refinement-list li.selected a {
    color: #191919;
}
.sort-menu__refinement-list li.selected a:hover {
    text-decoration: underline;
    color: #0c2340;
}
.sort-menu__refinement-list li.selected:before {
    content: "";
    position: absolute;
    left: -18px;
    top: 50%;
    height: 10px;
    width: 10px;
    background-image: url(../imgs/icons/down.png);
    background-repeat: no-repeat;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    background-size: 10px;
}
.sort-menu__refinement-list li a {
    color: #6e6e6e;
    text-decoration: none;
}
.sort-menu__refinement-list li a:hover {
    text-decoration: underline;
    color: #0c2340;
}
#refinement-bootshaftwidth, #refinement-Category, #refinement-category, #refinement-collection, #refinement-collectionnew, #refinement-color, #refinement-eyewearlens, #refinement-fabrication, #refinement-jewelryfinish, #refinement-Material, #refinement-silhouettetype, #refinement-size, #refinement-tech-name, #refinement-viewallCategory {
    width: auto;
    min-width: 0;
    min-height: 0;
}
.mobile-filters-header, .refinedclear, .refinementtabajax {
    display: none;
}
@media screen and (max-width:1460px) {
    .filtersort__sort-container {
    right: 30px;
}
}@media screen and (max-width:1024px) {
    .filter-types-4 .filters-menu__refinement-list {
    column-gap: 30px;
}
.filter-types-4 .refinement:not(.last) {
    margin-right: 50px;
}
}@media screen and (max-width:960px) {
    .filter-types-4 .filters-menu__refinement-list {
    column-gap: 30px;
}
.filter-types-4 .refinement:not(.last) {
    margin-right: 40px;
}
}@media screen and (max-width:770px) {
    .filtersort {
    padding: 0 15px;
    z-index: 99;
}
.filtersort, .filtersort__container {
    position: static;
}
.filtersort__filters-container {
    float: left;
    width: 50%}
.filtersort__filters-container .filtersort__button {
    float: right;
    margin-right: 7.5px;
}
.filtersort__filters-container .filtersort__button:before {
    background-image: url(../../img/new_design/tb-+++-s.svg);
    height: 11px;
}
.filtersort__item-count {
    position: absolute;
    bottom: -32px;
    right: 0;
    margin-right: 0;
}
.filtersort__sort-container {
    float: left;
    width: 50%;
    max-width: 50%}
.filtersort__sort-container .filtersort__button {
    margin-left: 7.5px;
}
.filtersort__button {
    height: 40px;
    width: calc(100% - 7.5px);
}
.filtersort__button-mobile-counter {
    display: inline;
    color: #979797;
}
.sort-menu {
    width: calc(100% - 70px);
    right: 0;
    top: 40px;
}
.sort-menu__dd {
    display: none;
    right: 0;
}
.sort-menu__select {
    display: block;
    opacity: 0;
    margin-left: 7.5px;
    position: absolute;
    width: 100%;
    height: 40px;
    z-index: -1;
}
.sort-menu__select label {
    display: none;
}
.sort-menu__select select {
    margin: 0;
    padding: 0;
    height: 30px;
}
.filtersort__sort-container {
    position: relative;
    right: 0;
}
.selected-refinements {
    display: none;
}
.filters-menu {
    width: 100%;
    max-height: none;
    border: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    padding: 0;
    display: none;
    box-sizing: border-box;
    margin: 0;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}
.filters-menu__button {
    margin: 20px 0 20px 20px;
    width: calc(100% - 20px);
}
.filters-menu__button-container {
    width: 100%;
    border-top: 1px solid #f3f3f3;
}
.filters-menu__refinement-list {
    height: auto!important;
}
.filters-menu__refinement-list.one-column.short {
    height: auto;
}
.filters-menu__refinement-list.three-column {
    height: auto;
    column-count: 2;
}
.filters-menu__refinements-container {
    padding: 0;
}
.filters-menu__refinements-container .title, .filters-menu__refinements-container li {
    text-indent: 0;
    padding-left: 20px;
}
.filters-menu__refinements-container li.selected:before {
    left: 0;
}
.filters-menu__button {
    width: calc(100% - 80px);
    margin: 20px auto;
    display: block;
}
.filters-menu .mobile-filters-header {
    display: block;
    border-bottom: 1px solid #f3f3f3;
    padding: 15px 20px;
}
.filters-menu .mobile-filters-header__item {
    width: 33%;
    display: inline-block;
    position: relative;
    float: left;
}
.filters-menu .mobile-filters-header__item.header {
    text-align: center;
    padding-top: 6px;
}
.filters-menu .mobile-filters-header__close {
    padding-top: 26px;
}
.filters-menu .mobile-filters-header__close:before {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    height: 15px;
    width: 15px;
    /*background-image: url(../../img/new_design/tb-xxx-L.svg);*/
    background-repeat: no-repeat;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    background-size: 15px;
    cursor: pointer;
}
.filters-menu .refinement {
    float: none!important;
    width: 100%;
    margin: 0!important;
    padding: 30px 40px 0 20px;
    box-sizing: border-box;
}
.filters-menu .refinement .mobile-border-bottom {
    border-bottom: 1px solid #f3f3f3;
    width: calc(100% - 20px);
    margin: 20px 0 20px 20px;
}
.filters-menu .refinement.last .mobile-border-bottom {
    border: 0;
}
}@media screen and (max-width:550px) {
    .filtersort {
    padding: 0 15px;
}
}#chatLinkContainer {
    left: auto!important;
    right: 10px;
    bottom: -110px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    box-shadow: none;
    background-color: transparent;
    transform: translateZ(0);
}
#chatLinkContainer:hover .chatDescription {
    -ms-transform: translateX(-40px);
    transform: translateX(-40px);
    opacity: 1;
}
#chatLinkContainer:hover .chatIcon {
    box-shadow: 0 0 0 1px #0c2340;
    background-color: #0c2340;
    background-image: url(../../../images/new_design/svg/tb-chat-light.svg)!important;
}
#chatLinkContainer .chatDescription {
    position: absolute;
    top: 0;
    white-space: nowrap;
    right: 0;
    padding-right: 10px;
    line-height: 40px;
    -ms-transform: translateX(0);
    transform: translateX(0);
    font-size: 14px;
    color: #515152;
    z-index: 1;
    text-align: left;
    opacity: 0;
    transition: opacity .3s linear, transform .3s ease;
}
#chatLinkContainer #chatLink {
    height: 100%}
#chatLinkContainer #chatLink p {
    font-size: 0;
}
#chatLinkContainer .chatIcon {
    width: 100%;
    height: 100%;
    display: inline-block;
    background-color: #fff;
    box-shadow: 0 0 0 1px #dbdee3;
    transition: background .3s cubic-bezier(0, 0, 0, 1), box-shadow .3s cubic-bezier(0, 0, 0, 1);
    position: absolute;
    cursor: pointer;
    left: 0;
    z-index: 10;
    background-size: 14px;
    padding: 0;
    /*background-image: url(../../../images/new_design/svg/tb-chat-dark.svg)!important;*/
}
#chatLinkContainer #chatLinkInfo {
    display: none!important;
}
.category-landing__subcats {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}
.category-landing__subcats .subcat-header {
    color: #515152;
    text-align: center;
}
.menu-separator {
    border-bottom: 1px solid #f0f0f0;
}
.subcategory__container {
    padding: 60px 0;
}
.subcategory__container:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    margin: 0 auto;
    padding: 30px 0;
    max-width: 1340px;
    border-bottom: 1px solid #f3f3f3;
}
.subcategory__header {
    text-align: center;
}
.subcategory__button {
    clear: both;
    width: 100%;
    text-align: center;
}
.subcategory__button .button {
    height: 50px;
    padding: 0 30px;
    display: inline-block;
}
.subproduct {
    text-align: left;
}
.subproduct img {
    max-width: 100%}
.subproduct .swatches {
    height: 40px;
}
@media screen and (max-width:1240px) {
    .subcategory__container .dropoff {
    display: none;
}
}.product-tile--has-carousel .product-tile__thumb img {
    opacity: 0;
}
.product-tile--no-alt .product-tile__arrow {
    display: none;
}
.product-tile:not(.product-tile--has-qs) .product-tile__thumb-container:hover .product-tile__quickshop-button {
    visibility: visible;
    opacity: .9;
    transition: opacity .2s ease;
}
.product-tile:not(.product-tile--has-qs) .product-tile__thumb-container:hover .product-tile__quickshop-button:hover {
    opacity: 1;
    transition: opacity .2s ease-out;
}
.product-tile:not(.product-tile--has-qs) .product-tile__thumb-container:hover .product-tile__qs-heart {
    visibility: visible;
    opacity: 1;
    transition: opacity .3s ease;
}
.product-tile:not(.product-tile--has-qs) .product-tile__thumb-container:hover .product-tile__arrow {
    opacity: 1;
}
.product-tile:not(.product-tile--has-qs) .product-tile__thumb-container:hover .product-tile__arrow--right {
    -ms-transform: translateX(-10px);
    transform: translateX(-10px);
}
.product-tile:not(.product-tile--has-qs) .product-tile__thumb-container:hover .product-tile__arrow--right:hover {
    -ms-transform: translateX(-7px);
    transform: translateX(-7px);
}
.product-tile:not(.product-tile--has-qs) .product-tile__thumb-container:hover .product-tile__arrow--left {
    -ms-transform: translateX(10px);
    transform: translateX(10px);
}
.product-tile:not(.product-tile--has-qs) .product-tile__thumb-container:hover .product-tile__arrow--left:hover {
    -ms-transform: translateX(7px);
    transform: translateX(7px);
}
.product-tile__overlay, .product-tile__video-container {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.product-tile__overlay {
    overflow: hidden;
    background-color: #f6f6f8;
    position: absolute;
    z-index: 1;
    background-size: cover;
    background-repeat: no-repeat;
    transition: background-image .3s ease;
}
.product-tile__video-container {
    display: none;
    position: relative;
}
.product-tile__video-container--visible {
    display: block;
}
.product-tile__video-container {
    background: #fff;
}
.product-tile__thumb-container {
    position: relative;
    padding: 0 0 20px;
}
@media screen and (max-width:770px) {
    .product-tile__thumb-container {
    padding: 0 0 15px;
}
}.product-tile__thumb {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    text-align: center;
    width: 100%;
    padding: 0 0 113%;
    display: block;
    font-size: 0;
    background-color: #f6f6f8;
    position: relative;
}
.product-tile__thumb img {
    width: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
}
.product-tile__name {
    display: block;
}
.product-tile__name, .product-tile__name:hover {
    text-decoration: none;
    color: #191919;
    white-space: normal;
}
.product-tile__qs-heart {
    margin: 0;
    visibility: hidden;
    opacity: 0;
    transition: opacity .2s ease-out, visibility 0s linear .2s;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 2;
}
@media screen and (max-width:1024px) {
    .product-tile__qs-heart {
    visibility: visible;
    opacity: 1;
    top: 0;
    right: 0;
    padding: 10px;
    background-size: 15px auto;
}
}.product-tile__info-container {
    height: 100px;
}
.product-tile__quickshop-button {
    width: calc(100% - 20px);
    bottom: 30px;
    left: 10px;
    position: absolute;
    z-index: 2;
    background: #fff;
    color: #191919;
    cursor: pointer;
    font-size: 10px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    height: 40px;
    line-height: 40px;
    visibility: hidden;
    opacity: 0;
    transition: opacity .2s ease-out, visibility 0s linear .2s;
    font-family: sweetsans;
}
@media screen and (max-width:770px) {
    .product-tile__quickshop-button {
    display: none;
}
}.product-tile__arrow {
    opacity: 0;
    position: absolute;
    z-index: 2;
    width: 11px;
    height: 20px;
    border: 10px solid transparent;
    top: calc(50% - 30px);
    cursor: pointer;
    transition: opacity .3s ease, transform .3s ease;
}
.product-tile__arrow:hover {
    transition-duration: .2s;
}
.product-tile__arrow--left {
    left: 0;
    background: url(../imgs/icons/left.png) no-repeat;
}
.product-tile__arrow--right {
    right: 0;
    background: url(../imgs/icons/right.png) no-repeat;
}
@media screen and (max-width:770px) {
    .product-tile__arrow {
    display: none;
}
}.product-tile .price, .product-tile .pricing, .product-tile__price {
    float: none;
    display: block;
    text-align: left;
    font-size: 10px;
    line-height: 1.5em;
}
.product-tile .price--standard.strikethrough, .product-tile .pricing--standard.strikethrough, .product-tile__price--standard.strikethrough {
    text-decoration: line-through;
}
.product-tile .price--sale, .product-tile .pricing--sale, .product-tile__price--sale {
    color: #f77800;
    margin: 0 0 0 5px;
}
.searchresults .asset-template {
    float: left;
    width: 100%;
    margin: 10px 0 80px;
}
.searchresults .asset-template>* {
    width: 100vw;
    max-width: 100vw;
    margin-left: calc(-1 * (100vw - 100%) / 2);
    margin-right: calc(-1 * (100vw - 100%) / 2);
}
@media screen and (min-width:1500px) {
    .searchresults .asset-template>* {
    max-width: 1500px;
    margin-left: calc(-1 * (1500px - 100%) / 2);
    margin-right: calc(-1 * (1500px - 100%) / 2);
}
}@media screen and (max-width:770px) {
    .searchresults .asset-template {
    margin: -10px 0 60px;
}
}.pdpcontent-breaker {
    margin: 20px 0;
}
@media screen and (max-width:770px) {
    .pdpcontent-breaker {
    margin: 40px 0;
}
}.pdpcontent-breaker--title {
    padding-top: 80px;
    font-family: SweetSans, sans-serif;
    color: #191919;
    font-size: 16px;
    line-height: 1.25em;
    font-weight: 600;
}
.pdpcontent-breaker--wrapper {
    text-align: center;
    background-color: #f6f6f8;
    width: 1500px;
    height: auto;
    max-width: 1500px;
    margin-left: -50px;
    margin-right: -50px;
}
.pdpcontent-breaker--wrapper .image-set {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.pdpcontent-breaker--wrapper .image-set .look-description {
    color: #6e6e6e;
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
}
@media screen and (max-width:770px) {
    .pdpcontent-breaker--wrapper .image-set {
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
}
}@media screen and (max-width:770px) {
    .pdpcontent-breaker--wrapper {
    margin-top: 80px;
}
.pdpcontent-breaker--wrapper .info-container {
    margin-top: 20px;
    margin-bottom: 80px;
}
.pdpcontent-breaker--wrapper .info-container .title {
    font-size: 14px;
    line-height: 1.21em;
}
.pdpcontent-breaker--wrapper .info-container .body-copy--s {
    font-size: 14px;
    line-height: 1.78em;
}
}@media screen and (max-width:550px) {
    .pdpcontent-breaker--wrapper {
    margin-top: 40px;
    margin-bottom: 40px;
}
}.pdpcontent-breaker--wrapper .image-wrapper {
    -ms-flex: 1;
    flex: 1 1 0%;
    max-width: 370px;
    -ms-flex-item-align: start;
    -ms-grid-row-align: start;
    align-self: start;
}
.pdpcontent-breaker--wrapper .image-wrapper--middle {
    margin-left: 4%;
    margin-right: 4%}
.pdpcontent-breaker--wrapper .image-wrapper img {
    max-width: 370px;
}
@media screen and (max-width:770px) {
    .pdpcontent-breaker--wrapper .image-wrapper {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
}
}@media screen and (max-width:1500px) {
    .pdpcontent-breaker--wrapper {
    width: 100vw;
    max-width: 100vw;
    margin-left: calc(-1 * (100vw - 100%) / 2);
}
}.pdpcontent-breaker--wrapper .image-description {
    margin-top: 40px;
}
.category-landing .asset-template {
    float: left;
    width: 100%}
.category-landing .asset-template>* {
    width: 100vw;
    max-width: 100vw;
    margin-left: calc(-1 * (100vw - 100%) / 2);
    margin-right: calc(-1 * (100vw - 100%) / 2);
}
@media screen and (min-width:1500px) {
    .category-landing .asset-template>* {
    max-width: 1500px;
    margin-left: calc(-1 * (1500px - 100%) / 2);
    margin-right: calc(-1 * (1500px - 100%) / 2);
}
}.asset-template-spacer {
    height: 60px;
    width: 100%;
    border-top: 1px solid #f3f3f3;
}
@media screen and (max-width:770px) {
    .asset-template-spacer {
    display: none;
}
}.asset-template {
    margin: 0 0 30px;
}
.asset-template>* {
    width: 100vw;
    max-width: 100vw;
    margin-left: calc(-1 * (100vw - 100%) / 2);
    margin-right: calc(-1 * (100vw - 100%) / 2);
}
@media screen and (min-width:1500px) {
    .asset-template>* {
    max-width: 1500px;
    margin-left: calc(-1 * (1500px - 100%) / 2);
    margin-right: calc(-1 * (1500px - 100%) / 2);
}
}.asset-template video {
    width: 100%;
    max-width: 100%}
.asset-template__wrapper {
    text-align: center;
    height: 100%}
.asset-template__wrapper .body-copy {
    color: #6e6e6e;
}
.asset-template--quote {
    color: #191919;
    font-family: adobe-garamond-pro, serif;
    line-height: 1.17em;
    letter-spacing: normal;
    text-align: center;
}
.asset-template--quote.quote {
    font-size: 30px;
    max-width: 580px;
    margin: 0 auto;
    margin-top: 100px;
}
@media screen and (max-width:770px) {
    .asset-template--quote.quote {
    max-width: 375px;
    font-size: 24px;
    line-height: 1.25em;
    margin-top: 40px;
}
}.asset-template--author {
    color: #6e6e6e;
    text-align: center;
    font-style: italic;
    margin-top: 5px;
    line-height: 1.25em;
}
.asset-template--author.author {
    font-size: 20px;
    margin-bottom: 100px;
}
@media screen and (max-width:770px) {
    .asset-template--author.author {
    font-size: 18px;
    line-height: 1.22em;
    margin-bottom: 40px;
}
}.asset-template--header-1 {
    margin-top: 60px;
    margin-bottom: 40px;
    display: inline-block;
    width: 100%}
.asset-template--header-1 .asset-template__wrapper .body-copy {
    max-width: 506px;
    display: inline-block;
    margin-top: 7px;
}
@media screen and (max-width:770px) {
    .asset-template--header-1 .asset-template__wrapper .body-copy {
    margin-top: 30px;
    max-width: none;
    padding: 0 30px;
}
}@media screen and (max-width:550px) {
    .asset-template--header-1 .asset-template__wrapper .body-copy {
    max-width: none;
    padding: 0;
    margin: 0 15px;
}
}.asset-template figure {
    margin: 0;
}
.asset-template figure figcaption {
    color: #515152;
    font-size: 14px;
    text-align: center;
}
.asset-template .mobile-only-header {
    color: #191919;
    display: none;
    font-family: SweetSans, sans-serif;
    text-align: center;
    margin: 30px auto 20px;
    line-height: 1.67em;
}
@media screen and (max-width:770px) {
    .asset-template .mobile-only-header {
    display: block;
}
}.asset-template .asset-title {
    color: #191919;
    font-weight: 600;
}
.asset-template .asset-copy {
    color: #6e6e6e;
}
.asset-template .center-text {
    text-align: center;
}
.asset-template--storytelling-wrapper .body-copy--l {
    font-size: 18px;
}
.asset-template--storytelling-wrapper .vert-storytelling {
    padding-right: 7.5px;
    padding-left: 7.5px;
    -ms-flex-align: center;
    align-items: center;
    background-color: #fff;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    margin: 0 auto;
    max-width: 880px;
    width: auto;
}
@media screen and (min-width:551px) {
    .asset-template--storytelling-wrapper .vert-storytelling {
    padding-right: 15px;
    padding-left: 15px;
}
}.asset-template--storytelling-wrapper .vert-storytelling .storytelling-photo {
    -ms-flex: 3 0;
    flex: 3 0 0%;
    margin-right: 30px;
    max-width: 400px;
    font-size: 0;
}
.asset-template--storytelling-wrapper .vert-storytelling .storytelling-photo figure img {
    width: 100%}
.asset-template--storytelling-wrapper .vert-storytelling .storytelling-caption {
    -ms-flex: 3 0;
    flex: 3 0 0%;
    max-width: 400px;
    text-align: center;
}
@media screen and (min-width:961px) {
    .asset-template--storytelling-wrapper .vert-storytelling .storytelling-caption {
    margin-left: 50px;
}
}@media screen and (max-width:770px) {
    .asset-template--storytelling-wrapper .vert-storytelling {
    max-width: 400px;
}
.asset-template--storytelling-wrapper .vert-storytelling .storytelling-caption, .asset-template--storytelling-wrapper .vert-storytelling .storytelling-photo {
    -ms-flex: 1 0 770px;
    flex: 1 0 770px;
    margin: 0;
    max-width: 100%}
.asset-template--storytelling-wrapper .vert-storytelling .storytelling-caption {
    margin-top: 40px;
}
}.asset-template--header-2 .lbheader {
    -ms-flex-align: center;
    align-items: center;
    background-color: #f6f6f8;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
}
.asset-template--header-2 .lbheader.lbheader-flow {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
@media screen and (max-width:770px) {
    .asset-template--header-2 .lbheader {
    background-color: transparent;
    margin-top: 24px;
    text-align: center;
}
.asset-template--header-2 .lbheader.lbheader-flow {
    -ms-flex: 3 0 770px;
    flex: 3 0 770px;
}
}.asset-template--header-2 .lbheader-photo {
    -ms-flex: 3 0;
    flex: 3 0 0%}
.asset-template--header-2 .lbheader-photo.no-text {
    font-size: 0;
}
@media screen and (max-width:770px) {
    .asset-template--header-2 .lbheader-photo {
    display: none;
}
.asset-template--header-2 .lbheader-photo.img-visible-mobile {
    display: block;
    -ms-flex: 3 0 770px;
    flex: 3 0 770px;
}
}.asset-template--header-2 .lbheader-photo img {
    width: 100%}
.asset-template--header-2 .lbheader-copy {
    -ms-flex: 2 0;
    flex: 2 0 0%;
    margin-left: 30px;
    margin-right: 30px;
}
.asset-template--header-2 .lbheader-copy .img-label img {
    display: block;
    margin: 0 auto;
    max-width: 215px;
}
@media screen and (max-width:1024px) {
    .asset-template--header-2 .lbheader-copy .img-label img {
    max-width: 215px!important;
    width: 70%}
}@media screen and (max-width:770px) {
    .asset-template--header-2 .lbheader-copy .img-label img {
    display: none;
}
}@media screen and (max-width:770px) {
    .asset-template--header-2 .lbheader-copy {
    margin-left: 30px;
    margin-right: 30px;
}
}.asset-template--header-2 .lbheader-copy .header-copy-s {
    width: 275px;
}
@media screen and (max-width:770px) {
    .asset-template--header-2 .lbheader-copy .header-copy-s {
    width: 100%;
    max-width: 320px;
}
}.asset-template--header-2 .lbheader-copy .header-copy-s p {
    color: #515152;
    margin-top: 20px;
}
@media screen and (max-width:770px) {
    .asset-template--header-2 .lbheader-copy .header-copy-s p {
    margin-top: 30px;
}
}.asset-template--header-2 .lbheader-copy div {
    margin: 0 auto;
    width: 56%;
    max-width: 312px;
    min-width: 232px;
}
@media screen and (max-width:770px) {
    .asset-template--header-2 .lbheader-copy div {
    width: auto;
    min-width: 0;
    max-width: 400px;
}
}.asset-template--header-2 .lbheader-copy h2 {
    font-size: 20px;
    text-transform: uppercase;
}
@media screen and (max-width:770px) {
    .asset-template--header-2 .lbheader-copy h2 {
    font-size: 18px;
}
}.asset-template--header-2 .lbheader-copy p {
    color: #6e6e6e;
    margin: 16px 0;
    font-size: 16px;
    text-align: left;
}
.asset-template--header-2 .lbheader-copy p.body-copy--l {
    font-size: 18px;
    line-height: 1.38em;
    text-align: center;
}
@media screen and (max-width:770px) {
    .asset-template--header-2 .lbheader-copy p.body-copy--l {
    font-size: 16px;
    line-height: 1.56em;
}
}@media screen and (max-width:770px) {
    .asset-template--header-2 .lbheader-copy p {
    text-align: center;
}
}.asset-template--content-breaker-1 {
    position: relative;
}
.asset-template--content-breaker-1 .body-copy, .asset-template--content-breaker-1 .header {
    color: #fff;
}
.asset-template--content-breaker-1 .cta-button {
    background-color: #fff;
    color: #191919;
    font-family: SweetSans, sans-serif;
    font-weight: 600;
    height: 50px;
    width: 200px;
    font-size: 10px;
    line-height: 50px;
    text-align: center;
    text-transform: uppercase;
    display: inline-block;
    text-decoration: none;
}
.asset-template--content-breaker-1 .cta-button:hover {
    opacity: .8;
}
.asset-template--content-breaker-1 .body-copy {
    max-width: 506px;
    display: inline-block;
}
.asset-template--content-breaker-1 .asset-template__content {
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
    box-sizing: border-box;
}
.asset-template--content-breaker-1 img {
    display: inline-block;
    width: 100%}
.asset-template--content-breaker-1 .header--mobile {
    display: none;
}
.asset-template--content-breaker-1 .body-copy {
    font-size: 20px;
}
@media screen and (max-width:550px) {
    .asset-template--content-breaker-1 .asset-template__content {
    position: relative;
    top: 15px;
    -ms-transform: translateY(0);
    transform: translateY(0);
}
.asset-template--content-breaker-1 .asset-template__image-wrapper {
    position: relative;
}
.asset-template--content-breaker-1 .header {
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 0;
    width: 100%}
.asset-template--content-breaker-1 .header--mobile {
    display: inline-block;
    font-size: 24px;
}
.asset-template--content-breaker-1 .header--desktop {
    display: none;
}
.asset-template--content-breaker-1 .body-copy {
    color: #191919;
    font-size: 16px;
}
.asset-template--content-breaker-1 .v-offset-top-m {
    margin-top: -5px;
    margin-bottom: 15px;
}
.asset-template--content-breaker-1 .cta-button {
    background: transparent;
    height: auto;
    width: auto;
    font-size: 16px;
    display: inline;
    text-transform: capitalize;
    font-family: adobe-garamond-pro, serif;
    font-weight: 400;
    border: none;
    text-decoration: underline;
    color: #dbdee3;
}
.asset-template--content-breaker-1 .cta-button span {
    color: #0c2340;
}
}.asset-template a.link--underline span {
    padding-bottom: 2px;
}
.asset-template--content-breaker-2 {
    background-position: 50%;
    background-repeat: no-repeat;
    position: relative;
}
@media screen and (max-width:550px) {
    .asset-template--content-breaker-2 {
    font-size: 16px;
}
.asset-template--content-breaker-2 .asset-template__image-wrapper {
    position: relative;
}
.asset-template--content-breaker-2 .v-offset-top-m {
    margin-top: 20px!important;
}
}.asset-template--content-breaker-2 .header {
    color: #fff;
    position: absolute;
    z-index: 10;
    top: calc(50% - 30px);
    left: 0;
    width: 100%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.asset-template--content-breaker-2 .header--mobile {
    display: none;
}
@media screen and (max-width:550px) {
    .asset-template--content-breaker-2 .header {
    top: 50%}
.asset-template--content-breaker-2 .header--mobile {
    display: inline-block;
}
.asset-template--content-breaker-2 .header--desktop {
    display: none;
}
}.asset-template--content-breaker-2 img {
    width: 100%}
.asset-template--content-breaker-2 .vertical-img img {
    width: auto;
}
.asset-template--content-breaker-2 a, .asset-template--content-breaker-2 a:hover {
    text-decoration: underline;
    font-weight: 400;
    color: #dbdee3;
    line-height: 25px;
}
.asset-template--content-breaker-2 a:hover span, .asset-template--content-breaker-2 a span {
    color: #0c2340;
}
.asset-template--content-breaker-2 .cta-button {
    font-family: adobe-garamond-pro, serif;
    font-size: 18px;
    font-style: normal;
}
@media screen and (max-width:550px) {
    .asset-template--content-breaker-2 .cta-button {
    margin-top: 5px;
    display: inline-block;
    line-height: 18px;
    font-size: 16px;
}
}.asset-template--content-breaker-2 .parallax-content {
    overflow: hidden;
}
.asset-template--content-breaker-2 .dot {
    margin: 0 4px;
    display: inline-block;
}
@media screen and (max-width:550px) {
    .asset-template--content-breaker-2 .dot {
    font-size: 0;
    display: block;
    height: 0;
}
}.asset-template--content-breaker-2 .body-copy {
    position: relative;
    font-size: 18px;
    line-height: 1.38em;
    width: 66%;
    display: inline-block;
    color: #191919;
}
@media screen and (max-width:770px) {
    .asset-template--content-breaker-2 .body-copy {
    width: calc(100% - 60px);
    display: inline-block;
    font-size: 16px;
    line-height: 1.56em;
}
}@media screen and (max-width:550px) {
    .asset-template--content-breaker-2 .body-copy {
    max-width: none;
    width: auto;
    padding: 0 15px;
    display: inline-block;
}
}.asset-template .no-text {
    font-size: 0;
}
.asset-template--content-breaker-3 .body-copy--l {
    font-size: 18px;
}
.asset-template--content-breaker-3 .vert-content {
    -ms-flex-align: center;
    align-items: center;
    background-color: #fff;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    max-width: 910px;
    margin: 0 auto;
    padding-left: 7.5px;
    padding-right: 7.5px;
    width: auto;
}
@media screen and (min-width:551px) {
    .asset-template--content-breaker-3 .vert-content {
    padding: 0 15px;
}
}.asset-template--content-breaker-3 .vert-content--photo {
    -ms-flex: 3 0 340px;
    flex: 3 0 340px;
    margin-right: 20px;
    max-width: 540px;
    min-width: 232px;
}
.asset-template--content-breaker-3 .vert-content--photo img {
    width: 100%}
.asset-template--content-breaker-3 .vert-content--caption {
    -ms-flex: 3 0 200px;
    flex: 3 0 200px;
    margin-left: 20px;
    max-width: 355px;
    min-width: 232px;
    text-align: left;
    color: #191919;
}
.asset-template--content-breaker-3 .vert-content--caption .asset-title {
    line-height: 1em;
}
@media screen and (max-width:770px) {
    .asset-template--content-breaker-3 .vert-content {
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
}
.asset-template--content-breaker-3 .vert-content .vert-content--caption, .asset-template--content-breaker-3 .vert-content .vert-content--photo {
    -ms-flex: 1 0 232px;
    flex: 1 0 232px;
    margin: 0;
}
.asset-template--content-breaker-3 .vert-content .vert-content--photo {
    max-width: 540px;
    margin-left: auto;
    margin-right: auto;
}
.asset-template--content-breaker-3 .vert-content .vert-content--caption {
    max-width: 100%;
    margin-top: 30px;
    -ms-flex: 0;
    flex: 0 1 0%}
.asset-template--content-breaker-3 .vert-content .vert-content--caption .mobile-caption .header {
    font-size: 24px;
    line-height: 1.25em;
}
.asset-template--content-breaker-3 .vert-content .vert-content--caption .mobile-caption .body-copy {
    font-size: 16px;
    line-height: 1.56em;
    margin: 10px 0;
}
.asset-template--content-breaker-3 .vert-content .vert-content--caption div {
    text-align: center;
}
}.asset-template--button {
    opacity: 1;
    background-color: #fff;
    transition: opacity .6s ease-out;
    color: #191919;
    height: 50px;
    width: 210px;
    display: block;
    margin: 0 auto;
    line-height: 50px;
    text-decoration: none;
    font-family: SweetSans, sans-serif;
    font-size: 10px;
    text-transform: uppercase;
}
@media screen and (max-width:770px) {
    .asset-template--button {
    height: auto;
    text-transform: none;
    background-color: transparent;
    font-size: 16px;
    margin-top: 60px;
    font-family: adobe-garamond-pro, serif;
    line-height: 1em;
    text-decoration: underline;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    width: auto;
    border-bottom: 1px solid hsla(0, 0%, 100%, .25);
    padding-bottom: 0;
}
}.asset-template--button:hover {
    color: #191919;
    text-decoration: none;
    opacity: .8;
    transition: opacity .6s ease-out;
}
@media screen and (max-width:770px) {
    .asset-template--button: hover {
    opacity: 1;
    color: #fff;
    border-bottom: 1px solid #fff;
}
}.asset-template--content-breaker-4 .content-breaker-wrapper {
    -ms-flex-align: center;
    align-items: center;
    background-color: #0c2340;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.asset-template--content-breaker-4 .content-breaker-wrapper .v-offset-top-m {
    margin-top: 30px;
    font-weight: 600;
    letter-spacing: 1px;
}
@media screen and (max-width:770px) {
    .asset-template--content-breaker-4 .content-breaker-wrapper .v-offset-top-m {
    font-weight: 400;
    margin-top: 40px;
    letter-spacing: normal;
}
}@media screen and (max-width:770px) {
    .asset-template--content-breaker-4 .content-breaker-wrapper {
    text-align: center;
}
.asset-template--content-breaker-4 .content-breaker-wrapper .cb-photo {
    -ms-flex: 3 0 770px;
    flex: 3 0 770px;
}
}.asset-template--content-breaker-4 .cb-photo {
    font-size: 0;
    -ms-flex: 3 0;
    flex: 3 0 0%}
.asset-template--content-breaker-4 .cb-photo img {
    width: 100%}
.asset-template--content-breaker-4 .cb-copy {
    -ms-flex: 3 0;
    flex: 3 0 0%;
    text-align: center;
}
@media screen and (max-width:770px) {
    .asset-template--content-breaker-4 .cb-copy {
    height: 100vw;
    padding: 0 5px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
}
}.asset-template--content-breaker-4 .cb-copy div {
    margin: 0 auto;
    width: 63%}
@media screen and (max-width:770px) {
    .asset-template--content-breaker-4 .cb-copy div {
    width: auto;
    min-width: 0;
    max-width: 288px;
}
}.asset-template--content-breaker-4 .cb-copy .header {
    color: #fff;
}
@media screen and (max-width:770px) {
    .asset-template--content-breaker-4 .cb-copy .header {
    font-size: 20px;
}
}.asset-template--content-breaker-4 .cb-copy p {
    color: #fff;
    margin: 20px 0;
    font-size: 16px;
    text-align: left;
}
.asset-template--content-breaker-4 .cb-copy p.body-copy--l {
    font-size: 18px;
    line-height: 1.66em;
    text-align: center;
}
@media screen and (max-width:770px) {
    .asset-template--content-breaker-4 .cb-copy p.body-copy--l {
    font-size: 16px;
    line-height: 1.56em;
}
}@media screen and (max-width:770px) {
    .asset-template--content-breaker-4 .cb-copy p {
    text-align: center;
}
}.asset-template--video-breaker {
    text-align: center;
}
.asset-template--video-breaker .asset-template__inner-wrapper {
    position: relative;
}
.asset-template--video-breaker .asset-template__content {
    pointer-events: none;
}
.asset-template--video-breaker .asset-template__content-bottom .body-copy {
    font-size: 18px;
    color: #191919;
}
.asset-template--video-breaker .asset-template__play-button {
    color: transparent;
    width: 80px;
    height: 80px;
    background: url(../../../img/new_design/tb-play-btn.svg) no-repeat;
    background-size: 100%;
    position: absolute;
    right: 40px;
    bottom: 40px;
    display: none;
}
@media screen and (max-width:770px) {
    .asset-template--video-breaker .header--xxl {
    font-size: 24px;
}
.asset-template--video-breaker .asset-template__content-bottom .body-copy {
    font-size: 16px;
    color: #191919;
}
.asset-template--video-breaker .asset-template__play-button {
    height: 40px;
    width: 40px;
    display: block;
}
}@media screen and (max-width:550px) {
    .asset-template--video-breaker .v-offset-top-m {
    margin-top: 10px;
}
}.pdp-description h6, .pdp-description p {
    padding-left: calc((100% - 30px) * .1);
}
@media screen and (max-width:770px) {
    .pdp-description h6, .pdp-description p {
    padding-left: 0;
}
}.pdp-content-breaker {
    margin-top: 80px;
}
.pdp-content-breaker--wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    min-height: 400px;
    width: 100%}
.pdp-content-breaker--column {
    -ms-flex: 1;
    flex: 1 1 0%}
.pdp-content-breaker--column:first-of-type {
    margin-right: 15px;
    margin-left: 30px;
}
.pdp-content-breaker--column:first-of-type .pdp-content-breaker--item:first-of-type {
    margin-top: 0;
}
.pdp-content-breaker--column:last-of-type {
    margin-left: 15px;
}
.pdp-content-breaker--column:last-of-type .pdp-content-breaker--item:first-of-type {
    margin-top: 120px;
}
.pdp-content-breaker--column:last-of-type .pdp-content-breaker--item:last-of-type {
    margin-bottom: 80px;
}
.pdp-content-breaker--item {
    width: 100%;
    margin-top: 15px;
    overflow: hidden;
    position: relative;
    z-index: 1;
    line-height: 1.5em;
}
.pdp-content-breaker--item a.instagram-link {
    color: #0c2340;
    font-size: 14px;
    line-height: 1;
    border-bottom: none;
    display: inline-block;
}
.pdp-content-breaker--item a.instagram-link:hover {
    border-bottom: none;
}
.pdp-content-breaker--item a.instagram-link:hover span {
    border-bottom: 1px solid #0c2340;
}
.pdp-content-breaker--item a.instagram-link span {
    border-bottom: 1px solid rgba(12, 35, 64, .2);
    font-style: italic;
}
.pdp-content-breaker--item img {
    display: block;
    max-width: 100%;
    margin-bottom: 5px;
}
@media screen and (max-width:770px) {
    .pdp-content-breaker .pdp-content-breaker--column {
    margin-right: 0;
    margin-left: 0;
    -ms-flex-preferred-size: 770px;
    flex-basis: 770px;
    width: 100%}
.pdp-content-breaker .pdp-content-breaker--column:last-of-type .pdp-content-breaker--item:first-of-type {
    margin-top: 30px;
}
.pdp-content-breaker .pdp-content-breaker--item img {
    width: 100%}
}@media screen and (max-width:550px) {
    .asset-template--mobile-header .asset-template__content {
    margin: 10px 25px;
    line-height: 25px;
}
.asset-template--mobile-header .asset-template__image-wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
}
.asset-template--mobile-header .asset-template__overlay-img {
    position: absolute;
}
.asset-template--mobile-header .asset-template__header {
    padding: 20px 38px;
}
.asset-template--mobile-header .asset-template__header h2 {
    font-family: SweetSans, sans-serif;
    font-weight: 700;
}
.asset-template--mobile-header-headless .asset-template__content .body-copy, .asset-template--mobile-header .asset-template__header h2 {
    color: #191919;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
}
}.footer {
    width: 100%;
    margin: 0 auto;
    max-width: 100%}
.footer--subscribe-content {
    padding: 70px 30px;
    box-sizing: border-box;
    background-color: #f6f6f8;
    height: 280px;
    width: 1500px;
    margin: 0 auto;
    max-width: 100%}
@media screen and (max-width:770px) {
    .footer--subscribe-content {
    height: auto;
    padding: 50px 30px 0;
}
}.footer--subscribe-content .subscribe-header {
    text-align: center;
    margin-bottom: 40px;
}
@media screen and (max-width:770px) {
    .footer--subscribe-content .subscribe-header {
    width: 586px;
    max-width: 100%;
    margin: 0 auto 50px;
}
}.footer--subscribe-content .subscribe-header .body-copy {
    color: #6e6e6e;
}
.footer--subscribe-content .subscribe-header.confirmation .header {
    margin-bottom: 30px;
}
@media screen and (max-width:770px) {
    .footer--subscribe-content .subscribe-form {
    width: 586px;
    max-width: 100%;
    margin: 0 auto 50px;
}
}.footer--subscribe-content .subscribe-form .form-section {
    width: calc(33.33% - 20px);
    display: inline-block;
    margin-right: 30px;
    float: left;
    position: relative;
}
.footer--subscribe-content .subscribe-form .form-section.last {
    margin-right: 0;
}
@media screen and (max-width:770px) {
    .footer--subscribe-content .subscribe-form .form-section {
    display: block;
    float: none;
    width: 100%;
    margin: 0 0 30px;
}
}.footer--subscribe-content .subscribe-form .email-input {
    width: 100%;
    max-width: 100%;
    height: 50px;
    border: 1px solid #d3d4d5;
    background-color: #fff;
    font-size: 14px;
    padding: 0 0 0 16px;
    box-sizing: border-box;
    box-shadow: none;
    -webkit-appearance: none;
}
@media screen and (max-width:770px) {
    .footer--subscribe-content .subscribe-form .email-input {
    font-size: 16px;
}
}.footer--subscribe-content .subscribe-form .email-input::-webkit-input-placeholder {
    color: #6e6e6e;
    text-transform: none;
}
.footer--subscribe-content .subscribe-form .email-input:-ms-input-placeholder {
    color: #6e6e6e;
    text-transform: none;
}
.footer--subscribe-content .subscribe-form .email-input::placeholder {
    color: #6e6e6e;
    text-transform: none;
}
.footer--subscribe-content .subscribe-form .email-input.error {
    border: 1px solid #f4301e;
}
.footer--subscribe-content .subscribe-form .email-input.error::-webkit-input-placeholder {
    color: #f4301e;
}
.footer--subscribe-content .subscribe-form .email-input.error:-ms-input-placeholder {
    color: #f4301e;
}
.footer--subscribe-content .subscribe-form .email-input.error::placeholder {
    color: #f4301e;
}
.footer--subscribe-content .subscribe-form .email-label-container {
    position: absolute;
    top: -25px;
    color: #6e6e6e;
    overflow: hidden;
}
.footer--subscribe-content .subscribe-form .email-label-container .email-label {
    display: none;
}
.footer--subscribe-content .subscribe-form .country-select {
    width: 100%;
    height: 50px;
    border: 1px solid #d3d4d5;
    background-color: #fff;
}
.footer--subscribe-content .subscribe-form .select__value {
    width: 100%;
    box-sizing: border-box;
    height: 50px;
    line-height: 50px;
    padding: 0 0 0 16px;
}
.footer--subscribe-content .subscribe-form .button {
    width: 100%}
.footer--subscribe-content .subscribe-form .footer-privacy-policy {
    position: absolute;
    display: none;
    color: #515152;
    font-family: Adobe Garamond Pro, serif;
    font-size: 14px;
    margin-top: 20px;
    width: 100%;
    line-height: 20px;
}
@media screen and (max-width:900px) and (min-width:770px) {
    .footer--subscribe-content .subscribe-form .footer-privacy-policy {
    width: 150px;
}
}@media screen and (max-width:770px) {
    .footer--subscribe-content .subscribe-form .footer-privacy-policy {
    display: block;
    margin-top: 30px;
    position: static;
    width: 100%}
}.footer--subscribe-content .subscribe-form .footer-privacy-policy .errormessage {
    color: #f4301e;
    font-family: Adobe Garamond Pro, serif;
    font-size: 14px;
    margin: 10px 0 0 25px;
}
.footer--links {
    padding: 70px 30px 30px;
    box-sizing: border-box;
    width: 1500px;
    margin: 0 auto;
    max-width: 100%}
@media screen and (max-width:770px) {
    .footer--links {
    display: none;
}
}.footer--links-column {
    width: 25%;
    float: left;
}
@media screen and (max-width:770px) {
    .footer--links-column {
    width: 100%;
    float: none;
}
}.footer--links-column .column-header {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 10px;
    color: #191919;
    font-family: SamsungSans;
    margin-bottom: 20px;
}
.footer--links-column li {
    list-style: none;
    margin: 15px 0;
}
@media screen and (max-width:770px) {
    .footer--links-column li {
    margin: 0;
    padding: 7.5px 0;
}
}.footer--links-column li a {
    font-size: 12px;
    font-family: SamsungSans;
    color: #6e6e6e;
    text-decoration: none;
}
.footer--links-column li a:hover {
    color: #191919;
}
.footer--links-column #footerChatLink {
    font-size: 12px;
    font-family: Sweetsans, Arial, Serif;
    color: #6e6e6e;
}
.footer--links-column #footerChatLinkInfo {
    visibility: hidden;
}
.footer--links-column .app-icon-li {
    display: inline-block;
    margin-right: 20px;
    margin-top: 0;
}
.footer--links-column .app-icon {
    height: 15px;
    width: 15px;
    display: block;
}
.footer--links-column .app-icon.apple {
    background-image: url(../../images/new_design/svg/15x15-Apple.svg);
    background-size: 15px 15px;
}
.footer--links-column .app-icon.android {
    background-image: url(../../images/new_design/svg/15x15-Android.svg);
    background-size: 15px 15px;
}
.footer--mobile-links {
    display: none;
}
@media screen and (max-width:770px) {
    .footer--mobile-links {
    display: block;
    padding: 0 30px;
    margin: 40px 0;
}
.footer--mobile-links .footer--links-column {
    border-top: 1px solid #f3f3f3;
    border-bottom: 1px solid #f3f3f3;
    overflow: hidden;
}
.footer--mobile-links .footer--links-column .js-footer-social-list {
    display: none;
}
.footer--mobile-links .footer--links-column .column-header {
    display: block;
    margin: 0;
    line-height: 50px;
    background: url(../imgs/icons/down.png) no-repeat;
    background-position-x: 98%;
    background-position-y: 50%;
    cursor: pointer;
}
.footer--mobile-links .footer--links-column.open .column-header {
    /*background: url(../../images/new_design/svg/tb-xxx-m.svg) no-repeat;*/
    background-position-x: 98%;
    background-position-y: 50%;
    background-size: 8px 8px;
}
}.footer--bottom {
    margin-top: 100px;
    clear: both;
    font-family: Sweetsans, Arial, Serif;
    color: #979797;
    font-size: 12px;
    padding: 0 30px;
}
@media screen and (max-width:770px) {
    .footer--bottom {
    padding-bottom: 30px;
}
}@media screen and (max-width:550px) {
    .footer--bottom {
    margin-top: 40px;
    position: relative;
    height: 100px;
    padding: 0 15px;
}
}.footer--bottom-left {
    float: left;
}
@media screen and (max-width:550px) {
    .footer--bottom-left {
    float: none;
    position: absolute;
    bottom: 40px;
    width: 100%;
    text-align: center;
}
}.footer--bottom-right {
    float: right;
}
@media screen and (max-width:550px) {
    .footer--bottom-right {
    float: none;
    width: 320px;
    margin: 0 auto;
    max-width: 100%}
}.footer--bottom-right div {
    display: inline-block;
}
.footer--bottom-right div.middle {
    margin: 0 30px;
}
@media screen and (max-width:550px) {
    .footer--bottom-right div.middle {
    margin: 0 15px;
}
}@media screen and (max-width:550px) {
    .footer--bottom-right div {
    float: none;
}
}.footer--bottom-right div a {
    font-size: 12px;
    font-family: Sweetsans, Arial, Serif;
    color: #979797;
    text-decoration: none;
}
.custom-checkbox {
    width: 15px;
    height: 25px;
    position: relative;
    float: left;
    margin-right: 10px;
}
.custom-checkbox label {
    cursor: pointer;
    position: absolute;
    width: 13px;
    height: 13px;
    top: 0;
    left: 0;
    background: #fff;
    border: 1px solid #d3d4d5;
}
.custom-checkbox label:after {
    opacity: 0;
    content: "";
    position: absolute;
    width: 8px;
    height: 3px;
    background: transparent;
    top: 4px;
    left: 2px;
    border: 1px solid #191919;
    border-top: none;
    border-right: none;
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.custom-checkbox input[type=checkbox] {
    visibility: hidden;
    height: 15px;
    width: 15px;
}
.custom-checkbox input[type=checkbox]:checked+label:after {
    opacity: 1;
}
.slick-slider {
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.slick-list, .slick-slider {
    position: relative;
    display: block;
}
.slick-list {
    margin: 0;
    padding: 0;
}
.slick-list:focus {
    outline: none;
}
.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}
.slick-slider .slick-list, .slick-slider .slick-track {
    -ms-transform: translateZ(0);
    transform: translateZ(0);
}
.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;
}
.slick-track:after {
    clear: both;
}
.slick-loading .slick-track {
    visibility: hidden;
}
.slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
    display: none;
}
[dir=rtl] .slick-slide {
    float: right;
}
.slick-slide img {
    display: block;
}
.slick-slide.slick-loading img {
    display: none;
}
.slick-slide.dragging img {
    pointer-events: none;
}
.slick-initialized .slick-slide {
    display: block;
}
.slick-loading .slick-slide {
    visibility: hidden;
}
.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}
.runway-shop--container .new-breadcrumb {
    position: static;
    margin: 20px 0 20px 30px!important;
}
.runway-shop--section {
    width: 1340px;
    margin: 0 auto;
    max-width: 100%;
    height: 100%;
    padding: 40px 15px;
    box-sizing: border-box;
}
.runway-shop--section.single-set .runway-shop--look-container {
    float: none;
    margin: 0 auto;
    width: 50%}
.runway-shop--section.single-set .left-offset {
    margin: 0 0 0 100px;
}
.runway-shop--section.double-set .runway-shop--look-container {
    width: calc(50% - 15px);
    display: inline-block;
    float: left;
    margin-left: 15px;
}
.runway-shop--section.double-set .runway-shop--look-container.right-margin {
    margin-left: 0;
    margin-right: 15px;
}
.runway-shop--section.double-set .runway-shop--look-container.switch-pos {
    float: right;
}
.runway-shop--section.double-set .top-offset-normal {
    padding-top: 175px;
}
.runway-shop--section.double-set .top-offset-double {
    padding-top: 350px;
}
.runway-shop--size-lg {
    width: 100%;
    margin: 0 auto;
}
.runway-shop--size-md {
    width: 83%;
    margin: 0 auto;
}
.runway-shop--size-sm {
    width: 65%;
    margin: 0 auto;
}
.runway-shop--align-left {
    margin: 0;
}
.runway-shop--align-right {
    margin-left: auto;
    margin-right: 0;
}
@media screen and (max-width:770px) {
    .runway-shop--section {
    width: 100%;
    padding: 0;
    clear: both;
}
.runway-shop--section.single-set .runway-shop--look-container {
    float: none;
    margin: 0 auto;
    width: 100%}
.runway-shop--section.single-set .left-offset {
    margin: 0 auto;
}
.runway-shop--section.double-set .runway-shop--look-container {
    width: 100%;
    display: block;
    float: none;
    margin: 0;
}
.runway-shop--section.double-set .runway-shop--look-container.switch-pos {
    float: none;
}
.runway-shop--section.double-set .top-offset-double, .runway-shop--section.double-set .top-offset-normal {
    padding-top: 20px;
}
.runway-shop--look-container {
    padding: 30px 0;
}
.runway-shop--look {
    width: 345px;
    margin: 0 auto;
    max-width: 100%}
}.productset-tile {
    transform: translate3d(0, 25%, 0);
    transition: transform ease-in-out;
}
.productset-tile--img-container {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.productset-tile--img-container img {
    max-width: 100%;
    opacity: 0;
    transition: transform .5s ease-out;
}
.productset-tile--img-container:hover img {
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}
.productset-tile--shop-button {
    position: absolute;
    padding: 10px 17.5px;
    background: #fff;
    bottom: 15px;
    left: 15px;
    font-family: SweetSans, sans-serif;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 600;
    color: #191919;
    cursor: pointer;
}
.productset-tile--name {
    color: #191919;
}
@media screen and (max-width:770px) {
    .productset-tile {
    transform: translateZ(0)!important;
    transition: none;
}
.productset-tile--img-container img {
    opacity: 1!important;
    transition: transform .5s ease-out;
}
.productset-tile--img-container:hover img {
    -ms-transform: none;
    transform: none;
}
.productset-tile--name {
    font-size: 18px;
}
}.shopping-drawer {
    background: none;
    transition: all 0s linear .5s;
    box-sizing: border-box;
    opacity: 0;
    overflow: auto;
    position: fixed;
    top: 0;
    left: 0;
    visibility: hidden;
    width: 100%;
    height: 100%;
    z-index: 10000;
    min-height: 600px;
}
.shopping-drawer .s7videoplayer video {
    width: auto!important;
    height: 100%!important;
    top: 0!important;
}
.shopping-drawer:before {
    background-color: rgba(0, 0, 0, .15);
    content: " ";
    opacity: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: all .5s ease;
}
.shopping-drawer .modal {
    box-sizing: border-box;
    border: none;
    height: 100vh;
    max-width: 770px;
    width: 100%;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 100%;
    -ms-transform: translatex(0);
    transform: translatex(0);
    transition: transform .3s ease .3s;
    -webkit-overflow-scrolling: touch;
    opacity: 1;
    visibility: visible;
    background: #fff;
    margin: 0;
}
.shopping-drawer .modal .image-viewer-wrapper {
    height: calc(100vh - 185px);
    box-sizing: border-box;
    position: relative;
    min-height: 415px;
}
@media screen and (max-width:770px) {
    .shopping-drawer .modal .image-viewer-wrapper {
    height: auto;
    min-height: 591px;
}
}.shopping-drawer .modal .image-viewer-wrapper .image-viewer {
    position: absolute;
    height: 100%;
    width: 100%}
.shopping-drawer .modal .image-viewer-wrapper .image-viewer .detailed-product {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 30px;
}
.shopping-drawer .modal .image-viewer-wrapper .image-viewer .detailed-product a {
    line-height: 20px;
}
@media screen and (max-width:770px) {
    .shopping-drawer .modal .image-viewer-wrapper .image-viewer {
    position: relative;
}
}.shopping-drawer .modal .image-viewer-wrapper .image-viewer .modal-overlay-close {
    /*background: url(../../images/new_design/svg/tb-xxx-m.svg) no-repeat 50%;*/
    background-size: contain;
    cursor: pointer;
    height: 15px;
    position: absolute;
    right: 20px;
    top: 20px;
    width: 15px;
    padding: 10px;
    background-size: 15px;
}
@media screen and (max-width:770px) {
    .shopping-drawer .modal .image-viewer-wrapper .image-viewer .modal-overlay-close {
    top: 10px;
    right: 10px;
    margin: 2px;
}
}.shopping-drawer .modal .image-viewer-wrapper .image-viewer .header-wrapper {
    position: relative;
    width: 50%;
    height: 70px;
    margin-left: auto;
    margin-right: auto;
}
@media screen and (max-width:770px) {
    .shopping-drawer .modal .image-viewer-wrapper .image-viewer .header-wrapper {
    height: 60px;
}
}@media screen and (min-height:795px) and (min-width:771px) {
    .shopping-drawer .modal .image-viewer-wrapper .image-viewer .header-wrapper {
    height: 100px;
}
}.shopping-drawer .modal .image-viewer-wrapper .image-viewer .header-wrapper .shop-look-title {
    line-height: 1.22em;
    box-sizing: border-box;
    padding-top: 26px;
    text-align: center;
    color: #191919;
}
@media screen and (max-width:770px) {
    .shopping-drawer .modal .image-viewer-wrapper .image-viewer .header-wrapper .shop-look-title {
    padding-top: 20px;
    font-size: 16px;
    line-height: 19px;
}
}@media screen and (min-height:795px) and (min-width:771px) {
    .shopping-drawer .modal .image-viewer-wrapper .image-viewer .header-wrapper .shop-look-title {
    padding-top: 78.4px;
}
}.shopping-drawer .modal .image-viewer-wrapper .image-viewer .img-shopping-drawer {
    display: -ms-flexbox;
    display: flex;
    height: calc(100% - 70px);
}
@media screen and (max-width:770px) {
    .shopping-drawer .modal .image-viewer-wrapper .image-viewer .img-shopping-drawer {
    border-top: 1px solid #f3f3f3;
    overflow: hidden;
}
}@media screen and (min-height:795px) and (min-width:771px) {
    .shopping-drawer .modal .image-viewer-wrapper .image-viewer .img-shopping-drawer {
    height: calc(100% - 100px);
}
}.shopping-drawer .modal .image-viewer-wrapper .image-viewer .img-shopping-drawer .img-container-wrapper {
    margin: auto 0;
    width: 100%}
@media screen and (max-width:770px) {
    .shopping-drawer .modal .image-viewer-wrapper .image-viewer .img-shopping-drawer .img-container-wrapper {
    margin: 0;
}
}@media screen and (max-height:765px) {
    .shopping-drawer .modal .image-viewer-wrapper .image-viewer .img-shopping-drawer .img-container-wrapper {
    margin: 0;
}
}.shopping-drawer .modal .image-viewer-wrapper .image-viewer .img-shopping-drawer .img-container-wrapper .img-container {
    margin-top: 30px;
    position: relative;
}
@media screen and (max-width:770px) {
    .shopping-drawer .modal .image-viewer-wrapper .image-viewer .img-shopping-drawer .img-container-wrapper .img-container {
    margin-top: 0;
}
}.shopping-drawer .modal .image-viewer-wrapper .image-viewer .img-shopping-drawer .img-container-wrapper .img-container .img-control-pannel {
    margin-left: 60px;
    float: left;
    position: relative;
}
@media screen and (min-width:771px) {
    .shopping-drawer .modal .image-viewer-wrapper .image-viewer .img-shopping-drawer .img-container-wrapper .img-container .img-control-pannel {
    height: 420px;
    width: 95px;
}
}@media screen and (max-width:770px) {
    .shopping-drawer .modal .image-viewer-wrapper .image-viewer .img-shopping-drawer .img-container-wrapper .img-container .img-control-pannel {
    margin: 30px 0 30px 20px;
    float: none;
    width: 100%}
}@media screen and (max-height:765px) and (min-width:770px) {
    .shopping-drawer .modal .image-viewer-wrapper .image-viewer .img-shopping-drawer .img-container-wrapper .img-container .img-control-pannel {
    height: auto;
    width: auto;
}
}@media screen and (min-width:771px) {
    .shopping-drawer .modal .image-viewer-wrapper .image-viewer .img-shopping-drawer .img-container-wrapper .img-container .img-control-pannel .slick-list {
    overflow: hidden;
}
}.shopping-drawer .modal .image-viewer-wrapper .image-viewer .img-shopping-drawer .img-container-wrapper .img-container .img-control-pannel .img-control-arrow {
    cursor: pointer;
    width: 100%;
    height: 30px;
    min-height: 30px;
    min-width: 45px;
    box-sizing: border-box;
    border: 1px solid #d3d4d5;
    background-size: 7px;
}
@media screen and (max-width:770px) {
    .shopping-drawer .modal .image-viewer-wrapper .image-viewer .img-shopping-drawer .img-container-wrapper .img-container .img-control-pannel .img-control-arrow {
    display: none;
}
}.shopping-drawer .modal .image-viewer-wrapper .image-viewer .img-shopping-drawer .img-container-wrapper .img-container .img-control-pannel .img-control-arrow.next-image {
    background: url(../../images/new_design/svg/arrow_down_active.svg) no-repeat 50%;
    margin: 2px 0 0;
}
@media screen and (max-height:765px) and (min-width:771px) {
    .shopping-drawer .modal .image-viewer-wrapper .image-viewer .img-shopping-drawer .img-container-wrapper .img-container .img-control-pannel .img-control-arrow.next-image {
    margin: 0;
}
}.shopping-drawer .modal .image-viewer-wrapper .image-viewer .img-shopping-drawer .img-container-wrapper .img-container .img-control-pannel .img-control-arrow.next-image.slick-disabled {
    background: url(../../images/new_design/svg/arrow_down_grey.svg) no-repeat 50%}
.shopping-drawer .modal .image-viewer-wrapper .image-viewer .img-shopping-drawer .img-container-wrapper .img-container .img-control-pannel .img-control-arrow .slick-disabled {
    background-size: 7px;
}
.shopping-drawer .modal .image-viewer-wrapper .image-viewer .img-shopping-drawer .img-container-wrapper .img-container .img-control-pannel .img-control-arrow.prev-image {
    margin: 0 0 10px;
    background: url(../../images/new_design/svg/arrow_up_active.svg) no-repeat 50%}
.shopping-drawer .modal .image-viewer-wrapper .image-viewer .img-shopping-drawer .img-container-wrapper .img-container .img-control-pannel .img-control-arrow.prev-image.slick-disabled {
    background: url(../../images/new_design/svg/arrow_up_grey.svg) no-repeat 50%}
.shopping-drawer .modal .image-viewer-wrapper .image-viewer .img-shopping-drawer .img-container-wrapper .img-container .img-control-pannel .thumbnail-container {
    width: 100%;
    overflow: hidden;
}
@media screen and (max-width:770px) {
    .shopping-drawer .modal .image-viewer-wrapper .image-viewer .img-shopping-drawer .img-container-wrapper .img-container .img-control-pannel .thumbnail-container {
    display: block;
    white-space: nowrap;
    min-height: 100%}
.shopping-drawer .modal .image-viewer-wrapper .image-viewer .img-shopping-drawer .img-container-wrapper .img-container .img-control-pannel .thumbnail-container div {
    max-width: none;
}
}@media screen and (max-width:770px) {
    .shopping-drawer .modal .image-viewer-wrapper .image-viewer .img-shopping-drawer .img-container-wrapper .img-container .img-control-pannel .thumbnail-container .slick-track {
    height: 22vw;
}
}.shopping-drawer .modal .image-viewer-wrapper .image-viewer .img-shopping-drawer .img-container-wrapper .img-container .img-control-pannel .thumbnail-container .image-list__item {
    box-sizing: border-box;
    background-color: #f6f6f8;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    border: 1px solid transparent;
    transition: border-color .1s ease-out;
}
.shopping-drawer .modal .image-viewer-wrapper .image-viewer .img-shopping-drawer .img-container-wrapper .img-container .img-control-pannel .thumbnail-container .image-list__item--selected {
    border-color: #191919;
}
@media screen and (max-width:770px) {
    .shopping-drawer .modal .image-viewer-wrapper .image-viewer .img-shopping-drawer .img-container-wrapper .img-container .img-control-pannel .thumbnail-container .image-list__item {
    height: 22vw;
    width: 20vw;
    margin-right: 10px;
    position: relative;
}
}@media screen and (min-width:771px) {
    .shopping-drawer .modal .image-viewer-wrapper .image-viewer .img-shopping-drawer .img-container-wrapper .img-container .img-control-pannel .thumbnail-container .image-list__item {
    margin: 0 0 10px;
    width: 95px;
    height: 106px;
}
}@media screen and (max-height:765px) and (min-width:770px) {
    .shopping-drawer .modal .image-viewer-wrapper .image-viewer .img-shopping-drawer .img-container-wrapper .img-container .img-control-pannel .thumbnail-container .image-list__item {
    height: calc((100vh - 345px - 60px - 40px) / 3);
    width: calc(((100vh - 345px - 60px - 40px) / 3) * .9);
    min-height: 51px;
    min-width: 45.9px;
    display: block;
    float: none;
}
}.shopping-drawer .modal .image-viewer-wrapper .image-viewer .img-shopping-drawer .img-container-wrapper .img-container .img-control-pannel .thumbnail-container .image-list__item img {
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 1;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    float: none;
    padding: 0;
    width: 100%}
.shopping-drawer .modal .productset-info-panel {
    height: 185px;
    background-color: #f6f6f8;
    padding: 40px 60px;
    box-sizing: border-box;
}
.shopping-drawer .modal .productset-info-panel .productset-info {
    float: left;
    display: inline-block;
    max-width: 55%}
.shopping-drawer .modal .productset-info-panel .productset-product-name {
    margin-right: 5px;
}
.shopping-drawer .modal .productset-info-panel .productset-availability {
    float: right;
    display: inline-block;
    height: 24px;
}
.shopping-drawer .modal .productset-info-panel .productset-availability.mobile-availability-msg {
    display: none;
}
.shopping-drawer .modal .productset-info-panel .productset-attrs .productset-attr {
    width: 200px;
    float: left;
    display: inline-block;
    margin-right: 10px;
}
.shopping-drawer .modal .productset-info-panel .productset-attrs .select__value {
    box-sizing: border-box;
}
.shopping-drawer .modal .productset-info-panel .productset-attrs .select-label {
    color: #6e6e6e;
}
.shopping-drawer .modal .productset-info-panel .productset-actions {
    width: 220px;
    float: left;
    display: inline-block;
    margin-left: 10px;
    margin-top: 24px;
    line-height: 40px;
}
.shopping-drawer .modal .productset-info-panel .productset-actions .button--medium {
    width: 100%}
@media screen and (max-width:1024px) and (min-width:771px) {
    .shopping-drawer .modal.is-ipad {
    -webkit-overflow-scrolling: auto;
}
.shopping-drawer .modal.is-ipad .image-viewer-wrapper {
    height: calc(100vh - 275px);
}
.shopping-drawer .modal.is-ipad .image-viewer-wrapper .image-viewer .img-shopping-drawer .img-container-wrapper .img-container {
    margin-top: 0;
}
.shopping-drawer .modal.is-ipad .image-viewer-wrapper .image-viewer .img-shopping-drawer .img-container-wrapper .img-container .img-control-pannel .thumbnail-container .image-list__item {
    margin: 0 0 8px;
}
.shopping-drawer .modal.is-ipad .image-viewer-wrapper .image-viewer .img-shopping-drawer .img-container-wrapper .img-container .main-img-wrapper {
    height: calc(100vh - 400px);
    width: calc((100vh - 400px) * .88);
}
.shopping-drawer .modal.is-ipad .image-viewer-wrapper .detailed-product {
    position: absolute;
    width: 100%;
    bottom: -10px;
}
}@media screen and (max-width:770px) {
    .shopping-drawer .modal {
    overflow: scroll;
}
.shopping-drawer .modal .productset-info-panel {
    height: auto;
    min-height: 330px;
    padding: 20px 15px 100px;
}
.shopping-drawer .modal .productset-info-panel .productset-info {
    max-width: 100%}
.shopping-drawer .modal .productset-info-panel .productset-availability {
    display: none;
}
.shopping-drawer .modal .productset-info-panel .productset-availability.mobile-availability-msg {
    display: block;
    float: none;
    margin: 20px 0;
    font-size: 14px;
}
.shopping-drawer .modal .productset-info-panel .productset-attrs .productset-attr {
    width: 100%;
    float: none;
    display: block;
    margin: 0;
}
.shopping-drawer .modal .productset-info-panel .productset-attrs--size.productset-attr {
    margin-top: 10px;
}
.shopping-drawer .modal .productset-info-panel .productset-attrs .select-label {
    font-size: 14px;
}
.shopping-drawer .modal .productset-info-panel .productset-actions {
    width: 100%;
    float: none;
    display: block;
    margin: 0;
}
.shopping-drawer .modal.is-ipad {
    -webkit-overflow-scrolling: auto;
}
}.shopping-drawer[aria-expanded=true] {
    transition-delay: 0s;
    opacity: 1;
    visibility: visible;
}
.shopping-drawer[aria-expanded=true] .modal {
    -ms-transform: translatex(-100%);
    transform: translatex(-100%);
    transition-duration: .5s;
}
.shopping-drawer[aria-expanded=true]:before {
    opacity: 1;
    transition-delay: .2s;
    transition-duration: .3s;
}
@media screen and (max-width:770px) {
    .shopping-drawer {
    height: 100vh;
}
.shopping-drawer .shopping-drawer .modal {
    width: 100%;
    height: 100%}
}.main-img-wrapper {
    position: relative;
    margin: 0 auto;
    width: 48%;
    background: #f6f6f8;
}
.main-img-wrapper .product-tile__thumb-container {
    padding: 0;
}
.main-img-wrapper:hover .product-tile__qs-heart {
    visibility: visible;
    opacity: 1;
    transition: opacity .3s ease;
}
.main-img-wrapper:hover .product-tile__arrow {
    opacity: 1;
}
.main-img-wrapper:hover .product-tile__arrow--right {
    -ms-transform: translateX(-10px);
    transform: translateX(-10px);
}
.main-img-wrapper:hover .product-tile__arrow--right:hover {
    -ms-transform: translateX(-5px);
    transform: translateX(-5px);
}
.main-img-wrapper:hover .product-tile__arrow--left {
    -ms-transform: translateX(10px);
    transform: translateX(10px);
}
.main-img-wrapper:hover .product-tile__arrow--left:hover {
    -ms-transform: translateX(5px);
    transform: translateX(5px);
}
.main-img-wrapper img {
    padding: 0;
    float: none;
    width: 100%}
@media screen and (max-width:770px) {
    .main-img-wrapper .qs-like-button {
    padding: 15px;
    background-size: 15px auto;
}
}@media screen and (max-width:770px) {
    .main-img-wrapper .wishlist-msg {
    right: 30px!important;
    top: 30px!important;
}
}@media screen and (min-width:771px) {
    .main-img-wrapper {
    height: 420px;
    width: 369.6px;
}
}@media screen and (max-height:765px) and (min-width:771px) {
    .main-img-wrapper {
    height: calc(100vh - 345px);
    width: calc((100vh - 345px) * .88);
    max-height: 420px;
    max-width: 369.6px;
    min-height: 255px;
    min-width: 224.4px;
}
}@media screen and (max-width:770px) {
    .main-img-wrapper {
    width: 100%;
    height: auto;
    margin: 0;
}
}.mobile-carousel {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    overflow: hidden;
}
@media screen and (min-width:771px) {
    .mobile-carousel {
    display: none;
}
}.mobile-carousel__video-container {
    width: 100vw;
    height: 113.5vw;
}
.mobile-carousel .s7iconeffect[state=play], .mobile-carousel .s7iconeffect[state=replay] {
    color: transparent;
    width: 50px;
    height: 50px;
    background-image: url(../../../img/new_design/tb-play-btn.svg);
}
.mobile-carousel .slick-dots {
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 1;
}
.mobile-carousel .slick-dots button {
    display: none;
}
.mobile-carousel .slick-dots li {
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: #979797;
    display: inline-block;
    margin: 0 4px;
}
.mobile-carousel .slick-dots .slick-active {
    background-color: #191919;
}
.mobile-carousel div {
    max-width: none;
}
.not-scrollable {
    overflow: hidden;
}
@media screen and (max-width:770px) {
    .not-scrollable {
    position: fixed;
    width: 100%;
    min-height: 700px;
}
}.static-not-scrollable {
    height: 100%;
    overflow: hidden;
}
.pt_productsearchresult .main_grid .category-landing-search-banner {
    width: auto;
}
body.lock-in-place {
    position: fixed;
    overflow: hidden;
    height: 100%;
    width: 100%}
body.lock-in-place #container {
    height: 100vh;
    overflow: hidden;
}
body.lock-in-place .headerbanner {
    display: none;
    height: 0;
}
.hp-slider .slick-prev {
    left: 0;
}
.hp-slider .slick-prev:before {
    background-image: url(../../images/new_design/svg/quickshop-left-arrow.svg);
}
.hp-slider .slick-next {
    right: 0;
}
.hp-slider .slick-next:before {
    background-image: url(../../images/new_design/svg/quickshop-right-arrow.svg);
}
.hp-slider .slick-next, .hp-slider .slick-prev {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    padding: 0;
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
    z-index: 1;
}
.hp-slider .slick-next:before, .hp-slider .slick-prev:before {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    height: 20px;
    width: 15px;
    background-repeat: no-repeat;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.hp-slider .slick-dots {
    margin-top: 20px;
    bottom: -45px;
    display: block;
    width: 100%;
    padding: 0;
    list-style: none;
    text-align: center;
}
.hp-slider .slick-dots li {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 20px 5px 0;
    padding: 0;
    cursor: pointer;
}
.hp-slider .slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 20px;
    height: 20px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.hp-slider .slick-dots li button:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: "";
    text-align: center;
    background: #d3d4d5;
    border: 1px solid #d3d4d5;
    border-radius: 50%}
.hp-slider .slick-dots li.slick-active button:before {
    background: #fff;
}