@charset "UTF-8";
/* CSS Document */

.divine-slideshow ul, .postTemplate7 .divine-slideshow ul {
	position: relative;
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.divine-slideshow li, .postTemplate7 .divine-slideshow li {
	text-align: center;
	overflow: hidden;
	position: relative;
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.divine-slideshow li cite {
	text-align: center;
	position: absolute;
	display: block;
	bottom: 0;
	left: 0;
	margin: 0px;
	padding: 10px 20px 10px 20px;
	color: #040032;
	font-size: 11px;
	line-height: 14px;
	font-style: normal;
	background: url('img/caption-bkgd-white.png') repeat 0 0;
}

/*

THIS IS FOR SOLID WHITE BACKGROUND

.divine-slideshow li cite {
	text-align: center;
	position: absolute;
	display: block;
	bottom: 0;
	left: 0;
	margin: 0px;
	padding: 10px 20px 10px 20px;
	color: #888888;
	font-size: 11px;
	line-height: 14px;
	font-style: normal;
	background-color: #ffffff;
}

THIS IS FOR A GREY OVERLAY BACKGROUND

.divine-slideshow li cite {
	text-align: center;
	position: absolute;
	display: block;
	bottom: 0;
	left: 0;
	margin: 0px;
	padding: 10px 20px 10px 20px;
	color: #ffffff;
	font-size: 11px;
	line-height: 14px;
	font-style: normal;
	background: url('img/caption-bkgd.png') repeat 0 0;
}

*/

.divine-slideshow-border {
	border: solid 1px #999999;
}
.divine-slideshow-error {
	padding: 20px 20px 2px 20px;
	margin-bottom: 18px;
	background-color: #f0f0f0;
	border: solid 1px #999;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000;'
}
.divine-slideshow-error p {
	margin-bottom: 18px;
}
.divine-slideshow-error span {
	display: block;
	padding-left: 20px;
	font-size: 14px;
	font-family: "Courier New", Courier, monospace;
}
.divine-slideshow-error em {
	font-style: italic;
	color: #777;
}