body{
    background: #e0e5e9;
}
.gift-item{
    border:1px solid #dcd8d8;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.2);
margin-top:10px;
padding:10px;
}
.gift-item-header{
    width:100%;
    height: auto;
    display: flex;
    flex-direction: row;
}
.gift-item-header p:nth-child(1){
    font-weight: bold;
    font-size: 5.8em;
    margin-left: 3px;
    color: #bfc3c7;
}
.gift-item-header p:nth-child(2){
    color: #000000;
    font-weight: bold;
    margin-left: 20px;
    line-height: 109px;
    font-size: 1.4em;
}
.gift-item-content{

    /* padding-top:40px; */
    /* margin-top:10px; */
    margin-bottom:10px;
    width:100%;
    height:auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.gift-item-content p{
    font-weight: bold;
    font-size: 3em;
}

.gift-header-image{

     /* The image used */
     background: url(../imgs/gift/gift-header.jpg);
        height: 500px;
     /* Full height */
     
 
     /* Center and scale the image nicely */
     background-position: center;
    
     background-size: cover;
}
.social{

    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    display: block;
    width: 25%;
    display: block;
    text-align: center;
    padding-top: 27px;
    font-weight: 400;
}


/* social media*/


@media screen and (max-width: 600px) {

    .gift-item{
        margin-top:10px;
        margin-left:15px;
    }

    .mobile-image{
        display: none;
    }
    .main-logo{
        background-color: lightblue;
    }

}