@keyframes video-loading {
    0% {
    box-shadow: -15px 0 0 0 #0c2340, -5px 0 0 0 rgba(12, 35, 64, .4), 5px 0 0 0 rgba(12, 35, 64, .4), 15px 0 0 0 rgba(12, 35, 64, .4);
}
25% {
    box-shadow: -15px 0 0 0 rgba(12, 35, 64, .4), -5px 0 0 0 #0c2340, 5px 0 0 0 rgba(12, 35, 64, .4), 15px 0 0 0 rgba(12, 35, 64, .4);
}
50% {
    box-shadow: -15px 0 0 0 rgba(12, 35, 64, .4), -5px 0 0 0 rgba(12, 35, 64, .4), 5px 0 0 0 #0c2340, 15px 0 0 0 rgba(12, 35, 64, .4);
}
80% {
    box-shadow: -15px 0 0 0 rgba(12, 35, 64, .4), -5px 0 0 0 rgba(12, 35, 64, .4), 5px 0 0 0 rgba(12, 35, 64, .4), 15px 0 0 0 #0c2340;
}
to {
    box-shadow: -15px 0 0 0 rgba(12, 35, 64, .4), -5px 0 0 0 rgba(12, 35, 64, .4), 5px 0 0 0 rgba(12, 35, 64, .4), 15px 0 0 0 rgba(12, 35, 64, .4);
}
}.variation-video-wrapper {
    height: 100vh;
    width: 100%}
.variation-video-wrapper .s7iconeffect {
    left: 15px!important;
    top: 15px!important;
    width: 65px!important;
    height: 30px!important;
    text-align: center;
    line-height: 29px;
    z-index: 5000;
    padding-left: 10px;
    box-sizing: border-box;
    color: #191919;
    text-transform: uppercase;
    font-weight: 700;
}
.variation-video-wrapper .s7iconeffect[state=play], .variation-video-wrapper .s7iconeffect[state=replay] {
    background: #fff url(../../../../img/new_design/tb-play-btn-s.svg) no-repeat 3px;
}
.s7videoplayer {
    background-color: transparent;
    overflow: hidden;
    cursor: pointer;
}
.s7videoplayer__loader {
    position: relative;
    background: #f6f6f8;
    height: 100%;
    width: 100%;
    z-index: 1;
}
.s7videoplayer__loader:after {
    content: "";
    border-radius: 50%;
    height: 4px;
    width: 4px;
    display: block;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    animation: video-loading 1.2s infinite;
}
#videoViewerContainer video {
    height: calc((100vh - 80px) * .85)!important;
    top: 0!important;
}
#videoViewerContainer video+div {
    opacity: 1!important;
}
@media screen and (max-width:770px) {
    #videoViewerContainer video {
    height: calc(100vh - 150px)!important;
}
}@media screen and (max-width:770px) and (orientation:landscape) {
    #videoViewerContainer video {
    height: calc(100vh - 62px)!important;
}
}.main_grid {
    max-width: 1400px;
    margin-bottom: 60px;
    margin: 0 auto;
}
.main_grid .image a img {
    width: 100%;
    height: auto;
}
.main_grid .name a, .main_grid .price {
    width: 189px;
    color: #6e6e6e;
    font-family: Sweet Sans Pro;
    font-size: 10px;
    font-weight: 500;
    line-height: 15px;
    text-decoration: none;
    text-transform: uppercase;
    margin: 0;
}
.main_grid .name {
    margin-top: 15px;
}
.main_grid p {
    font-size: 14px;
}
.main_grid .searchresults {
    overflow: visible;
    padding: 0 15px;
}
.main_grid .searchresults:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
#content .producthits #search .productresultarea:after, .product-grid__group:after, .row:after {
    display: table;
    clear: both;
    content: ""}
.gridnew {
    background: #f6f7f8;
}
.gridnew .columnnew {
    padding: 10px;
    background: #e4e5e7;
    text-align: center;
    color: #767779;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-com {
    width: 100%;
    float: left;
    box-sizing: border-box;
    padding-left: 7.5px;
    padding-right: 7.5px;
}
.col-xs-1 {
    width: 8.3333333333%;
    vertical-align: top;
}
.col-xs-2 {
    width: 16.6666666667%;
    vertical-align: top;
}
.col-xs-3 {
    width: 25%;
    vertical-align: top;
}
.col-xs-4 {
    width: 33.3333333333%;
    vertical-align: top;
}
.col-xs-5 {
    width: 41.6666666667%;
    vertical-align: top;
}
.col-xs-6 {
    width: 50%;
    vertical-align: top;
}
.col-xs-7 {
    width: 58.3333333333%;
    vertical-align: top;
}
.col-xs-8 {
    width: 66.6666666667%;
    vertical-align: top;
}
.col-xs-9 {
    width: 75%;
    vertical-align: top;
}
.col-xs-10 {
    width: 83.3333333333%;
    vertical-align: top;
}
.col-xs-11 {
    width: 91.6666666667%;
    vertical-align: top;
}
.col-xs-12 {
    width: 100%;
    vertical-align: top;
}
@media only screen and (min-width:551px) {
    .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-com {
    width: 100%;
    float: left;
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
}
.col-sm-1 {
    width: 8.3333333333%;
    vertical-align: top;
}
.col-sm-2 {
    width: 16.6666666667%;
    vertical-align: top;
}
.col-sm-3 {
    width: 25%;
    vertical-align: top;
}
.col-sm-4 {
    width: 33.3333333333%;
    vertical-align: top;
}
.col-sm-5 {
    width: 41.6666666667%;
    vertical-align: top;
}
.col-sm-6 {
    width: 50%;
    vertical-align: top;
}
.col-sm-7 {
    width: 58.3333333333%;
    vertical-align: top;
}
.col-sm-8 {
    width: 66.6666666667%;
    vertical-align: top;
}
.col-sm-9 {
    width: 75%;
    vertical-align: top;
}
.col-sm-10 {
    width: 83.3333333333%;
    vertical-align: top;
}
.col-sm-11 {
    width: 91.6666666667%;
    vertical-align: top;
}
.col-sm-12 {
    width: 100%;
    vertical-align: top;
}
}@media only screen and (min-width:961px) {
    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md-com {
    width: 100%;
    float: left;
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
}
.col-md-1 {
    width: 8.3333333333%;
    vertical-align: top;
}
.col-md-2 {
    width: 16.6666666667%;
    vertical-align: top;
}
.col-md-3 {
    width: 25%;
    vertical-align: top;
}
.col-md-4 {
    width: 33.3333333333%;
    vertical-align: top;
}
.col-md-5 {
    width: 41.6666666667%;
    vertical-align: top;
}
.col-md-6 {
    width: 50%;
    vertical-align: top;
}
.col-md-7 {
    width: 58.3333333333%;
    vertical-align: top;
}
.col-md-8 {
    width: 66.6666666667%;
    vertical-align: top;
}
.col-md-9 {
    width: 75%;
    vertical-align: top;
}
.col-md-10 {
    width: 83.3333333333%;
    vertical-align: top;
}
.col-md-11 {
    width: 91.6666666667%;
    vertical-align: top;
}
.col-md-12 {
    width: 100%;
    vertical-align: top;
}
}@media only screen and (min-width:1241px) {
    .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-com {
    width: 100%;
    float: left;
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
}
.col-lg-1 {
    width: 8.3333333333%;
    vertical-align: top;
}
.col-lg-2 {
    width: 16.6666666667%;
    vertical-align: top;
}
.col-lg-3 {
    width: 25%;
    vertical-align: top;
}
.col-lg-3-big {
    width: 50%;
    vertical-align: top;
}
.col-lg-4 {
    width: 33.3333333333%;
    vertical-align: top;
}
.col-lg-5 {
    width: 41.6666666667%;
    vertical-align: top;
}
.col-lg-6 {
    width: 50%;
    vertical-align: top;
}
.col-lg-7 {
    width: 58.3333333333%;
    vertical-align: top;
}
.col-lg-8 {
    width: 66.6666666667%;
    vertical-align: top;
}
.col-lg-9 {
    width: 75%;
    vertical-align: top;
}
.col-lg-10 {
    width: 83.3333333333%;
    vertical-align: top;
}
.col-lg-11 {
    width: 91.6666666667%;
    vertical-align: top;
}
.col-lg-12 {
    width: 100%;
    vertical-align: top;
}
}@media screen and (max-width:770px) {
    .main_grid .searchresults {
    padding: 0 7.5px;
}
}#content .producthits #search .productresultarea {
    overflow: initial;
}
@media screen and (max-width:770px) {
    #content .producthits #search .productresultarea {
    padding: 40px 0;
}
}#endless_scroll_loader {
    clear: both;
    margin: 40px 0;
}
@media only screen and (min-width:1241px) {
    .product-grid__group--hero .grid-tile-container: nth-of-type(6) {
    clear: left;
}
.product-grid__group--hero-left .grid-tile-container:first-of-type {
    width: 50%;
    vertical-align: top;
}
.product-grid__group--hero-left .grid-tile-container:first-of-type .product-tile__thumb {
    padding-bottom: calc(113% + 88px);
}
.product-grid__group--hero-left .grid-tile-container:first-of-type .product-tile__thumb-container {
    padding: 0 0 17px;
}
.product-grid__group--hero-right .grid-tile-container:nth-of-type(3) {
    width: 50%;
    vertical-align: top;
    float: right;
}
.product-grid__group--hero-right .grid-tile-container:nth-of-type(3) .product-tile__thumb {
    padding-bottom: calc(113% + 88px);
}
.product-grid__group--hero-right .grid-tile-container:nth-of-type(3) .product-tile__thumb-container {
    padding: 0 0 17px;
}
}@media only screen and (max-width:960px) {
    .product-grid__group--hero .grid-tile-container: nth-of-type(3) {
    width: 100%}
}.scroll-top--container {
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: -85px;
    right: 0;
    z-index: 99;
}
@media only screen and (max-width:960px) {
    .scroll-top--container {
    height: 65px;
}
}.scroll-top--button {
    width: 40px;
    height: 40px;
    background: #fff;
    background: url(../../../../images/new_design/svg/backtotop.svg);
}
.grid-tile-container .productset-tile {
    display: none;
}