
.rn_AnswerPage.rn_StyledFromCSS {
   font-family: SamsungSans, sans-serif;
   font-size: 14px;
   color: #6b6b6b;
   letter-spacing: .01rem;
   line-height: 18px;
}
.rn_AnswerPage.rn_StyledFromCSS .uppercase {
  text-transform: uppercase;
}
.rn_AnswerPage.rn_StyledFromCSS .section {
  padding-bottom: 30px;
}
.rn_AnswerPage.rn_StyledFromCSS .section.extra-padding-top {
  padding-top: 30px;
}
.rn_AnswerPage.rn_StyledFromCSS .section .section-header {
  font-size: 14px;
  color: #717171;
  font-weight: normal;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 1.318;
  padding-bottom: 10px;
}
.rn_AnswerPage.rn_StyledFromCSS .section .sub-section {
  padding-bottom: 20px;
}
.rn_AnswerPage.rn_StyledFromCSS .section .sub-section:last-child {
  padding-bottom: 0px;
}
.rn_AnswerPage.rn_StyledFromCSS .section .sub-section .sub-section-header {
    font-size: 12px;
    color: #717171;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 14px;
    padding-bottom: 4px;
}
.rn_AnswerPage.rn_StyledFromCSS .section .section-header img {
  display: block;
  margin: 0 auto;
  padding-bottom: 10px;
}
.rn_AnswerPage.rn_StyledFromCSS .section img {
  display: block;
  margin: 0 auto;
  padding: 20px 0px;
}
.rn_AnswerPage.rn_StyledFromCSS .big-section-header {
  font-size: 22px;
  line-height: 1.318;
  text-transform: uppercase;
  color: #555;
  padding: 40px 0px 0px 0px;
}
@media screen and (max-width: 767px){
  .rn_AnswerPage.rn_StyledFromCSS .big-section-header {
    font-size: 20px;
  }
}


.rn_AnswerPage.rn_StyledFromCSS #ShippingDeadlinesChart {
text-align: center;
/*text-transform: uppercase;*/
padding: 20px 10px;
background: #f7f7f7;
line-height: 24px;
}
.rn_AnswerPage.rn_StyledFromCSS #ShippingDeadlinesChart .deadline-date {
padding-bottom: 20px;
}
.rn_AnswerPage.rn_StyledFromCSS #ShippingDeadlinesChart .deadline-date:last-child {
padding-bottom: 0px;
}
.rn_AnswerPage.rn_StyledFromCSS #ShippingDeadlinesChart .deadline-date > div:first-child {
font-weight: bold;
padding-bottom: 12px;
}

/** gift answer **/
.rn_AnswerPage.rn_StyledFromCSS.rn_GiftAnswerPage {
  text-align: center;
}
.rn_AnswerPage.rn_StyledFromCSS.rn_GiftAnswerPage .section .section-header {
  color: #0a1f3d;
  font-size: 20px;
  font-weight: bold;
}
.rn_AnswerPage.rn_StyledFromCSS.rn_GiftAnswerPage .section .sub-section .sub-section-header {
  color: #0a1f3d;
}

.rn_AnswerPage.rn_StyledFromCSS.rn_GiftAnswerPage .holiday_gift_answer_page .section .section-header{
  color: #1f2687 !important;
}

.holiday_gift_answer_page .section-header{
    color: #1f2687 !important;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.318;
    padding-bottom: 10px;
}