.postDate, h1, h2, h3, h4, h5 {
    -moz-font-feature-settings: "case" 1;
    -ms-font-feature-settings: "case" 1;
    -o-font-feature-settings: "case" 1;
    -webkit-font-feature-settings: "case" 1;
}
.blogFooter .blog-followus a, .blogMobileMenu a, .blogNav a, .blogRightColumn h5 .part1, .uppercase {
    text-transform: uppercase;
}
#latestPhotos li, #latestPosts li, .archiveFilters ul, .blogNav ul, .blogThumbnails, .searchLabels ul, .stickyPosts ul {
    list-style-type: none;
}
h1, h2, h3, h4, h5 {
    -moz-font-feature-settings: "case=1";
    font-feature-settings: "case" 1;
}
body.blogLP {
    background-color: #FFF;
}
body.blog #main {
    color: #2E2E2E;
    font-family: SamsungSans;
    font-size: 13px;
    width: 960px;
}
body.blogLP #main {
    width: 100%!important;
    max-width: 100%!important;
    margin-top: 0!important;
}
body.blog #container {
    background-color: #fff;
}
body.blog #main h1, body.blog #main h2, body.blog #main h3, body.blog #main h4, body.blog #main h5 {
    font-family: SamsungSans;
    background: none;
    height: auto;
}
body.blogLP #main h1, body.blogLP #main h2, body.blogLP #main h3, body.blogLP #main h4, body.blogLP #main h5 {
    font-family: SamsungSans, Helvetica, Tahoma, sans-serif;
    background: none;
    height: auto;
    font-weight: 400;
    text-transform: uppercase;
}
body.blogLP #main h3, body.blogLP #main h4 {
    background-color: transparent;
    color: #2E2E2E;
}
body.blogLP #main h3 {
    color: #7F7F7F;
    font-size: 20px;
    line-height: 1em;
    font-weight: 400;
    text-decoration: none;
}
.video-js, .vjs-poster {
    background-color: #fff;
}
body.blog .headerbanner {
    display: none;
}
body.blog #header .topheadernav-wrapper.stuck {
    position: static;
}
.video-js {
    font-size: 10px;
    color: #ADADAD;
}
.vjs-has-started {
    border: 1px solid #d4d4d4;
}
.vjs-ended {
    border: none;
}
.vjs-default-skin .vjs-big-play-button {
    font-size: 9em;
    color: #FFF;
    line-height: 1.2em;
    height: 1.2em;
    width: 1.2em;
    border: 0;
    border-radius: 100%;
    left: 50%;
    top: 50%;
    margin-left: -.6em;
    margin-top: -.6em;
}
.video-js .vjs-big-play-button {
    background: url(../images/TORYDAILYVideo_Play_Button.png) 50% no-repeat;
    background-size: 80px;
    display: block;
}
.video-js .vjs-big-play-button:focus, .video-js:hover .vjs-big-play-button {
    background-color: transparent;
}
.vjs-controls-disabled .vjs-big-play-button, .vjs-error .vjs-big-play-button, .vjs-has-started .vjs-big-play-button {
    display: none;
}
.video-js .vjs-big-play-button:before {
    content: ''}
.blogFooter .blog-followus:after, .blogPostOuter .postThumbs:after, .stickyPosts ul:after {
    content: ".";
    visibility: hidden;
}
.video-js .vjs-control-bar {
    background-color: #FFF;
    background-color: rgba(255, 255, 255, .9);
}
.video-js .vjs-menu-button .vjs-menu-content {
    background-color: #FFF;
}
.video-js .vjs-slider {
    background-color: #ADADAD;
    background-color: rgba(173, 173, 173, .5);
}
.video-js .vjs-play-progress, .video-js .vjs-slider-bar, .video-js .vjs-volume-level {
    background: #FF831E;
}
.video-js .vjs-load-progress {
    background: #ededed;
    background: rgba(173, 173, 173, .5);
}
.video-js .vjs-load-progress div {
    background: #FFF;
    background: rgba(173, 173, 173, .75);
}
.vjs-controls-disabled .vjs-poster {
    display: block;
}
.vjs-controls-disabled.vjs-has-started .vjs-poster {
    display: none;
}
.video-js.vjs-ended .vjs-poster, .video-js.vjs-has-started.vjs-ended .vjs-poster, .vjs-controls-disabled .vjs-big-play-button, .vjs-controls-disabled.vjs-ended .vjs-big-play-button, .vjs-controls-disabled.vjs-has-started.vjs-ended .vjs-big-play-button, .vjs-controls-disabled.vjs-paused .vjs-big-play-button {
    display: block;
}
.vjs-controls-disabled.vjs-error .vjs-big-play-button, .vjs-controls-disabled.vjs-has-started .vjs-big-play-button, .vjs-controls-disabled.vjs-waiting .vjs-big-play-button {
    display: none;
}
@media all and (-ms-high-contrast:none), (-ms-high-contrast:active) {
    .blogPostsWrapper .video-js .vjs-tech {
    top: 14%;
    height: 72%}
}.vjs-controls-disabled .vjs-big-play-button, .vjs-controls-disabled.vjs-paused .vjs-big-play-button, .vjs-icon-play:before {
    background: url(../images/TORYDAILYVideo_Play_Button.png) 50% no-repeat;
    background-size: 80px;
}
.shrinkyHeader #header .topheadernav .topheadernav-left li.tbsport-logo {
    margin: 0;
}
@media screen and (max-width:768px) {
    .video-js .vjs-big-play-button {
    display: none;
}
}.blogHeader {
    margin-top: 10px;
    text-align: center;
}
.blogLP .blogHeader {
    margin: 20px auto 0;
    text-align: center;
    width: 960px;
}
.blogLogo {
    height: 80px;
}
.blogLogo a {
    display: block;
}
.blogLogo a img {
    width: 318px;
}
.blog #header .main-logo, .blog .sticky-wrapper, .blog .topheadernav ul {
    background: #fff;
}
.blog .topheadernav ul li.search {
    display: none;
}
.blog .topheadernav {
    height: 70px;
    padding: 0;
    width: 100%;
    border-bottom: 1px solid #aaa;
}
.blog .topheadernav ul {
    margin-top: 12px;
}
.blog .topheadernav ul.topheadernav-middle {
    margin-top: 8px;
}
.searchTheBlog {
    border: 1px solid #DADADA;
    height: 21px;
    line-height: 21px;
    overflow: hidden;
    padding: 0 4px 1px;
}
.searchTheBlog fieldset, .searchTheBlog form {
    display: block;
    height: 30px;
    line-height: 21px;
    overflow: hidden;
}
.searchTheBlog .searchInput {
    border: 0;
    -webkit-appearance: none;
    font-size: 12px;
    font-weight: 400;
    height: 21px;
    line-height: 12px;
    margin: 0;
    padding: 0;
    width: 120px;
    float: left;
}
.searchTheBlog button {
    background: url(../images/blog/right-column_Search_Icon.jpg) no-repeat;
    border: 0;
    cursor: pointer;
    height: 21px;
    margin: 0;
    padding: 0;
    width: 20px;
    float: right;
}
.searchTheBlog .searchInput:focus {
    background-color: transparent!important;
}
.blog-search-button.desktop-search-box {
    display: block;
    float: right;
    background: url(../imgs/icons/search_now.png) no-repeat;
    height: 21px;
    width: 21px;
    cursor: pointer;
    margin-left: 70px;
}
.blog-search-button.mobile-search-box {
    display: none;
    background: url(../imgs/icons/search_now.png) no-repeat;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 12px;
    top: 16px;
}
.blogHeader-sticky .blog-search-button.mobile-search-box {
    top: 6px;
}
.pop-up-search-btn {
    background: url(../images/blog/Magnifying_Glass_popup_25x25.png) no-repeat!important;
    height: 25px!important;
    width: 25px!important;
}
.blog-search-modal .ui-dialog-titlebar-close .ui-icon {
    background: url(../imgs/icons/close.png) no-repeat!important;
    height: 25px!important;
    width: 25px!important;
}
.blog-search-modal .ui-button-icon-only .ui-icon {
    top: 0;
}
.blog-search-modal.ui-dialog .ui-dialog-titlebar-close {
    width: 25px;
    right: 25px;
    height: 25px;
}
.blog-search-modal.ui-dialog {
    width: 100%!important;
    opacity: .94;
    max-width: 100%}
.new-search-button {
    border: 1px solid #ccc;
    width: 495px;
    margin: 0 auto;
    padding: 20px 15px 15px;
}
.new-search-button .new-search-input {
    font-size: 17px;
    font-weight: 400;
    line-height: 20px;
    color: #636363;
    font-family: SamsungSans;
    width: 400px;
}
#modalOpen {
    padding: 100px 0;
}
.blogMobileMenu {
    display: block;
    background-color: #fff;
    position: fixed;
    top: 0;
    bottom: 0;
    left: -102%;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    width: 100%;
    height: 100%;
    padding: 130px 0 0;
    z-index: 99;
    transition: left .15s ease-out;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.blogMobileMenu.toggled-on {
    left: 0;
    transition: left .25s ease-in;
}
.blogMenuToggle.close-menu-btn, .blogMenuToggle.open-menu-btn {
    display: none;
    position: absolute;
    left: 12px;
    border: 0;
    -webkit-tap-highlight-color: transparent;
}
.blogMobileMenu.sticky-header-on {
    padding-top: 60px;
}
.blogMenuToggle.open-menu-btn {
    background: url(../imgs/icons/menu.png) no-repeat;
    background-size: 100% 100%;
    width: 30px;
    height: 30px;
    top: 16px;
}
.blogMenuToggle.close-menu-btn {
    background: url(../imgs/icons/close.png) no-repeat;
    height: 25px;
    width: 25px;
    top: 19px;
}
.blogHeader-sticky .blogMenuToggle.open-menu-btn {
    top: 6px;
}
.blogHeader-sticky .blogMenuToggle.close-menu-btn {
    top: 9px;
}
.blogMobileMenu a {
    display: block;
    font-family: SamsungSans;
    padding: 15px;
    text-decoration: none;
    color: #2b2a2b;
    font-weight: 700;
    font-size: 16px;
}
@media screen and (max-width:767px) {
    .blogHeader, .blogLP .blogHeader {
    margin-top: 0;
}
.blogHeader {
    position: relative;
    z-index: 101;
    background-color: #FFF;
}
.blog-search-button.mobile-search-box, .blogMenuToggle.open-menu-btn {
    display: block;
}
.blog-search-button.desktop-search-box {
    display: none;
}
.blogLogo img {
    display: block;
    margin: 0 auto;
    max-height: 48px;
    width: auto;
}
.blogLogo {
    position: relative;
    padding: 30px 0 18px;
    margin-bottom: 0;
}
.blogLogo a {
    display: block;
    padding-top: 10px;
    width: 50%;
    margin: 0 auto;
}
#sidebarbtn, .topheadernav-right li.search, body.blog .topheadernav ul li.search {
    display: none;
}
.blog .topheadernav ul {
    margin-top: 0;
}
.blog #header .mobile-logo a {
    top: 12px;
}
.blog-search-modal.ui-dialog {
    width: 100%!important;
    left: 0!important;
    top: 106px!important;
    opacity: .98;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
#modalOpen {
    padding: 10% 0;
}
.new-search-button {
    border: none!important;
    width: 177px;
    padding: 0;
}
.new-search-button button {
    display: none;
    position: absolute;
    bottom: 0;
    height: 0!important;
}
.new-search-button .new-search-input {
    width: 200px!important;
}
.blog-search-modal.ui-dialog .ui-dialog-titlebar-close {
    left: 5%}
.blog-search-modal.ui-dialog .ui-dialog-titlebar-close span {
    margin: 0!important;
    width: 25px;
    height: 25px;
}
body.blog .sticky-wrapper {
    position: static;
    border-bottom: 1px solid #f0ece9;
}
body.blog .topheadernav {
    background-color: #fcf7f3;
}
body.blog #header .logo {
    background-color: transparent;
}
}@media (max-width:480px) {
    .blog-search-modal.ui-dialog .ui-dialog-titlebar-close {
    margin-top: 7%}
}@media (min-width:480px) and (max-width:767px) and (orientation:landscape) {
    .blog-search-modal.ui-dialog .ui-dialog-titlebar-close {
    margin-top: 8%}
.blogMenuToggle.close-menu-btn {
    top: 37%!important;
}
.hamburger-extra-padding {
    padding-top: 10%!important;
}
.blogLogo a img {
    width: auto;
}
}@media (min-width:768px) and (max-width:1024px) {
    .blog .topheadernav ul.topheadernav-left {
    width: 25%}
.blog .topheadernav ul.topheadernav-right {
    width: 23%;
    box-sizing: border-box;
    padding-right: 20px;
}
.topheadernav-wrapper.stuck .sticky-wrapper {
    max-height: 55px;
}
}@media (min-width:768px) and (max-width:1024px) and (orientation:portrait) {
    .blog .topheadernav-right .myaccount-item .header-myaccount-dialog {
    left: calc(-100% - 46px);
}
}.blogNav {
    border-bottom: 1px solid #DADADA;
    padding: 0 0 10px;
}
.blogLP .blogNav {
    padding: 0 0 42px;
    border-bottom: 0 none;
}
.blogNav ul {
    float: right;
    padding: 0 73px 0 0;
    margin: 0;
}
.blogNav li {
    float: left;
    display: block;
    position: relative;
    padding: 0;
    text-align: left;
}
.blogNav a {
    display: block;
    line-height: 24px;
    padding: 0 15px;
    color: #000;
    font-family: SamsungSans, Helvetica, Tahoma, sans-serif;
    font-size: 13.5px;
    font-weight: 400;
    text-decoration: none;
}
.blogHeader-sticky {
    position: fixed;
    top: -80px;
    left: 0;
    transition: top .15s ease-out;
    width: 100%;
    background-color: #FFF;
    height: 74px;
    z-index: 101;
    border-bottom: 1px solid #dadada;
}
.blogHeader-sticky.toggled-on {
    top: 0;
    transition: top 50ms ease-in;
}
.blogHeader-sticky .blogHeader {
    margin: 0 auto;
    width: 960px;
}
.blogHeader-sticky .blogLogo {
    float: none;
    height: auto;
    padding-top: 4px;
    margin: 0;
    border: 0;
}
.blogHeader-sticky .blogLogo img {
    max-height: 33px;
    width: auto!important;
}
.blogHeader-sticky .blogNav {
    border: 0;
    padding-bottom: 0;
}
@media screen and (max-width:767px) {
    .blogHeader-sticky {
    height: 43px;
}
.blogHeader-sticky .blogLogo {
    padding: 0;
}
.blogHeader-sticky .blogLogo a {
    padding-top: 6px;
}
.shrinkyHeader #header .topheadernav-left {
    margin: 12px 0 0!important;
}
}.blogWrapper {
    font-size: 13px;
}
.blogContentWrapper {
    float: left;
    width: 709px;
    border-right: 1px solid #DADADA;
    padding: 0 20px;
}
.blogPostsWrapper {
    border-bottom: 1px solid #DADADA;
    padding: 0 10px 52px;
    max-width: 1260px;
    margin: 0 auto;
}
.blogGreen {
    color: #8C7C3D;
}
.padright30 {
    padding-right: 30px;
}
.aligncenter {
    text-align: center;
}
.alignleft {
    text-align: left;
}
.alignright {
    text-align: right;
}
.displaytable {
    display: table;
}
.midaligncell {
    display: table-cell;
    vertical-align: middle;
}
a.spotifylink {
    border: 1px solid #000;
    color: #000;
    font-family: SamsungSans;
    font-size: 18px;
    font-weight: 700;
    padding: 8px 16px;
    text-decoration: none;
}
.blogRightColumn {
    width: 100%;
    float: none;
    text-align: center;
    margin: 20px 0 0;
    padding: 0 0 0 10px;
    font-size: 11px;
}
.blogRightColumn a {
    color: #949494;
}
.blogRightColumn p {
    margin: 0;
    padding: 0;
}
.blogRightColumn hr {
    margin: 40px 0;
    height: 1px;
    border: 0;
    background-color: #DADADA;
    color: #DADADA;
    padding: 0;
}
.blogRightColumn h5 {
    font-size: 24px;
    font-weight: 400;
    line-height: 1em;
}
.blogRightColumn h5 .part1 {
    display: block;
    line-height: 1em;
}
.blogRightColumn h5 .part2 {
    display: block;
    font-style: italic;
    font-size: 18px;
    line-height: 1em;
    font-weight: 400;
}
.blogRightColumn h5 a {
    text-decoration: none;
    color: #2E2E2E;
}
.blogTwitter {
    display: block;
    background: url(../images/blog/right-column_twitterBackground.jpg) center bottom no-repeat;
    width: 160px;
    padding: 20px;
    margin: 20px 0;
}
.blogTwitter #jstweets {
    background: url(../images/blog/right-column_TwitterBottomQuotation.jpg) center bottom no-repeat;
    padding: 5px 0 35px;
}
.blogTwitterTopQuote {
    background: url(../images/blog/right-column_TwitterTopQuotation.jpg) center top no-repeat;
    height: 35px;
}
.blogTwitterMore {
    display: block;
    padding: 10px 0;
}
.blogRightColumn .socialIcons {
    padding: 0 20px;
}
.blogRightColumn .socialIcon, .blogRightColumn .socialIcons a {
    margin: 0 2px 0 0;
    padding: 0;
    background: url(../images/blog/follow_on_the_road.png) no-repeat;
    text-indent: -9999px;
    display: inline-block;
    width: 20px;
    height: 20px;
    overflow: hidden;
    font-size: inherit;
    text-align: left;
    border: 0;
}
.blogRightColumn .socialLink .socialIcon {
    margin: 0 5px -5px 0;
}
.blogRightColumn .socialLink:hover {
    color: #FF8F00;
}
.blogRightColumn .facebook {
    background-position: -1px -1px!important;
}
.blogRightColumn .facebook:hover, .blogRightColumn .socialLink:hover .facebook {
    background-position: -1px -23px!important;
}
.blogRightColumn .twitter {
    background-position: -24px -1px!important;
}
.blogRightColumn .socialLink:hover .twitter, .blogRightColumn .twitter:hover {
    background-position: -24px -23px!important;
}
.blogRightColumn .pinterest {
    background-position: -47px -1px!important;
}
.blogRightColumn .pinterest:hover, .blogRightColumn .socialLink:hover .pinterest {
    background-position: -47px -23px!important;
}
.blogRightColumn .instagram {
    background-position: -70px -1px!important;
}
.blogRightColumn .instagram:hover, .blogRightColumn .socialLink:hover .instagram {
    background-position: -70px -23px!important;
}
.blogRightColumn .tumblr {
    background-position: -93px -1px!important;
}
.blogRightColumn .socialLink:hover .tumblr, .blogRightColumn .tumblr:hover {
    background-position: -93px -23px!important;
}
.blogRightColumn .rss {
    background-position: -116px -1px!important;
}
.blogRightColumn .rss:hover, .blogRightColumn .socialLink:hover .rss {
    background-position: -116px -23px!important;
}
.blogFooter {
    max-width: 1345px;
    margin: 33px auto 0;
}
.blogFooter .blog-followus {
    font-family: SamsungSans_lt, Helvetica, Tahoma, sans-serif;
    font-size: 13.5px;
}
.blogFooter .blog-followus:after {
    clear: both;
    display: block;
    height: 0;
}
.blogFooter .blog-followus p {
    display: block;
    float: left;
    padding: 0 1.3%;
    width: 14%}
.blogFooter h5 {
    display: block;
    color: #000;
    text-align: center;
    padding-bottom: 24px;
    text-transform: uppercase;
}
.blogFooter .blog-followus a {
    color: #000;
    display: block;
    font-weight: 400;
    text-decoration: none;
}
.blogFooter .blog-followus img {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    display: block;
    width: 25%}
.blogFooter .blog-followus p b, .blogFooter .blog-followus p span {
    display: block;
    text-align: center;
    padding-top: 27px;
    font-weight: 400;
}
@media screen and (max-width:1279px) {
    .blogFooter {
    max-width: 100%}
.blogFooter .blog-followus p {
    padding-left: 1.3%;
    padding-right: 1.3%;
    width: 14%}
.blogFooter .blog-followus img {
    max-width: 100%;
    height: auto;
}
}#latestPhotos li, #latestPhotos li a, #latestPhotos li img {
    display: block;
    width: 556px;
    height: 503px;
}
#theLatest {
    width: 960px;
    height: 523px;
    padding: 0 0 20px;
    color: #676767;
}
#theLatest img {
    border: 0;
}
#latestPhotos {
    background: url(../images/blog/mainpromo_background.png) top left no-repeat;
    position: absolute;
    width: 597px;
    height: 543px;
    margin: -18px 0 0 -6px;
    padding: 0;
}
#latestPhotos li {
    overflow: hidden;
    position: absolute;
    margin: 18px 0 0 17px;
}
#latestPhotos li.latestHide {
    display: none;
}
#latestPosts {
    float: right;
    width: 378px;
    display: block;
    margin: 0 0 18px;
    padding: 0;
}
#latestPosts li {
    overflow: hidden;
    display: table;
    width: 100%;
    height: 100px;
    border-bottom: 1px solid #DADADA;
    text-align: center;
}
#latestPosts a, #latestPosts a:active, #latestPosts a:hover, #latestPosts a:link, #latestPosts a:visited {
    text-decoration: none;
    font-size: 23px;
    line-height: 1em;
    text-transform: none;
    color: #676767;
}
.latestText {
    display: table-cell;
    vertical-align: middle;
    padding: 0 8px;
}
.latestTexttitle {
    display: block;
    padding: 0 0 12px;
    margin: 0;
    font-size: 11px;
    line-height: 1em;
    text-transform: uppercase;
    color: #808184;
    font-weight: 700;
}
.latestTextstory {
    display: block;
    padding: 0;
    margin: 0;
    font-family: SamsungSans;
    letter-spacing: -.015em;
}
.latestTextstory .part2 {
    font-style: italic;
}
.latestActive h4 {
    color: #2b002b;
}
#latestPosts a:hover, .latestActive {
    background-color: #EDEDED;
}
.blog #main .stickyPosts h3 {
    color: #000;
    font-size: 23px;
    line-height: 1em;
    font-weight: 400;
    text-decoration: none;
    padding: 0 0 8px;
}
.stickyPosts .postDate {
    margin-bottom: 10px;
}
.stickyPosts hr {
    width: 730px;
    margin: 20px auto 80px;
    background-color: #DADADA;
    color: #DADADA;
    height: 1px;
    border: 0;
}
.stickyPosts img {
    display: block;
    max-width: 500px;
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
.stickyPosts a {
    display: block;
    color: #000;
    text-decoration: none;
}
.stickyPosts .slideBody {
    margin: 0;
    padding: 27px 0 0;
    text-align: center;
}
.stickyPosts .slideText {
    font-size: 14px;
    color: #000;
}
.stickyPosts .readmore {
    text-indent: -999999px;
    margin: 15px auto 0;
    /*background-image: url(../images/blog/Read-MORE_sprite2.gif);*/
}
.stickyPosts {
    overflow: hidden;
    width: 100%;
    height: auto;
    margin-bottom: 70px;
}
.stickyPosts ul {
    width: 999999px;
    height: auto;
}
.stickyPosts li {
    display: block;
    float: left;
    width: 730px;
    max-width: 730px;
}
.stickyPosts ul:after {
    clear: both;
    display: block;
    height: 0;
}
.ic_tray {
    max-width: none;
    height: 100%}
.stickyPosts .infiniteCarousel_item {
    max-width: 50%;
    background-image: none!important;
}
.stickyPosts .ic_peek_padding {
    padding: 0 320px;
}
.stickyPosts .ic_left_nav {
    background: url(../imgs/icons/left_big.png) no-repeat;
    width: 49px;
    height: 49px;
    margin-top: -24.5px;
    top: 50%}
.stickyPosts .ic_right_nav {
    background: url(../imgs/icons/right_big.png) no-repeat;
    width: 49px;
    height: 49px;
    margin-top: -24.5px;
    top: 50%}
.stickyPosts .ic_left_nav img, .stickyPosts .ic_right_nav img {
    visibility: hidden;
}
.blogPostOuter {
    line-height: 1.5em;
    padding: 20px 0;
}
.blogPostOuter a {
    color: #6C6C6C;
}
.blogPostOuter a:hover {
    color: #000;
}
.blogPostOuter h2, .blogPostOuter h2 a {
    color: #000;
    font-size: 36px;
    line-height: 1.5em;
    letter-spacing: -.05em;
    font-weight: 100;
    text-decoration: none;
    padding: 0;
    text-transform: none;
}
.blogPostOuter h2 .part1 {
    display: block;
    font-size: inherit;
}
.blogPostOuter h2 .part2, .blogPostOuter h2 em, .blogPostOuter h2 i {
    display: block;
    font-style: normal;
    font-size: inherit;
}
.blogPostOuter .hdr3, .blogPostOuter h3 {
    color: #7F7F7F;
    font-size: 20px;
    font-weight: 100;
    margin: 0;
    padding: 0 0 20px;
    line-height: 1.5em;
}
.blogPostOuter h4 {
    background-color: transparent;
    color: #474747;
    font-size: 1.5em;
    letter-spacing: -.05em;
    font-style: italic;
    font-weight: 400;
    margin: 0;
    padding: 0 0 20px;
    line-height: 1.25em;
}
#dsq-content h3, .blogPostOuter h4 em, .blogPostOuter h5, .postComments h3 {
    font-style: normal;
}
.blogPostOuter h5 {
    color: #6B6B6B;
    text-transform: uppercase;
    font-size: 1.1em;
    font-weight: 400;
    line-height: 1em;
    margin: 0;
    padding: 0;
}
.blogPostOuter .postMeta {
    text-align: center;
}
.blogPostOuter p {
    padding-bottom: 15px;
}
.blogPostOuter .postImage p {
    padding-bottom: 0;
}
.blogPostOuter .postCategory {
    padding: 0 0 30px;
    color: #000;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 16px;
}
.blogPostOuter .postCategory a {
    color: #000;
}
.postDate {
    color: #6B6B6B;
    text-transform: uppercase;
    font-size: 11px;
    -moz-font-feature-settings: "case=1";
    font-feature-settings: "case" 1;
}
.blogPostOuter .wp-caption-text {
    font-style: normal;
    font-weight: 100;
    color: #969696;
    font-size: 16.5px;
    line-height: 1.5em;
}
.blogPostOuter .postLabels {
    color: #6B6B6B;
    font-size: 11px;
    line-height: 1.4em;
    margin: 10px 0;
    text-transform: uppercase;
    text-align: center;
}
.blogPostOuter .postLabels label {
    color: #686868;
    clear: none;
    font-size: 11px;
    text-align: left;
}
.blogPostOuter .postLabels a {
    color: #949494;
    text-decoration: none;
}
.blogPostOuter .postLabels a:hover {
    text-decoration: underline;
}
.blogPostOuter .postThumbs {
    width: 484px;
}
.blogPostOuter .postThumbs:after {
    clear: both;
    display: block;
    height: 0;
}
.blogPostOuter .postThumbs img {
    display: block;
    float: left;
    margin: 0 4px 0 0;
}
.blogPostOuter .postIcon {
    text-align: center;
    padding: 0 0 30px;
}
.blogPostOuter .postComments {
    margin-top: 60px;
    display: none;
}
.postComments {
    display: none!important;
}
.postComments h3 {
    text-align: center;
    padding-bottom: 10px;
}
#disqus_thread {
    border: 1px solid #DADADA;
    padding: 20px;
}
#dsq-content h3 {
    font-size: 13px;
    font-weight: 400;
    letter-spacing: normal;
    margin: 0 0 10px!important;
    padding: 0;
    text-transform: uppercase;
    text-align: left;
}
#dsq-content #dsq-footer, #dsq-content #dsq-global-toolbar {
    margin: 0!important;
}
.postProducts {
    padding-top: 30px;
    overflow: hidden;
}
.postProducts h5 {
    border-bottom: 1px solid #CCC;
    font-family: Georgia, serif;
    font-weight: 700;
    margin-bottom: 30px;
    padding-bottom: 8px;
}
.postProducts a {
    display: block;
    float: left;
    margin: 0 4px 4px 0;
}
.postPaging {
    display: none;
    border-bottom: 1px solid #DADADA;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 700;
}
.postPaging a {
    color: #6C6C6C;
    text-decoration: none;
    padding: 4px;
}
.postPaging a:hover {
    color: #FF8F00;
}
.prevPost {
    float: left;
}
.nextPost {
    float: right;
}
.threeCol {
    display: table-row;
}
.bodyLeft3Col, .bodyMid3Col, .bodyRight3Col {
    display: table-cell;
    width: 33.33%;
    text-align: justify;
}
.bodyLeft3Col {
    border-right: 1px solid #DADADA;
    padding-right: 25px;
}
.bodyMid3Col {
    padding-right: 20px;
    padding-left: 20px;
}
.bodyRight3Col {
    border-left: 1px solid #DADADA;
    padding-left: 25px;
}
.threeColumn {
    text-align: justify;
    column-count: 3;
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-gap: 45px;
    -moz-column-gap: 45px;
    -webkit-column-gap: 45px;
    column-rule: 1px solid #DADADA;
    -moz-column-rule: 1px solid #DADADA;
    -webkit-column-rule: 1px solid #DADADA;
}
.blogPostDetail .postMeta, .blogPostDetail .postTemplate3 .postMeta {
    padding-bottom: 50px;
}
.blogPostDetail .postMeta .postMetaHdr {
    color: #B5B5B5;
    font-size: 17px;
    font-weight: 700;
    padding: 50px 0;
}
.blogPostDetail .postMeta .postMetaHdr .postDate {
    color: #B5B5B5;
    display: inline;
    font-size: 17px;
    font-weight: 700;
    -moz-font-feature-settings: "case" 1;
    -moz-font-feature-settings: "case=1";
    -ms-font-feature-settings: "case" 1;
    -o-font-feature-settings: "case" 1;
    -webkit-font-feature-settings: "case" 1;
    font-feature-settings: "case" 1;
}
.blogPostDetail .postMeta .postMetaHdr .postCategory {
    color: #B5B5B5;
    display: inline;
    font-size: 17px;
    font-weight: 700;
    padding: 0;
}
.blogPostDetail .postMeta .postMetaHdr .postCategory a {
    color: #B5B5B5;
    text-decoration: none;
}
.blogPostDetail .postMeta .postMetaHdr .postMetaDivider {
    padding: 0 7px;
}
.blogPostsWrapper .postSharing {
    float: left;
    height: 20px;
    margin-left: 10px;
    position: relative;
    font-size: 12px;
}
.postSharing label {
    background: url(../images/blog/Share_Icon.jpg) left 3px no-repeat;
    display: block;
    float: left;
    height: 20px;
    text-align: left;
    margin: 0;
    padding: 0 0 0 16px;
    font-weight: 700;
    font-size: 12px;
}
.blogPostsWrapper .sharingButtons {
    display: none;
    background-color: #FFF;
    border: 1px solid #DADADA;
    height: 21px;
    margin: -15px 0 0 74px;
    padding: 10px 15px;
    position: absolute;
    width: 400px;
}
.blogPostsWrapper .postSharing a {
    display: block;
    width: 28px;
    height: 28px;
    background: url(../images/blog/Share_Icon.jpg) no-repeat;
}
.blogPostsWrapper .postSharing .facebookShare {
    background-position: -90px 0;
}
.blogPostsWrapper .postSharing .facebookShare:hover {
    background-position: -90px -31px;
}
.blogPostsWrapper .sharingButtons:after, .blogPostsWrapper .sharingButtons:before {
    right: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.blogPostDetail .postBody:after, .blogPostDetail .postSharing:after, .blogThumbnails:after, .categoryLPContent ul:after {
    content: ".";
    visibility: hidden;
}
.blogPostsWrapper .sharingButtons:after {
    border-right-color: #fff;
    border-width: 7px;
    top: 55%;
    margin-top: -7px;
}
.blogPostsWrapper .sharingButtons:before {
    border-right-color: #DADADA;
    border-width: 7px;
    top: 55%;
    margin-top: -7px;
}
.blogPostDetail .postSharing {
    border-top: 1px solid #DADADA;
    border-bottom: 1px solid #DADADA;
    text-align: center;
    height: 21px;
    padding: 5px;
    margin: 50px 0 30px;
}
.blogPostDetail .postSharing:after {
    clear: both;
    display: block;
    height: 0;
}
.blogPostDetail .postSharingInner {
    display: inline-block;
}
.blogPostDetail .postSharing label {
    margin-right: 66px;
}
.blogPostDetail .sharingButtons {
    float: left;
    height: 21px;
}
.postSharing .share-wrapper .share-holder {
    float: left;
}
.postSharing .share-wrapper .share-title {
    margin-bottom: 0;
    margin-top: 0;
    color: #000;
}
.postSharing .share-wrapper .share-link {
    margin-bottom: 0;
    margin-top: 0;
}
.blogPostDetail .postBody {
    font-weight: 100;
    color: #000;
    font-size: 19px;
    line-height: 1.89em;
}
.blogPostDetail .postBody:after {
    clear: both;
    display: block;
    height: 0;
}
.blogPostDetail .postBody p {
    padding-bottom: 1.89em;
}
.blogPostDetail .postSharing.sticky-share-footer {
    display: block;
    position: fixed;
    left: 0;
    bottom: -33px;
    z-index: 200;
    background-color: #FFF;
    border-top: 1px solid #F1EAE9;
    border-bottom: 0 none;
    width: 100%;
    height: 33px;
    margin: 0;
    transition: bottom .15s ease-out;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.blogPostDetail .postSharing.sticky-share-footer.toggled-on {
    bottom: 0;
    transition: bottom .25s ease-in;
}
.searchLabels {
    background-color: #F1F1F1;
    border: 1px solid #DADADA;
    min-height: 240px;
    padding: 20px 0;
}
.searchLabels h4 {
    display: block;
    padding: 0 0 20px;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
}
.searchLabels ul {
    padding: 0 20px;
    margin: 0;
    clear: both;
}
.searchLabels li {
    display: block;
    float: left;
    width: 20%;
    padding-bottom: 5px;
}
.searchLabels li a {
    display: block;
    text-decoration: none;
    color: #2E2E2E;
    padding: 0 5px 0 0;
    font-size: 13px!important;
}
.searchLabels li a:hover {
    text-decoration: underline;
}
.archiveFilters a, .blogIssue a, .blogPaging a, .blogPaging a:hover, .blogThumbnails li a, .categoryLPContent h3, .commentslink {
    text-decoration: none;
}
.labelSearchBox {
    position: absolute;
    right: 20px;
    background-color: #FFF;
    border: 1px solid #DADADA;
    height: 21px;
    line-height: 21px;
}
.labelSearchBox .searchInput {
    background-color: transparent;
    border: 0;
    font-size: 12px;
    font-weight: 400;
    margin: 0;
    padding: 0;
    width: 120px;
}
.labelSearchBox .searchInput:focus {
    background-color: transparent!important;
}
.labelSearchBox button {
    background: url(../images/blog/right-column_Search_Icon.jpg) no-repeat;
    border: 0;
    cursor: pointer;
    height: 21px;
    margin: 0;
    padding: 0;
    width: 20px;
    position: absolute;
    right: 0;
}
.divine-slideshow-next, .divine-slideshow-next a, .divine-slideshow-prev, .divine-slideshow-prev a {
    width: 49px!important;
    height: 49px!important;
}
.viewAllLabels {
    display: block;
    background-color: #DADADA;
    padding: 10px 0;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.divine-slideshow-next {
    left: auto!important;
    right: 0;
}
.divine-slideshow-prev a {
    background: url(../images/blog/white_btn_left.png) no-repeat!important;
}
.divine-slideshow-next a {
    background: url(../images/blog/white_btn_right.png) no-repeat!important;
}
.divine-slideshow li cite {
    font-size: 16.5px;
    font-weight: 100;
    color: #969696;
    line-height: 1.5em;
    padding: 0 20px;
}
.readmore {
    display: block;
    margin: 15px 0;
    /*background: url(../images/blog/Read-MORE_sprite.gif) no-repeat;*/
    width: 98px;
    height: 28px;
    text-indent: -9999px;
}
.readmore:hover {
    background-position: 0 -28px;
}
.commentslink {
    display: block;
    float: left;
    padding-left: 18px;
    background: url(../images/blog/Comment_Icon.jpg) left center no-repeat;
    color: #2E2E2E!important;
    font-size: 12px;
    font-weight: 700;
}
.blogPostOuter dl.timeline {
    height: auto;
    width: auto;
    overflow: visible;
}
.blogPostOuter .timeline dt {
    float: left;
    clear: left;
    width: 110px;
    font-weight: 400;
    font-size: 14px;
    font-style: italic;
    padding-top: 7px;
}
.blogPostOuter .timeline dd {
    padding: 7px 0 27px 120px;
    border-bottom: 1px solid #DADADA;
}
.blogPostOuter .timeline dd:last {
    border-bottom: 0 none;
}
.blogPostOuter .QandA dt {
    font-weight: 700;
    font-size: 16px;
    font-style: italic;
    padding-bottom: 5px;
}
.blogPostOuter .QandA dd {
    padding-bottom: 20px;
}
.blogPostsWrapper .blogPostOuter {
    float: left;
    margin: 0;
    padding: 0 30px 50px;
    position: relative;
    width: 28%;
    height: 360px;
}
.blogPostsWrapper .postCategory {
    display: none;
    padding: 0 0 5px;
    font-size: 14px;
}
.blogPostsWrapper .postDate {
    display: none;
    padding: 5px 0 0;
}
.blogPostsWrapper .postBody {
    min-height: 90px;
    position: relative;
    text-align: center;
}
.blogPostsWrapper .postBody .postDetail {
    font-family: SamsungSans;
    display: block;
    background-color: #FFF;
    padding: 10px 15px 0;
    margin: 0;
    height: 40px;
    overflow: hidden;
    position: absolute;
    bottom: 40px;
    max-width: 360px;
    -webkit-transition: height .3s;
    -moz-transition: height .3s;
    -o-transition: height .3s;
    transition: height .3s;
}
.blogPostsWrapper .postBody .postDetail h2 {
    display: none;
    padding-bottom: 10px;
}
.blogPostsWrapper .postImage {
    width: 360px;
    height: 240px;
    max-height: 282px;
    overflow: hidden;
    margin-bottom: 30px;
    box-sizing: border-box;
}
.blogPostsWrapper .postImage img {
    display: block;
    max-width: 100%;
    height: auto;
}
.blogPostsWrapper .postBody .divine-slideshow, .blogPostsWrapper .postBody .postImage, .blogPostsWrapper .postBody embed, .blogPostsWrapper .postBody iframe, .blogPostsWrapper .postBody img, .blogPostsWrapper .postBody object {
    display: none;
}
.blogPostsWrapper .postBody .postBody {
    float: none;
    padding: 0;
    width: auto;
}
.blogPostsWrapper .postFooter {
    display: none;
    width: 309px;
    position: absolute;
    bottom: 0;
    padding: 10px 0;
}
.blogPaging a, .blogPostsWrapper .loader {
    font-family: SamsungSans, Helvetica, Tahoma, sans-serif;
    font-size: 18px;
    font-weight: 400;
    padding: 8px 0;
}
.blogPostsWrapper h2, .blogPostsWrapper h2 a {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 1em;
    letter-spacing: normal;
}
.blogPostsWrapper .postMeta h2, .blogPostsWrapper .postMeta h2 a {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 400;
}
.blogPostsWrapper h2 .part1, .blogPostsWrapper h2 .part2, .blogPostsWrapper h2 em, .blogPostsWrapper h2 i {
    display: inline;
    font-style: normal;
}
.blogPostsWrapper .postLabels label {
    display: block;
}
.blogPostsWrapper .readmore {
    bottom: 0;
    left: 50%;
    margin: 0 0 0 -49px;
    position: absolute;
    /*background-image: url(../images/blog/Read-MORE_sprite2.gif);*/
}
.blogPostsWrapper .divine-slideshow li img, .blogPostsWrapper .divine-slideshow-container, .blogPostsWrapper .divine-slideshow-container div, .blogPostsWrapper .divine-slideshow-container li {
    max-width: 100%!important;
    height: auto!important;
}
.blogPostsWrapper .divine-slideshow-next, .blogPostsWrapper .divine-slideshow-prev {
    top: 50%!important;
    margin-top: -25px!important;
}
.blogPostsWrapper .loader {
    clear: both;
}
.blogPaging {
    text-align: center;
    clear: both;
    margin: 0;
    font-weight: 400;
}
.blogPaging .previousPage {
    display: none;
}
.blogPaging .nextPage {
    float: none;
}
.blogPaging a {
    color: #000;
    text-transform: uppercase;
    border: 1px solid #000;
    display: block;
    margin: 0 auto;
    width: 250px;
}
.blogCategoryLPWrapper .moreToExplore .sectiontitle, .blogCategoryLPWrapper .postBody img {
    display: none;
}
.blogCategoryLPWrapper .blogPostOuter {
    padding: 0;
}
.blogCategoryLPWrapper .sectiontitle {
    font-size: 48px;
    line-height: 1em;
    font-weight: 100;
    font-style: normal;
    text-align: center;
    padding: 50px 0;
    letter-spacing: -.05em;
}
.blogCategoryLPWrapper .postImage {
    max-height: 400px;
    overflow-y: hidden;
}
.blogCategoryLPWrapper .postMeta {
    margin-top: 30px;
}
.blogCategoryLPWrapper .readmore {
    text-indent: -999999px;
    margin: 15px auto 0;
}
.blogCategoryLPWrapper .moreToExplore {
    overflow: hidden;
}
.categoryLPContent h3 {
    color: #2E2E2E;
    font-size: 36px;
    line-height: 1em;
    letter-spacing: -.05em;
    font-weight: 400;
    padding: 0;
    text-transform: none;
}
.blogArchiveWrapper .sectiontitle, .blogIssuesWrapper .sectiontitle {
    font-size: 48px;
    font-weight: 100;
    line-height: 1em;
    font-style: normal;
    text-align: center;
}
.categoryLPContent .postDate {
    margin-bottom: 10px;
}
.categoryLPContent hr {
    width: 694px;
    margin: 80px auto;
    background-color: #DADADA;
    color: #DADADA;
    height: 1px;
    border: 0;
}
.categoryLPContent .slideBody {
    margin: 10px 20px 0;
    text-align: center;
}
.categoryLPContent {
    overflow-x: hidden;
    width: 100%;
    height: auto;
}
.categoryLPContent ul {
    list-style-type: none;
    width: 999999px;
    height: auto;
}
.categoryLPContent li {
    display: block;
    float: left;
    width: 694px;
    max-width: 694px;
}
.categoryLPContent ul:after {
    clear: both;
    display: block;
    height: 0;
}
.categoryLPContent .infiniteCarousel_item {
    margin-top: 0!important;
    margin-bottom: 0!important;
    max-width: 694px;
    background-image: none!important;
}
.categoryLPContent .ic_wrapper {
    width: 960px!important;
}
.categoryLPContent .ic_peek_padding {
    padding: 0 90px;
}
.categoryLPContent .ic_left_nav {
    background: url(../images/blog/blk_btn_left.png) no-repeat;
    width: 49px!important;
    height: 49px!important;
    top: 195px!important;
}
.categoryLPContent .ic_right_nav {
    background: url(../images/blog/blk_btn_right.png) no-repeat;
    width: 49px!important;
    height: 49px!important;
    top: 195px!important;
}
.categoryLPContent .ic_left_nav img, .categoryLPContent .ic_right_nav img {
    visibility: hidden;
}
.blogArchiveWrapper {
    min-height: 700px;
}
.blogArchiveWrapper .sectiontitle {
    padding: 50px 0 30px;
}
.blogArchiveWrapper #archiveThumbs {
    border-top: 1px solid #DADADA;
    padding-top: 20px;
}
.blogArchiveWrapper .moreToExplore .sectiontitle {
    display: none;
}
.blogIssue a, .blogIssue img, .blogIssue span {
    display: block;
}
.blogArchiveWrapper .filteringloader {
    background-position: 20px 0;
}
.blogArchiveWrapper .blogPaging, .blogArchiveWrapper .pagingloader {
    padding: 0;
}
.blogIssuesWrapper {
    padding: 0 0 52px;
    margin: 0 auto;
    overflow: hidden;
}
.blogIssuesWrapper .sectiontitle {
    letter-spacing: -.05em;
    padding: 50px 0;
}
.blogIssue {
    float: left;
    padding: 0 10px 10px;
    width: 300px;
    height: 490px;
    text-align: center;
}
.blogIssue a {
    color: #000;
}
.blogIssue .issue-name, .blogIssue .issue-subtitle {
    color: #383838;
    font-family: SamsungSans;
}
.blogIssue img {
    height: auto;
    width: 100%;
    margin-bottom: 18px;
}
.blogIssue .issue-date {
    margin-bottom: 6px;
    font-weight: 700;
}
.blogIssue .issue-name {
    font-size: 18px;
    font-weight: 400;
}
.blogIssue .issue-subtitle {
    font-size: 16px;
    font-style: normal;
    font-weight: 100;
}
.blogSearchResults .moreToExplore .sectiontitle {
    display: block;
    border-bottom: 1px solid #DADADA;
    color: #808184;
    font-size: 20px;
    padding: 0 0 20px;
    text-transform: uppercase;
    text-align: center;
    font-style: normal;
}
.blogSearchResults .moreToExplore .sectiontitle .part1 {
    display: none;
}
.blogSearchResults .moreToExplore .sectiontitle .part2 * {
    display: inline;
    color: #808184;
    letter-spacing: normal;
}
.blogSearchResults #archiveThumbs {
    border-top: 0 none;
    padding: 0;
}
.blogIssueWrapper .moreToExplore .sectiontitle {
    border: 0;
    color: #2b2b2b;
    font-size: 48px;
    font-style: normal;
    font-weight: 100;
    padding: 50px 0;
    text-transform: none;
}
.blogFooter .moreToExplore {
    margin: 60px 0;
}
.blogPostDetail .moreToExplore {
    border-top: 1px solid #f1eae9;
    border-bottom: 1px solid #f1eae9;
    margin-top: 90px;
    padding-bottom: 20px;
}
.moreToExplore h3 {
    text-align: center;
    padding: 20px 0;
    font-style: normal;
    color: #000;
    font-weight: 400;
    font-size: 28px;
    letter-spacing: -.05em;
}
.moreToExplore h3 .part2 {
    font-style: normal;
}
.moreToExplore h3 .blogGreen {
    color: #000;
}
.blogThumbnails .postCategory, .blogThumbnails .postCategory a {
    text-transform: uppercase;
    color: #6B6B6B;
}
.moreToExplore h3 .itemscount {
    display: none;
}
.blogPostDetail .moreToExplore h3.sectiontitle {
    padding: 50px 0;
}
.blogThumbnails {
    padding: 0;
    margin: 0;
}
.blogThumbnails:after {
    clear: both;
    display: block;
    height: 0;
}
.blogThumbnails li {
    display: block;
    float: left;
    height: 290px;
    overflow: hidden;
    padding: 10px 18px 20px;
    text-align: center;
    width: 156px;
}
.blogThumbnails li a {
    display: block;
}
.blogThumbnails .postThumb {
    display: block;
    height: 156px;
}
.blogThumbnails .postThumb img {
    display: block;
    width: 156px;
    height: 156px;
}
.blogThumbnails .postCategory {
    display: none;
}
.blogThumbnails .postTitle {
    font-family: Georgia, serif;
    display: block;
    color: #000;
    font-size: 14px;
    line-height: 1.25em;
    font-weight: 400;
    text-decoration: none;
    padding: 0;
    text-transform: none;
}
.postTemplate3 .QandA dt, .postTemplate4 .quoteBy, .postTemplate4 .quoteText {
    font-family: SamsungSans;
    font-weight: 400;
    letter-spacing: -.05em;
}
.blogThumbnails .postTitle .part1 {
    display: inline;
}
.blogThumbnails .postTitle .part2 {
    display: inline;
    font-style: normal;
}
.blogPostDetail .moreToExplore .postTitle {
    font-size: 15px;
}
.blogThumbnails .postDate {
    display: block;
    padding: 18px 0 14px;
    color: #000;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: .01em;
    line-height: 1em;
}
.blogContentWrapper .blogThumbnails li {
    padding: 10px;
}
.blogArchiveWrapper .blogThumbnails li {
    padding: 10px 2px 20px;
}
.blogArchiveWrapper .blogThumbnails .postCategory {
    display: block;
    padding: 8px 0 0;
    line-height: 1em;
}
.blogArchiveWrapper .blogThumbnails .postTitle {
    padding: 0;
}
.blogArchiveWrapper .blogThumbnails .postDate {
    padding-top: 12px;
}
.archiveFiltering {
    width: 80px;
    margin: 0 auto;
}
.archiveFilterBtn {
    border: 0;
    padding: 0;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
    width: 80px;
    height: 28px;
    line-height: 28px;
}
.archiveFilterContent {
    display: none;
    left: 50%;
    margin-left: -270px;
    position: absolute;
    width: 540px;
}
.archiveFiltering:hover .archiveFilterContent, .archiveFilters li {
    display: block;
}
.archiveFilterTip {
    border-color: transparent transparent #333;
    border-style: solid;
    border-width: 7px;
    width: 0;
    height: 0;
    margin: -7px auto;
}
.archiveFilters {
    background-color: #333;
    color: #FFF;
    margin-top: 7px;
    padding: 40px 20px;
}
.archiveFilters .maincategories, .archiveFilters .subcategories {
    border-left: 1px solid #DADADA;
    padding: 0 0 0 30px;
    min-width: 180px;
    float: left;
}
.archiveFilters a {
    color: #FFF;
}
.archiveFilters .maincategories {
    margin: 0 0 0 20px;
}
.archiveFilters .subcategories {
    margin: 0 20px 0 30px;
}
.archiveFilters span {
    display: block;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.archiveFilters .children {
    display: none;
}
.archiveFilters .subcategories .children {
    display: block;
}
.archiveYears {
    clear: both;
    padding: 40px 0 0;
    text-align: center;
}
.archiveYears ul {
    border: 0;
    display: table;
    margin: 30px auto 0;
}
.archiveYears li {
    display: table-cell;
    border-left: 1px solid #DADADA;
    font-size: 16px;
}
.archiveYears li.first {
    border: 0;
}
.archiveYears li a {
    display: block;
    padding: 6px 15px;
    margin: 4px 0 0;
}
.archiveYears li.selected a {
    background-color: #666;
}
.archiveFilters .categories a, .archiveFilters .subcategories a {
    display: block;
    background: url(../images/blog/archive_checkbox.png) -6px -23px no-repeat;
    padding: 0 0 3px 23px;
}
.archiveFilters .categories .selected a, .archiveFilters .subcategories .selected a {
    background-position: -6px -5px;
}
.postTemplate11:after, .postTemplate1:after, .postTemplate2:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
.postTemplate1 .postImage, .postTemplate11 .postImage, .postTemplate2 .postImage {
    float: left;
    width: 480px;
}
.postTemplate1 .postBody, .postTemplate11 .postBody, .postTemplate2 .postBody {
    float: right;
    width: 450px;
}
.postTemplate1 .postMeta, .postTemplate11 .postMeta, .postTemplate2 .postMeta {
    float: right;
    width: 450px;
    padding: 0 0 50px;
}
.postTemplate1 .postLabels, .postTemplate11 .postLabels, .postTemplate2 .postLabels {
    clear: left;
    float: left;
}
.postTemplate1 dl.QandA {
    padding: 0 50px;
}
.postTemplate1 .divine-slideshow li cite, .postTemplate2 .divine-slideshow li cite {
    width: auto!important;
    text-align: left;
    font-style: italic;
    color: #6B6B6B;
    font-size: 12px;
}
.postTemplate3 .postBody, .postTemplate3 .postLabels, .postTemplate3 h3 {
    text-align: center;
}
.postTemplate2 dl.timeline {
    width: 377px;
    margin: 0 auto;
}
.postTemplate4 .divine-slideshow-next, .postTemplate4 .divine-slideshow-next a, .postTemplate4 .divine-slideshow-prev, .postTemplate4 .divine-slideshow-prev a {
    width: 49px!important;
    height: 49px!important;
}
.postTemplate1 .postProducts, .postTemplate11 .postProducts {
    clear: both;
}
.postTemplate11 .postBody img {
    margin-top: 15px;
}
.postTemplate11 .postBody .wp-caption-text {
    padding-top: 30px;
}
.postTemplate3 .postMeta {
    padding: 0 0 10px;
}
.postTemplate3 h3 {
    padding: 20px 70px 50px;
}
.postTemplate3 .QandA dt {
    color: #8C7C3D;
    font-size: 24px;
    line-height: 1.5em;
    padding-bottom: 5px;
}
.postTemplate4 h2 .part2 {
    color: #8C7C3D;
}
.postTemplate4 .postMeta {
    padding: 0 0 40px;
}
.postTemplate4 .postLabels {
    clear: left;
    float: left;
    padding-left: 15px;
}
.postTemplate4 .divine-slideshow-prev a {
    background: url(../images/blog/blk_btn_left.png) no-repeat!important;
}
.postTemplate4 .divine-slideshow-next a {
    background: url(../images/blog/blk_btn_right.png) no-repeat!important;
}
.postTemplate5:after, .postTemplate6:after {
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
.postTemplate4 .divine-slideshow li img {
    float: left;
}
.postTemplate4 .divine-slideshow li dl {
    text-align: left;
}
.postTemplate4 .divine-slideshow li .aligncenter {
    text-align: center;
}
.postTemplate4 .divine-slideshow li cite {
    width: auto;
    clear: left;
    float: left;
    padding: 0 0 0 15px;
    margin: 0;
    font-style: italic;
    color: #6B6B6B;
    font-size: 12px;
}
.postTemplate4 .divine-slideshow li.imageOnRight img {
    float: right;
}
.postTemplate4 .divine-slideshow li.imageOnRight cite {
    clear: right;
    float: right;
    padding: 0 15px 0 0;
}
.postTemplate4 .quoteBy, .postTemplate4 .quoteText {
    text-align: center;
    font-style: italic;
    font-size: 26px;
    line-height: 1.25em;
    padding: 0 10px;
}
.postTemplate4 .giantQuote {
    font-family: SamsungSans;
    display: block;
    font-size: 150px;
    line-height: 1em;
    color: #DADADA;
    margin-bottom: -15%;
    text-align: center;
}
.postTemplate4 .slideBody {
    width: 440px!important;
    float: right;
    padding: 20px;
    text-align: center;
}
.postTemplate4 .divine-slideshow li.imageOnRight .slideBody {
    float: left;
}
.postTemplate5:after {
    clear: both;
}
.postTemplate5 .postImage {
    float: left;
    width: 480px;
    overflow: hidden;
}
.postTemplate5 .postBody {
    float: right;
    width: 450px;
}
.postTemplate5 .postMeta {
    float: right;
    width: 450px;
    padding: 0 0 40px;
}
.postTemplate5 .postLabels {
    clear: left;
    float: left;
}
.postTemplate5 h3 {
    text-align: center;
    padding: 0 0 50px;
}
.postTemplate6:after {
    clear: both;
}
.postTemplate6 .postImage {
    float: left;
    width: 480px;
}
.postTemplate6 .postBody {
    float: right;
    width: 450px;
}
.postTemplate6 .postMeta {
    float: right;
    width: 450px;
    padding: 0 0 40px;
}
.postTemplate6 .postLabels {
    clear: left;
    float: left;
}
.postTemplate6 .divine-slideshow li cite {
    width: auto!important;
    text-align: left;
    font-style: italic;
    color: #6B6B6B;
    font-size: 12px;
}
.postTemplate6 .postPortrait {
    display: table;
    margin-bottom: 30px;
}
.postTemplate6 .postPortraitImg {
    display: table-cell;
}
.postTemplate6 .postPortraitInfo {
    display: table-cell;
    vertical-align: bottom;
    padding: 18px 0;
}
.postTemplate6 .postPortrait .hdr3 {
    color: #000;
    display: block;
    padding: 0;
}
.postTemplate6 .postPortrait .hdr4 {
    color: #666;
    display: block;
    padding: 0;
    font-size: 12px;
    letter-spacing: -.05em;
    text-transform: uppercase;
}
.postTemplate6 h3 {
    text-align: center;
    padding: 0 0 50px;
}
.postTemplate7 .postBody {
    display: table;
    margin-top: 40px;
}
.postTemplate7 .postBody .bodyLeft {
    display: table-cell;
    width: 50%;
    padding: 0 50px 0 0;
}
.postTemplate7 .postBody .bodyRight {
    display: table-cell;
    width: 50%;
    padding: 0 0 0 50px;
    border-left: 1px solid #DADADA;
}
.postTemplate7 .postLabels {
    text-align: center;
    border-bottom: 1px solid #DADADA;
    padding-bottom: 12px;
    margin-bottom: 0;
}
.postTemplate7 h4 {
    padding: 0;
    color: #000;
}
.postTemplate7 h5 {
    color: #666;
    font-size: 12px;
    text-transform: uppercase;
}
.postTemplate7 .servings {
    color: #666;
    font-size: 11px;
}
.postTemplate7 .postBody ul {
    list-style-position: outside;
    list-style-type: disc;
    padding: 20px 50px;
}
.postTemplate7 .postBody ul li {
    padding-bottom: 3px;
}
.postTemplate8 .postMeta {
    padding: 0 0 20px;
}
.postTemplate8 .postLabels {
    text-align: center;
    padding: 20px 0;
}
.postTemplate8 .postBody, .postTemplate8 .postImage {
    text-align: center;
}
.postTemplate8 h3 {
    padding: 20px 50px 30px;
}
.postTemplate8 h4 {
    border-bottom: 1px solid #DADADA;
    padding: 20px 0 5px;
}
.postTemplate8 ol {
    text-align: left;
    padding: 30px 50px;
    margin: 0 0 20px;
}
.postTemplate10 h3, .postTemplate50, .postTemplate9 .postLabels {
    text-align: center;
}
.postTemplate8 ol li {
    line-height: 1.6em;
    margin: 0;
    padding: 0 10px;
    width: 400px;
}
.postTemplate8 ol li.column2 {
    margin-left: 470px;
}
.postTemplate9 .postMeta {
    padding: 0 0 20px;
}
.postTemplate9 .postBody {
    position: absolute;
    width: 960px;
    height: 150px;
    background: url(../images/blog/styletips_background.png);
    color: #FFF;
}
.postTemplate9 .styleTipsWrapper {
    position: relative;
    overflow: hidden;
}
.postTemplate9 .styleTips {
    position: absolute;
    width: 960px;
    height: 150px;
    list-style-type: none;
}
.postTemplate9 li {
    display: none;
    position: absolute;
    width: 900px;
    height: 120px;
    padding: 15px 30px;
}
.horizontalAccordion li, .horizontalAccordion ul {
    list-style-type: none;
    position: relative;
    outline: 0;
}
.postTemplate9 .styleTips h3 {
    color: #FFF;
    font-style: normal;
}
.postTemplate10 .postMeta {
    padding: 0 0 30px;
}
.postTemplate10 h2 .part1, .postTemplate10 h2 .part2 {
    display: inline;
}
.postTemplate10 .postBody {
    margin-top: 40px;
}
.postTemplate10 h3 {
    margin: 0 auto 20px;
    width: 85%}
.postTemplate10 .postLabels {
    border-top: 1px solid #DADADA;
    margin: 80px auto 0;
    padding: 60px 0 10px;
    text-align: center;
}
.horizontalAccordion {
    display: block;
    width: 960px;
    height: 701px;
    overflow: hidden;
    outline: 0;
}
.horizontalAccordion ul {
    display: block;
    width: auto;
    height: 701px;
    white-space: nowrap;
}
.horizontalAccordion li {
    display: block;
    width: 192px;
    height: 665px;
    overflow: hidden;
    float: left;
}
.horizontalAccordion li img {
    left: -23px;
    position: absolute;
    outline: 0;
    -webkit-tap-highlight-color: transparent;
}
.horizontalAccordion li.open .rollover {
    display: none;
    opacity: 1;
}
.horizontalAccordion li.slide1 .rollover {
    left: 0;
}
.horizontalAccordion li.slide2 .rollover {
    left: -192px;
}
.horizontalAccordion li.slide3 .rollover {
    left: -384px;
}
.horizontalAccordion li.slide4 .rollover {
    left: -576px;
}
.horizontalAccordion li.slide5 .rollover {
    left: -768px;
}
.blogPostsWrapper .horizontalAccordion {
    width: 730px;
    height: 533px;
}
.blogPostsWrapper .horizontalAccordion ul {
    height: 533px;
}
.blogPostsWrapper .horizontalAccordion li {
    width: 146px;
    height: 505px;
}
.blogPostsWrapper .horizontalAccordion li img {
    width: 730px;
    height: 533px;
    left: -17.49px;
}
.blogPostsWrapper .horizontalAccordion li.slide2 .rollover {
    left: -146px;
}
.blogPostsWrapper .horizontalAccordion li.slide3 .rollover {
    left: -292px;
}
.blogPostsWrapper .horizontalAccordion li.slide4 .rollover {
    left: -438px;
}
.blogPostsWrapper .horizontalAccordion li.slide5 .rollover {
    left: -584px;
}
@media screen and (max-width:767px) {
    .horizontalAccordion {
    max-width: 99%;
    margin: 0 auto;
}
.postImage .horizontalAccordion {
    max-width: 100%}
.horizontalAccordion li img {
    max-width: none;
}
.postImage .horizontalAccordion li img {
    max-width: none!important;
}
}.postTemplate50 .postMeta {
    border: 0;
    margin-bottom: 20px;
}
.postTemplate50 .movedLabels {
    width: 480px;
    margin: 8px auto 25px;
    text-align: left;
}
.postTemplate50 .postBody {
    width: 480px;
    margin: 0 auto;
    text-align: left;
}
@media screen and (max-width:1279px) {
    .blogPostsWrapper .blogPostOuter {
    width: 31%;
    padding-left: 1%;
    padding-right: 1%}
.blogPostsWrapper .postImage {
    max-width: 100%}
}@media screen and (max-width:959px) {
    .blogNav a {
    font-size: 11px;
    padding: 0 9px;
}
.blog #main .stickyPosts h3 {
    font-size: 20px;
}
.blogFooter .blog-followus {
    padding: 0 10px;
}
.blogFooter .blog-followus p {
    padding: 0 1.3%;
    width: 14%}
.blog-search-button.desktop-search-box {
    padding-right: 12px;
}
.blogIssuesWrapper {
    max-width: 100%}
.blogIssuesWrapper .blogIssue {
    max-width: 31%;
    padding-left: 1%;
    padding-right: 1%}
.postTemplate1, .postTemplate11, .postTemplate2 {
    padding-left: 27px;
    padding-right: 27px;
}
.postTemplate1 .postImage, .postTemplate11 .postImage, .postTemplate2 .postImage {
    width: 50%}
.postTemplate1 .postBody, .postTemplate1 .postMeta, .postTemplate11 .postBody, .postTemplate11 .postMeta, .postTemplate2 .postBody, .postTemplate2 .postMeta {
    width: 46.875%}
.postTemplate7 .postBody .bodyLeft {
    padding-left: 27px;
}
.postTemplate7 .postBody .bodyRight {
    padding-right: 27px;
}
.blogPostDetail .moreToExplore .scroll-horizontal {
    padding-left: 9px;
    overflow-y: hidden;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
}
.blogPostDetail .moreToExplore .scroll-horizontal .blogThumbnails {
    width: 1280px;
    overflow: visible;
    display: table;
}
.blogPostDetail .moreToExplore .scroll-horizontal .blogThumbnails li {
    padding-top: 0;
    width: 256px;
    max-width: 256px;
    height: auto;
    display: table-cell;
    float: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.blogPostDetail .moreToExplore .scroll-horizontal .blogThumbnails .postThumb {
    height: auto;
}
.blogPostDetail .moreToExplore .scroll-horizontal .blogThumbnails .postThumb img {
    max-width: 220px;
    width: 100%;
    height: auto;
}
}@media screen and (max-width:374px) {
    .blogPostDetail .moreToExplore .scroll-horizontal .blogThumbnails {
    width: 1010px;
}
.blogPostDetail .moreToExplore .scroll-horizontal .blogThumbnails li {
    width: 202px;
    max-width: 202px;
}
}@media screen and (max-width:767px) {
    #theLatest, .blogFooter, .blogLP .blogNav, .blogNav ul, .blogRightColumn, .stickyPosts {
    display: none;
}
.searchTheBlog .searchInput {
    width: 110px;
}
.blogNav {
    padding-bottom: 0;
    border-bottom: 0 none;
}
.blogLogo {
    height: 58px;
    padding: 0 5px 5px;
    border-bottom: 1px solid #eee;
    margin-bottom: 0;
}
.blogPostDetail .blogPostOuter .postMeta {
    float: none;
    padding: 0 10px 25px;
    width: auto;
}
.blogPostOuter .postCategory {
    font-size: 12px;
    padding: 0 0 5px;
}
.blogPostOuter h2, .blogPostOuter h2 a {
    font-size: 26px;
}
.blogPostOuter .postImage {
    float: none;
    padding-left: 0!important;
    padding-right: 0!important;
    width: auto;
    margin: 0 auto;
    text-align: center;
    overflow: visible;
    max-height: none;
}
.blogPostOuter .postImage img {
    float: none;
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    text-align: center;
}
.blogPostOuter .postImage .wp-caption-text {
    padding-left: 27px;
    padding-right: 27px;
    font-size: 13px;
}
.blogPostOuter .postLabels {
    float: none;
    padding-left: 10px;
    padding-right: 10px;
    width: auto;
    text-align: center;
}
.blogPostOuter .postBody {
    display: block;
    float: none;
    padding-left: 27px!important;
    padding-right: 27px!important;
    width: auto;
}
.blogPostsWrapper .postFooter, .postPaging {
    display: none;
}
.blogPostOuter .hdr3, .blogPostOuter h3 {
    font-size: 15px;
}
.blogPostDetail .postBody {
    font-size: 14px;
    text-align: left;
}
.postTemplate1, .postTemplate11, .postTemplate2 {
    padding-left: 0;
    padding-right: 0;
}
.postTemplate8 h3 {
    padding: 0 0 20px;
}
.postTemplate8 ol {
    padding: 30px 20px;
}
.blogPostDetail .postMeta .postMetaHdr {
    font-size: 11px;
    padding: 5px 0 20px;
}
.blogPostDetail .postMeta .postMetaHdr .postCategory, .blogPostDetail .postMeta .postMetaHdr .postDate {
    font-size: 11px;
}
.blogPostDetail .postMeta h2, .blogPostDetail .postMeta h2 a {
    font-size: 19px;
}
.blogPostsWrapper {
    border: 0;
    float: none;
    padding: 15px;
    background-color: #FCF7F3;
}
.blogPostsWrapper .blogPostOuter {
    height: auto;
    margin: 0 0 15px;
    padding: 0;
    position: static;
    width: auto;
    max-width: none;
    float: none;
    background-color: #fff;
    border: 2px solid #e8e8e8;
}
.blogPostsWrapper .postMeta {
    padding: 10px 10px 0;
}
.blogPostsWrapper .postBody {
    padding: 10px 10px 15px;
}
.blogPostsWrapper .blogPostOuter:hover .postBody .postDetail h2, .blogPostsWrapper .postBody .postDetail h2 {
    display: none!important;
}
.blogPostsWrapper .readmore {
    margin: 0 auto;
    position: static;
}
.blogPostsWrapper h2, .blogPostsWrapper h2 a {
    font-size: 17px;
}
.blogPostsWrapper .postBody .postDetail {
    height: auto;
    max-width: none;
    overflow: visible;
    padding: 0;
    position: static;
}
.blogPostsWrapper .blogPostOuter:hover .postBody .postDetail {
    height: auto;
}
.blogPostDetail .moreToExplore h3 span.part1, .blogPostDetail .moreToExplore h3 span.part2, .blogPostDetail .postSharing {
    display: none;
}
.blogPostsWrapper .blogPaging {
    background-color: #fff;
    clear: both;
    font-weight: 400;
    margin: 0 0 -15px -15px;
    padding: 25px 15px 15px;
    width: 100%}
.blogPostDetail .moreToExplore {
    display: none;
    overflow: hidden;
}
.blogPostDetail .moreToExplore h3.sectiontitle {
    text-align: left;
    font-size: 19px;
    padding: 40px 27px 20px;
}
.blogPostDetail .moreToExplore h3 span.related-articles {
    display: block!important;
}
.blogPostDetail .postSharing.sticky-share-footer {
    display: block;
    position: fixed;
    padding: 10px;
    bottom: -43px;
    z-index: 200;
    background-color: #FFF;
    width: 100%;
    height: 43px;
    margin: 0;
    transition: bottom .15s ease-out;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.divine-slideshow li img, .divine-slideshow-container, .divine-slideshow-container div, .divine-slideshow-container li {
    max-width: 100%!important;
    height: auto!important;
}
.blogPostDetail .postSharing.sticky-share-footer.toggled-on {
    bottom: 0;
    transition: bottom .25s ease-in;
}
.postTemplate3 h3 {
    padding: 0 0 10px;
    text-align: left;
}
.postTemplate8 ol li {
    width: auto;
}
.postTemplate8 ol li.column2 {
    margin: 0!important;
}
.divine-slideshow ul {
    list-style: none;
}
.divine-slideshow-next, .divine-slideshow-prev {
    top: 50%!important;
    margin-top: -25px!important;
}
.divine-slideshow li cite {
    width: 90%!important;
    height: auto;
    max-width: 100%;
    position: static;
    font-size: 13px;
    display: block;
    padding: 0 5%}
.categoryLPContent {
    display: none;
}
.archiveFiltering {
    width: 100%}
.archiveFilterBtn {
    margin: 0 auto;
}
.archiveFilterContent {
    position: static;
    margin-left: 0;
}
.archiveFilters {
    padding: 0 10px 20px 0;
}
.archiveFilters div {
    min-width: 40%;
    border-left: 0 none;
    margin: 0;
    padding: 20px 10px 0;
}
.archiveYears ul {
    margin-top: 20px;
}
.postProducts h5 {
    padding-left: 10px;
    padding-right: 10px;
}
.postTemplate10 .postLabels {
    margin-top: 20px;
    padding-top: 20px;
}
.postTemplate7 .postBody {
    display: block;
}
.postTemplate7 .postBody .bodyLeft, .postTemplate7 .postBody .bodyRight {
    display: block;
    padding: 0;
    border: 0;
    width: auto;
}
.blogIssuesWrapper .blogIssue {
    float: none;
    margin: 0 auto;
    max-width: none;
    padding: 0 10px 60px;
}
.threeCol {
    display: block;
}
.bodyLeft3Col, .bodyMid3Col, .bodyRight3Col {
    border: 0;
    display: block;
    padding: 0;
    text-align: unset;
    width: auto;
}
.threeColumn {
    text-align: unset;
    column-count: 1;
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-gap: 0;
    -moz-column-gap: 0;
    -webkit-column-gap: 0;
    column-rule: 0 none;
    -moz-column-rule: 0 none;
    -webkit-column-rule: 0 none;
}
a.spotifylink {
    font-size: 15px;
    display: block;
    width: 60%;
    margin: 0 auto;
    line-height: 16px;
    text-align: center;
}
.blogThumbnails .postDate {
    font-size: 12px;
}
.blogThumbnails .postTitle {
    font-size: 15px;
}
.blogArchiveWrapper .moreToExplore, .blogCategoryLPWrapper .moreToExplore {
    padding: 0 9px;
}
.blogArchiveWrapper .sectiontitle, .blogCategoryLPWrapper .sectiontitle, .blogIssueWrapper .moreToExplore .sectiontitle, .blogIssuesWrapper .sectiontitle {
    font-size: 28px;
    padding: 27px;
}
.blogArchiveWrapper .blogThumbnails li, .blogCategoryLPWrapper .blogThumbnails li {
    padding-left: 2%;
    padding-right: 2%;
    width: 46%}
.blogArchiveWrapper .blogThumbnails .postThumb, .blogCategoryLPWrapper .blogThumbnails .postThumb {
    height: auto;
}
}